<div class="container-fluid mb-3">
  <div class="row">
    <div class="col-md-12">
      <img src="../../assets/users.svg" width="30">
      <span class="title">Onboarded Users</span>
    </div>
  </div>
</div>
