<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3 pt-3">
  <div class="row text-left">
    <div class="col-md-4 justify-content-center align-self-center">
      <span class="panel-icon-circle">
        <img src="../../../assets/img/dashboard.png" class="panel-head-icon"></span>&nbsp;&nbsp;
      <span class="panel-head-text">
        Content Dashboard
      </span>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <div class="search-cont">
            <span class="search-icon">
              <i class="fa fa-search"></i>
              <!-- <fa name="cog" animation="spin"></fa> -->
            </span>
            <input type='text' class="search-input" placeholder='What are you looking for?' (keyup)='updateFilter($event)' />
          </div>
        </div>
        <div class="col-md-8">
          <ul class="filter-n-sort-ul custom-radios">
            <li class="font-weight-bold">Filter By: </li>
            <li> <input type="radio" id="color-1" class="color" name="color" value="1" (click)="changeFilter($event)">
              <label for="color-1">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Created Date</li>
            <li><input type="radio" id="color-2" name="color" class="color" value="2" (click)="changeFilter($event)">
              <label for="color-2">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Expiry Date</li>
            <li><input type="radio" id="color-3" name="color" class="color" value="3" (click)="changeFilterLater($event)">
              <label for="color-3">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Status</li>
            <li>
                            <input type="date" name="filterDate" id="filterDate" *ngIf="filterOption==='1'" class="selectUserDrop" (change)="filterListByCreatedDate($event)"/>
               
              <input type="date" name="filterDate" id="filterDate" *ngIf="filterOption==='2'" class="selectUserDrop" (change)="filterListByExpiryDate($event)"/>
              <select name="filterDate" id="filterDate" *ngIf="filterOption==='3'" class="selectUserDrop" (change)="filterListByStatus($event)">
                <option *ngFor="let author of status">{{author}}</option>
              </select> 
                            <button class="btn btn-sm refreshButton" placement="bottom" ngbTooltip="Reset" (click)="reset()" *ngIf="filterOption"><img src="/assets/img/refresh-ccw.svg" height="80%" width="80%"></button>
</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
                <ngx-datatable-column name="Title" sortable="true" prop="name">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status" sortable="true" prop="state">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date Created" sortable="true" prop="startDate">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value | date: 'dd/MM/yyyy hh:mm a'}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Expiry Date" sortable="true" prop="endDate">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value | date: 'dd/MM/yyyy hh:mm a'}}
                    </ng-template>
                </ngx-datatable-column>

                 <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="160">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button md-icon-button class="dt-icon schedule-icon" (click)="scheduleContent(row)" [disabled]="row['status']==='REJECTED'" placement="bottom" ngbTooltip="Schedule">
              <i class="fa fa-calendar"></i>
            </button>
            

            <button md-icon-button class="dt-icon edit-icon" (click)="editContent(row)" [disabled]="row['status']==='APPROVED'" placement="bottom" ngbTooltip="Edit">
              <i class="fa fa-edit"></i>
            </button>
           
            <button md-icon-button class="dt-icon delete-icon" (click)="deleteContent(row)" [disabled]="row['status']==='BLOCKED'" placement="bottom" ngbTooltip="Delete">
              <i class="fa fa-trash"></i>
            </button>

              <button md-icon-button class="dt-icon delete-icon" (click)="disableContent(row)" [disabled]="row['enabled']===undefined || row['enabled']===true" placement="bottom" ngbTooltip="Disable">
              <i class="fa fa-eye-slash"></i>
            </button>
            <button md-icon-button class="dt-icon edit-icon" (click)="enableContent(row)" [disabled]="row['enabled']===undefined || row['enabled']===false" placement="bottom" ngbTooltip="Enable">
              <i class="fa fa-eye"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->