.upload-csv-btn {
  width: 90% !important;
  display: inline-block !important;
  margin: 20px auto !important;
  padding: 5px 25px;
  border-color: #ff7700;
  position: absolute;
}

.fileInput{

  
  margin: 20px auto !important;
  padding: 5px 25px;
  border-color: #ff7700;
 position: relative;
  z-index: 2;
   opacity: 0;
}

.fileInput:hover {
  background-color: #ff7700;
  color: #fff !important;
}

.upload-csv-btn:hover {
  background-color: #ff7700;
  color: #fff !important;
}
