<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <button [disabled]="fileTarget" class="btn next-btn" [routerLink]="target" >
        {{myText}}
      </button>
    </div>
  </div>
</div>
