.nav-item {
  line-height: 0;
}

.nav-item.greeting {
  line-height: 28px;

  color: #2b79b6;
}

.nav-item img {
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.nav-item img.nav-left-icon:hover {
  background-color: #e7e7e7
}

.nav-item img.nav-right-icon {
  margin-left: 20px;
}

.btn.menu-btn {
  background-color: transparent;
  padding: 0;
  display: none;
}
