@import "../../../assets/sass/scss/gradient-variables";
.page-loading {
      opacity: 1;
      z-index: 1;
      margin-left:10%;
    }
:host /deep/ .ct-grid{
    stroke-dasharray: 0px;
    stroke: rgba(0, 0, 0, 0.1);
}

:host /deep/ .ct-label{
    font-size: 0.9rem;
}

// Line with Area Chart CSS Starts

:host /deep/ .lineArea .ct-series-a .ct-area {
    fill-opacity: 0.7;
    fill:url($dashboard1-gradient-path +  #gradient1) !important;
}

.card-body{
    padding: 20px;
}

datatable-body-cell .datatable-body-cell {
    padding: 10px;
    border: 0px !important;
    border-top: 0px !important;
}

.height-50{
    height: 50px;
    width: 50px;
}

:host /deep/ .lineArea .ct-series-b .ct-area {
    fill: url($dashboard1-gradient-path +  #gradient) !important;
    fill-opacity: 0.9;
}
:host /deep/ .lineArea .ct-line{
    stroke-width: 0px;
}
:host /deep/ .lineArea .ct-point {
    stroke-width: 0px;
}
.datatable-header{
    display: none;
}

// Line with Area Chart 1 CSS Ends

// Stack Bar Chart CSS Starts

:host /deep/ .Stackbarchart{
    .ct-series-a {
        .ct-bar{
            stroke: url($dashboard1-gradient-path +  #linear) !important
        }
    }
    .ct-series-b {
        .ct-bar{
            stroke: #e9e9e9;
        }
    }
}



// Stack Bar Chart CSS Ends

// Line with Area Chart 2 CSS Starts

:host /deep/ .lineArea2 .ct-series-a .ct-area {
    fill: url($dashboard1-gradient-path +  #gradient2) !important;
}

:host /deep/ .lineArea2 .ct-series-b .ct-area {
    fill: url($dashboard1-gradient-path +  #gradient3) !important;
}

:host /deep/ .lineArea2 .ct-point-circle {
    stroke-width: 2px;
    fill: white;
}

:host /deep/ .lineArea2 .ct-series-b .ct-point-circle{
    stroke: #843cf7;
}

:host /deep/ .lineArea2 .ct-series-b .ct-line{
    stroke: #A675F4;
}

:host /deep/ .lineArea2 .ct-series-a .ct-point-circle {
    stroke: #31afb2;
}

:host /deep/ .lineArea2 .ct-line {
    fill: none;
    stroke-width: 2px;
}

// Line with Area Chart 2 CSS Ends

// Line Chart CSS Starts

:host /deep/ .lineChart .ct-point-circle {
    stroke-width: 2px;
    fill: white;
}

:host /deep/ .lineChart .ct-series-a .ct-point-circle {
    stroke: white;
}

:host /deep/ .lineChart .ct-line {
    fill: none;
    stroke: white;
    stroke-width: 1px;
}

:host /deep/ .lineChart .ct-label {
    color: #FFF;
}

:host /deep/ .lineChartShadow {
    -webkit-filter: drop-shadow( 0px 25px 8px rgba(0,0,0,0.3) );
            filter: drop-shadow( 0px 25px 8px rgba(0,0,0,0.3) ); /* Same syntax as box-shadow, except 
                                                       for the spread property */
}

// Line Chart  CSS Ends
 
  // Donut Chart  CSS Ends
  :host /deep/ .donut .ct-done .ct-slice-donut {
    stroke: #0CC27E;
    stroke-width: 24px !important;
  }
  :host /deep/ .donut .ct-progress .ct-slice-donut {
    stroke: #FFC107;
    stroke-width: 16px !important;
  }
  :host /deep/ .donut .ct-outstanding .ct-slice-donut {
    stroke: #7E57C2;
    stroke-width: 8px !important;
  }
  
  :host /deep/ .donut .ct-started .ct-slice-donut {
    stroke: #2196F3;
    stroke-width: 32px !important;
  }

  :host /deep/ .donut .ct-label {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 20px;
    fill: #868e96;
  }

  // Donut Chart  CSS Ends

  // Bar Chart CSS Starts

  :host /deep/ .BarChart .ct-series-a .ct-bar:nth-of-type(4n+1) {
    stroke: url($dashboard1-gradient-path +  #gradient7);
  }
  :host /deep/ .BarChart .ct-series-a .ct-bar:nth-of-type(4n+2) {
    stroke: url($dashboard1-gradient-path +  #gradient5);
  }
  :host /deep/ .BarChart .ct-series-a .ct-bar:nth-of-type(4n+3) {
    stroke: url($dashboard1-gradient-path +  #gradient6);
  }
  :host /deep/ .BarChart .ct-series-a .ct-bar:nth-of-type(4n+4) {
    stroke: url($dashboard1-gradient-path +  #gradient4);
  }

  :host /deep/ .BarChartShadow {
    -webkit-filter: drop-shadow( 0px 20px 8px rgba(0,0,0,0.3) );
            filter: drop-shadow( 0px 20px 8px rgba(0,0,0,0.3) ); /* Same syntax as box-shadow, except 
                                                       for the spread property */
}

// Bar Chart CSS Ends

// Widget line Chart CSS Starts

:host /deep/ .WidgetlineChart .ct-point {
    stroke-width: 0px;
}
:host /deep/ .WidgetlineChart .ct-line{
    stroke: #000;
}


:host /deep/ .WidgetlineChart .ct-grid {
    stroke-dasharray: 0px;    
     stroke: rgba(255, 255, 255, 0.2);
}

// :host /deep/ .WidgetlineChartshadow {
//    -webkit-filter: drop-shadow( 0px 15px 5px rgba(0,0,0,0.8) );
//            filter: drop-shadow( 0px 15px 5px rgba(0,0,0,0.8) ); /* Same syntax as box-shadow, except 
//                                                       for the spread property */
//}

// Widget line Chart CSS Ends

html,body        {height: 100%;}
.wrapper         {width: 80%; max-width: 800px; height: 100%; margin: 0 auto; background: #CCC}
.h_iframe        {position: relative; padding-top: 86%;}
.h_iframe iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

datatable-body-row .datatable-row-even{
    border: none !important;
}

.datatable-body-row .datatable-row-even{
     border-top:0px !important;
     background-color: #ccc !important;
}
.datatable-body-cell{
     padding: 10px;
    border-top:0px !important;
    border-top: 0px solid #ccc;
    background-color: #ccc !important;
}
.datatable-pager{
    width: 100%;
}
.white-text{
    color: #FFF !important;
    fill: #FFF !important;
}
#card{
height: calc(100% - 38px);  
}
.f9{
    background-color: #f9f9f9;
}
.dimColor{
    color: #666666;
        
}

.font-medium{
    font-weight: 500;
   
}

.background{
   border-color: #f6f6f6;
   border-width: 3px;
}

.mar-15{
    margin: 1.5rem 1.5rem 0.5rem;
}

.chart-head{
    padding: 0px !important;
}

.card-body{
    padding:0px;
}

.span-background{
    background-color: #007bff;
}

.list-group-item{
    border: none !important;
    }

.list-group-item:not(.white-list){
    border: none !important;
    background-color: #f2f4f5;
}

.list-color{
        background-color: #f2f4f5;

}

.card-container{
    padding: 0 1.5rem 0.5rem 1.5rem;
}

.f1{
    background-color: #f1f1f1;
}

h4{
    font-size:1.15rem;
}

.d-block{
    color:grey;
}

.border-bottom-card-header{
    border-bottom: 2px solid #e7e7e7;
}

.min-height-card{
    min-height: 93%;
}

.col-md-6{
  display:grid;
}