/*2 You can add global styles to this file, and also import other style files */


body {
    background-color: #f1f1f1;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.datatable-header {
    background-color: #005271;
    border-radius: 10px 10px 0 0;
}



.datatable-header-cell-label,
.datatable-header-cell-template-wrap {
    color: #fff !important;
    font-weight: 500;
    font-size: 14px;
}

.white-bg {
    background-color: #fff;
}

.panel-head-icon {
    width: 25px;
}

.panel-head-text {
    font-size: 18px;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    padding: 0 !important;
	background-color: #fff;
	border: none !important;
	background-color: #ccc !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
	background-color: #ccc !important;
	
}

.datatable-body-cell {
    padding: 10px;
    border: none !important;
	border-top: 0px solid #ccc !important;
	background-color: #ccc !important;
}



.ngx-datatable.bootstrap .datatable-footer {
    background: transparent;
    color: #4d4d4d;
    margin-top: -1px;
    font-weight: 400
}

.ngx-datatable .datatable-footer .datatable-pager .pager li {
    line-height: 0;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li a {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 100 !important;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li.active a {
    color: #fff;
}

.ngx-datatable.bootstrap .datatable-footer .page-count {
    padding: 0;
    font-size: 14px;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
    color: #fff;
}

.datatable-body {
    border: none;
}
/* You can add global styles to this file, and also import other style files */

.cron-editor-main ul{
    padding-bottom: 10px;
}

.cron-editor-main ul li{
    
}

.cron-editor-main ul li a{
    padding: 5px;
    margin: 5px;
    border: 1px solid #778699;
    border-radius: 3px;
}

.cron-editor-main ul li.active a{
    background-color: #8196ab;
    color: #fff;
}
.cron-editor-main ul li.active a:hover{
    background-color: #8196ab;
    color: #fff;
}

.cron-editor-main .cron-editor-container .well{
    margin-bottom: 15px;
}

.cron-editor-main .cron-editor-container .well select{
    margin-left: 5px;
    margin-right: 5px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    font-size: 14px;
}

/*
body {
    background-color: #f1f1f1;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.datatable-header {
    background-color: #005271;
    border-radius: 10px 10px 0 0;
}

.datatable-body {
    border: 1px solid #ccc;
}

.datatable-header-cell-label {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.white-bg {
    background-color: #fff;
}

.panel-head-icon {
    width: 25px;
}

.panel-head-text {
    font-size: 18px;
}


/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */


