.group-list-popup{
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0px;
    padding: 0;
    background-color: #fff;
    border: 1px dashed rgba(0, 0, 0, 0.18);
    
    .list-search{
        width: 100%;
        position: relative;
        height: 40px;
        background-color: rgb(241,239,240);
        color: rgb(197,197,197);
        margin-bottom: 10px;

        .search-icon{
            position: absolute;
            width: 40px;
            left: 0;
            height: 40px;
            line-height: 40px;
            text-align: center;
            z-index: 100;
        }

        .search-input{
            width: 100%;
            position: absolute;
            right: 0;
            padding-left: 40px;
            height: 40px;
            border: none;
            background-color: inherit;
            color: #778699;
        }
    }

    .list-wrapper{
        background-color: rgb(247,248,252);

        .list-item{
            position: relative;
            color: rgb(87,92,98);
            font-size: 14px;
            height: 40px;
            line-height: 40px;

            .list-item-icon{
                position: absolute;
                left: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
            }
            .list-item-text{
                padding-left: 40px;
                font-weight: 400;
                font-size: 12px;

                .title{
                    font-weight: 500;
                    width: 120px;
                    display: inline-block;
                }
            }
        }

        .list-item:hover, .list-item.selected{
            background-color: rgb(221,228,234);
            cursor: pointer;
        }
    }
}