<div class="group-list-popup">
  <div class="list-wrapper">
    <div *ngFor="let item of filterList">
      <div class="list-item" (click)="listItemSelected(item)">
        <div class="list-item-icon">
          <i class="fa fa-{{item.icon}}" aria-hidden="true"></i>
        </div>
        <div class="list-item-text"><span class="title">{{ item.title }}</span><span class="desc">{{ item.description }}</span></div>
      </div>
    </div>
    <!--div class="list-item" (click)="groupSelection.toggleListSelection('first_session')" [ngClass]="{'selected': groupSelection.selectedGroups.first_session}">
      <div class="list-item-icon">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </div>
      <div class="list-item-text">FIRST SESSION</div>
    </div>
    <div class="list-item" (click)="groupSelection.toggleListSelection('last_session')" [ngClass]="{'selected': groupSelection.selectedGroups.last_session}">
      <div class="list-item-icon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </div>
      <div class="list-item-text">LAST SESSION</div>
    </div>
    <div class="list-item" (click)="groupSelection.toggleListSelection('session_count')" [ngClass]="{'selected': groupSelection.selectedGroups.session_count}">
      <div class="list-item-icon">
        <i class="fa fa-list-ol" aria-hidden="true"></i>
      </div>
      <div class="list-item-text">SESSION COUNT</div>
    </div>
    <div class="list-item" (click)="groupSelection.toggleListSelection('total_duration')" [ngClass]="{'selected': groupSelection.selectedGroups.total_duration}">
      <div class="list-item-icon">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </div>
      <div class="list-item-text">TOTAL DURATION</div>
    </div>
    <div class="list-item" (click)="groupSelection.toggleListSelection('amount_spent')" [ngClass]="{'selected': groupSelection.selectedGroups.amount_spent}">
      <div class="list-item-icon">
        <i class="fa fa-usd" aria-hidden="true"></i>
      </div>
      <div class="list-item-text">AMOUNT SPENT</div>
    </div>
    <div class="list-item" (click)="groupSelection.toggleListSelection('purchased_item')" [ngClass]="{'selected': groupSelection.selectedGroups.purchased_item}">
      <div class="list-item-icon">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
      <div class="list-item-text">PURCHASED ITEM</div>
    </div>
    <div class="list-item" (click)="groupSelection.toggleListSelection('language')" [ngClass]="{'selected': groupSelection.selectedGroups.language}">
      <div class="list-item-icon">
        <i class="fa fa-language" aria-hidden="true"></i>
      </div>
      <div class="list-item-text">LANGUAGE</div>
    </div-->
  </div>
</div>