/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #f1f1f1;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.datatable-header {
    background-color: #005271;
    border-radius: 10px 10px 0 0;
}



.datatable-header-cell-label,
.datatable-header-cell-template-wrap {
    color: #fff !important;
    font-weight: 500;
    font-size: 14px;
}

.white-bg {
    background-color: #fff;
}

.panel-head-icon {
    width: 25px;
}

.panel-head-text {
    font-size: 18px;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    padding: 0 !important;
    background-color: #fff;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
    background-color: #fff;
}

.datatable-body-cell {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: 0px solid #ccc;
}



.ngx-datatable.bootstrap .datatable-footer {
    background: transparent;
    color: #4d4d4d;
    margin-top: -1px;
    font-weight: 400
}

.ngx-datatable .datatable-footer .datatable-pager .pager li {
    line-height: 0;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li a {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 100 !important;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li.active a {
    color: #fff;
}

.ngx-datatable.bootstrap .datatable-footer .page-count {
    padding: 0;
    font-size: 14px;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
    color: #fff;
}

.datatable-body {
    border: none;
}
/* You can add global styles to this file, and also import other style files */

.cron-editor-main ul{
    padding-bottom: 10px;
}

.cron-editor-main ul li{
    
}

.cron-editor-main ul li a{
    padding: 5px;
    margin: 5px;
    border: 1px solid #778699;
    border-radius: 3px;
}

.cron-editor-main ul li.active a{
    background-color: #8196ab;
    color: #fff;
}
.cron-editor-main ul li.active a:hover{
    background-color: #8196ab;
    color: #fff;
}

.cron-editor-main .cron-editor-container .well{
    margin-bottom: 15px;
}

.cron-editor-main .cron-editor-container .well select{
    margin-left: 5px;
    margin-right: 5px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    font-size: 14px;
}

/*
body {
    background-color: #f1f1f1;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.datatable-header {
    background-color: #005271;
    border-radius: 10px 10px 0 0;
}

.datatable-body {
    border: 1px solid #ccc;
}

.datatable-header-cell-label {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.white-bg {
    background-color: #fff;
}

.panel-head-icon {
    width: 25px;
}

.panel-head-text {
    font-size: 18px;
}


/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

/* glabal component styles */
.selectUserDrop {
    padding: 3px;
    width: 200px;
    background-color: transparent;
    color: #4d4d4d;
    border-radius: 5px;
    height:30px;
}

.refreshButton{
    padding: 5px;
    max-width: 30px;
    max-height: 30px;
    background-color: #005271;
    border-radius: 5px;
    margin-top:6%;
}
/* glabal components styles end */

.mce-flow-layout{
    display: none;
}
.mce-menubar.mce-container.mce-toolbar{
    display: none;
}
.mce-statusbar.mce-container.mce-panel.mce-stack-layout-item{
    display: none;
}
/*
#mceu_33-body{
    display: none;
}
*/
.mce-tinymce{
    width: 99% !important;
    border: none;
     background-color: rgb(245,250,255) !important;
                        border: 2px solid rgb(207,216,223) !important;
                        border-radius: 10px !important;
                        color: rgb(168,168,168) !important;
}

mceu_14-body{
    width: 99% !important;
    border: none;
     background-color: rgb(245,250,255) !important;
                        border: 2px solid rgb(207,216,223) !important;
                        border-radius: 10px !important;
                        color: rgb(168,168,168) !important;
}

#mceu_24{
    border-radius: 10px !important;
}
#mceu_31{
    display: none;
}
#tiny-hcx4cgun6g_ifr{
     background-color: rgb(0, 168, 219) !important;
                            border-radius: 10px !important;
                            padding: 10px !important;
}
#tinymce{
    background-color: rgb(245,250,255) !important;
                        border: 2px solid rgb(207,216,223) !important;
                        border-radius: 10px !important;
                        color: rgb(168,168,168) !important;
}

.mce-widget.mce-btn.mce-splitbtn.mce-menubtn:not(.mce-first){
display: none;

}


/*
#mceu_111-body{
    display: none;
}

#mceu_90{
     width: 99% !important;
    border: none;
     background-color: rgb(245,250,255) !important;
                        border: 2px solid rgb(207,216,223) !important;
                        border-radius: 10px !important;
                        color: rgb(168,168,168) !important;
}

#mceu_90-body{
     width: 99% !important;
    border: none;
     background-color: rgb(245,250,255) !important;
                        border: 2px solid rgb(207,216,223) !important;
                        border-radius: 10px !important;
                        color: rgb(168,168,168) !important;
}

#mceu_92{
   display: none; 
}

#mceu_107{
    display: none;
}

#mceu_109{
    display: none;
}


#mceu_53{
     width: 99% !important;
    border: none;
     background-color: rgb(245,250,255) !important;
                        border: 2px solid rgb(207,216,223) !important;
                        border-radius: 10px !important;
                        color: rgb(168,168,168) !important;
}

#mceu_53-body{
     width: 99% !important;
    border: none;
     background-color: rgb(245,250,255) !important;
                        border: 2px solid rgb(207,216,223) !important;
                        border-radius: 10px !important;
                        color: rgb(168,168,168) !important;
}

#mceu_55{
   display: none; 
}

#mceu_70{
    display: none;
}

#mceu_72{
    display: none;
}

*/

#mceu_14 .error{
    border: 2px solid red !important;
}

#mceu_90 .error{
    border: 2px solid red !important;
}

#mceu_53 .error{
    border: 2px solid red !important;
}
.height-50{
	width:50px !important;
}
.breadcrumb>.active{color:#777}.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#337ab7;text-decoration:none;background-color:#fff;border:1px solid #ddd}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;color:#23527c;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#337ab7;border-color:#337ab7}.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-top-left-radius:6px;border-bottom-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-top-left-radius:3px;border-bottom-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}
.white-text{
    color: #FFF !important;
    fill: #FFF !important;
}
.pagination{
	margin: auto;
}

.bg-faded{
    background-color: #fff
}