<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Knowledge Base</div>
    <p class="content-sub-header"></p>
  </div>
</div>
<!-- dnky template Knowledge Base starts -->
<section id="kb">
  <div class="row">
    <div class="col-xl-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="ft-bell font-large-1 float-left mr-2"></i>
					<h4 class="card-title mb-0">Getting Started</h4>
          <p class="card-text">Vestibulum consequat odio sit amet eros fermentum.</p>
				</div>
        <div class="card-body">
          <div class="card-block">            
            <ul class="list-group">
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Activating an Account and Logging in')">
                <span class="badge bg-primary float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Activating an Account and Logging in
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'User Profile')">
                <span class="badge bg-primary float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> User Profile
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Using the Dashboard')">
                <span class="badge bg-primary float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Using the Dashboard
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Subscribing to Email Alerts')">
                <span class="badge bg-primary float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Subscribing to Email Alerts
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Changing a Password')">
                <span class="badge bg-primary float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Changing a Password
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <a class="card-link primary">See all articles (20)</a>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card">
          <div class="card-header">
            <i class="ft-book font-large-1 float-left mr-2"></i>
            <h4 class="card-title">User Guides</h4>
            <p class="card-text">Vestibulum consequat odio sit amet eros fermentum.</p>
          </div>
        <div class="card-body">
          <div class="card-block">
            <ul class="list-group">
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Files Overview')">
                <span class="badge bg-warning float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Files Overview
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Search Overview')">
                <span class="badge bg-warning float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Search Overview
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Using Tasks')">
                <span class="badge bg-warning float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Using Tasks
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Events')">
                <span class="badge bg-warning float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Events
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Blogs')">
                <span class="badge bg-warning float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Blogs
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <a class="card-link primary">See all articles (13)</a>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card">
          <div class="card-header">
            <i class="ft-file-text font-large-1 float-left mr-2"></i>
            <h4 class="card-title">Files</h4>
            <p class="card-text">Vestibulum consequat odio sit amet eros fermentum.</p>
          </div>
        <div class="card-body">
          <div class="card-block">
            <ul class="list-group">
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Basic Files Module Features')">
                <span class="badge bg-info float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Basic Files Module Features
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'How to Add a Single File')">
                <span class="badge bg-info float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> How to Add a Single File
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Drag-and-Drop upload files and folders')">
                <span class="badge bg-info float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Drag-and-Drop upload files and folders
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Searching Files')">
                <span class="badge bg-info float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Searching Files
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Digital Rights Management')">
                <span class="badge bg-info float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Digital Rights Management
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <a class="card-link primary">See all articles (7)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-12">
      <div class="card">
          <div class="card-header">
            <i class="ft-user font-large-1 float-left mr-2"></i>
            <h4 class="card-title">Managing Users</h4>
            <p class="card-text">Vestibulum consequat odio sit amet eros fermentum.</p>
          </div>
        <div class="card-body">
          <div class="card-block">
            <ul class="list-group">
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Inviting and Managing Users')">
                <span class="badge bg-success float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Inviting and Managing Users
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Creating and Managing Groups')">
                <span class="badge bg-success float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Creating and Managing Groups
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Granting Roles')">
                <span class="badge bg-success float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Granting Roles
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Quick Guide: Organizing Security Groups')">
                <span class="badge bg-success float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Quick Guide: Organizing Security Groups
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'What to Do if a User is Unable to Login')">
                <span class="badge bg-success float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> What to Do if a User is Unable to Login
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <a class="card-link primary">See all articles (11)</a>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card">
          <div class="card-header">
            <i class="ft-unlock font-large-1 float-left mr-2"></i>
            <h4 class="card-title">Site Administration</h4>
            <p class="card-text">Vestibulum consequat odio sit amet eros fermentum.</p>
          </div>
        <div class="card-body">
          <div class="card-block">
            <ul class="list-group">
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Introduction to the Site Admin Module')">
                <span class="badge bg-danger float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Introduction to the Site Admin Module
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'How to Create a Virtual Deal Room')">
                <span class="badge bg-danger float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> How to Create a Virtual Deal Room
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Best Practices for Setting up a New Site')">
                <span class="badge bg-danger float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Best Practices for Setting up a New Site
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'General Settings')">
                <span class="badge bg-danger float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> General Settings
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Advanced Settings')">
                <span class="badge bg-danger float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Advanced Settings
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <a class="card-link primary">See all articles (21)</a>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card">
          <div class="card-header">
            <i class="ft-airplay font-large-1 float-left mr-2"></i>
            <h4 class="card-title">System Administration</h4>
            <p class="card-text">Vestibulum consequat odio sit amet eros fermentum.</p>
          </div>
        <div class="card-body">
          <div class="card-block">
            <ul class="list-group">
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'System Administration Overview')">
                <span class="badge bg-primary float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> System Administration Overview
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Creating Sites')">
                <span class="badge bg-primary float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Creating Sites
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'User Administration')">
                <span class="badge bg-primary float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> User Administration
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Org Administration')">
                <span class="badge bg-primary float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Org Administration
              </li>
              <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Site Category System Settings')">
                <span class="badge bg-primary float-left mr-2">
                  <i class="ft-file-text"></i>
                </span> Site Category System Settings
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <a class="card-link primary">See all articles (17)</a>
        </div>
      </div>
    </div>
  </div>
  <!-- dnky template Knowledge Base Ends -->

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="kbModal-body">
      <p class="text-bold-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>Curabitur et congue orci. Nullam tempor, lectus vitae facilisis consectetur, enim dolor sodales nunc, ut venenatis
        ipsum massa non eros. Integer tristique consequat sagittis. Sed vitae sapien lobortis, viverra turpis non, hendrerit
        erat. Vivamus luctus, nisl et dignissim pretium, quam risus sollicitudin augue, ut mollis erat neque a lectus. Donec
        et ex vitae orci pretium volutpat eget sed est. Nunc ornare mauris nunc, id ullamcorper libero finibus id. Fusce
        imperdiet laoreet suscipit. Nunc sagittis arcu non sem euismod auctor. Sed tellus odio, posuere id molestie quis,
        egestas sit amet turpis. Duis velit diam, dictum a semper eu, ultricies id neque. Integer nec eros placerat lacus
        bibendum viverra in eu urna.</p>
      <p class="text-bold-500">Suspendisse auctor nisl interdum arcu blandit, sed aliquam leo volutpat.</p>
      <p>Donec laoreet in nibh vel maximus. Donec posuere aliquam lacus a congue. Interdum et malesuada fames ac ante ipsum
        primis in faucibus. Aenean semper fringilla arcu, non auctor ante. Ut efficitur euismod scelerisque. Cras accumsan
        orci rhoncus elementum auctor. Phasellus maximus volutpat nunc ut tincidunt. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Pellentesque aliquet tincidunt neque, et volutpat est dictum non. Nulla hendrerit leo sit amet nisl
        blandit, quis pharetra lacus ultrices. Etiam pretium ipsum eu dui consectetur maximus. Vivamus pretium luctus lorem,
        eu viverra velit malesuada at. Nam risus orci, gravida ut convallis et, cursus id velit.</p>
        <p class="text-bold-500"> Phasellus maximus volutpat nunc ut tincidunt.</p>
        <p>Donec laoreet in nibh vel maximus. Donec posuere aliquam lacus a congue. Interdum et malesuada fames ac ante ipsum
          primis in faucibus. Aenean semper fringilla arcu, non auctor ante. Ut efficitur euismod scelerisque. Cras accumsan
          orci rhoncus elementum auctor. Phasellus maximus volutpat nunc ut tincidunt. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Pellentesque aliquet tincidunt neque, et volutpat est dictum non. Nulla hendrerit leo sit amet nisl
          blandit, quis pharetra lacus ultrices. Etiam pretium ipsum eu dui consectetur maximus. Vivamus pretium luctus lorem,
          eu viverra velit malesuada at. Nam risus orci, gravida ut convallis et, cursus id velit.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

</section>