.upload-btn {
  background-color: transparent;
  border-radius: 5px;
  border-color: #ff8200;
}

.upload-btn:hover {
  background-color: #ff8200;
  border-radius: 8px;
  border-color: #ff8200;
  color: #fff !important;
}
