<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row text-left justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-card-center">Organization</h4>
                    <p class="mb-0">Create new Organization</p>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form" [formGroup]="myform">
                            <div class="form-body">

                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="Organization name">Enter the name of new organization </label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="Organizationname" class="form-control" formControlName="organizationNamef" name="organizationName"
                                            placeholder="enter Organization name" minlength="1" maxlength="100">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>




                                <!--  State  -->











                                <!--  Name  -->




                                <!--  State  -->
                                <div class="form-group">
                                    <label for="basicSelect">Organization type</label>

                                    <select class="form-control" id="organizationType" [(ngModel)]="organizationType" formControlName="organizationTypef" name="organizationType">
                                        <option value="Select Organization type">Select Organization type</option>
                                        <option value="TRAINING_PARTNERS">Training partners</option>

                                        <option value="FACILITIES_MANAGEMENT">Facility management</option>

                                        <option value="MANUFACTURER">Manufacturer</option>

                                        <option value="RETAIL">Retail</option>

                                        <option value="HOSPITALITY">Hospitality</option>

                                        <option value="3RD_PARTY_SERVICE">3rd party service</option>

                                        <option value="TRANSPORT_FLEET_OPERATORS">Transport Fleet Operators</option>

                                        <option value="OEM_SPONSORED_AUTHORISED_SERVICE_PARTNERS_AND_DEALERS">OEM Sponsored
                                            Authorised Service Partners and Dealers</option>

                                    </select>
                                </div>











                                <!--  Name  -->


                                <div class="form-group">
                                    <label for="Organization name">Enter organization description</label>
                                    <div class="position-relative has-icon-left">
                                        <textarea type="text" id="organizationDescription" class="form-control" name="organizationDescription" formControlName="organizationDescriptionf"
                                            placeholder="enter Organization description" minlength="5" maxlength="150"> </textarea>
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>

                                </div>



                                <!--  State  -->


                                <!--  Name  -->




                                <!--  State  -->








                                <div class="form-group">
                                    <label for="OrganizationWebsite">Enter Website URL </label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" class="form-control" id="organizationWebsite" formControlName="organizationWebsitef" name="organizationWebsite"
                                            placeholder="Enter Organization Website Url" pattern=".+[.][a-zA-Z]+">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>

                                </div>


                                <!--  Name  -->




                                <!--  State  -->









                                <div class="form-group" id="orglogo">
                                    <label> Upload organization logo</label>
                                    <input type="file" class="form-control-file" formControlName="organizationImagef" #imageFileInput (change)="imageChanged($event)"
                                        id="filePhoto" accept="image/*">
                                </div>


                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="cin">Please enter Company Identification Number for your organization</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="cin" class="form-control" name="cin" placeholder="enter cin" [(ngModel)]="cin" formControlName="organizationCIN">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>




                                <!--  State  -->











                                <!--  Name  -->




                                <!--  State 
                                <div class="form-group">
                                    <label for="basicSelect">type</label>

                                    <select class="form-control" id="type">
                                        <option>Select type</option>
                                        <option>Corporate</option>

                                        <option>NGO</option>

                                        <option>Government Organization</option>

                                        <option>Small and medium enterprise </option>

                                    </select>
                                </div>
 -->
                                <!--  Name  -->
                                <!--  Phone  -->

                                <div class="form-group">
                                    <label for="primary_contact"> Primary contact of Organization</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" class="form-control" formControlName="primary_contactf" minlength="10" maxlength="10" id="primary_contact"
                                            name="primary_contact" placeholder="Primary contact" [readonly]="objid" pattern="^[6789]\d{9}$"
                                        />
                                        <div class="form-control-position">
                                            <i class="ft-phone"></i>
                                        </div>
                                    </div>

                                </div>
                                <!--  State  -->











                                <!--  Name  -->
                                <!--  Email  -->





                                <!--  State  -->











                                <!--  Name  -->




                                <!--  State  -->












                                <div class="form-group">
                                    <label class="display-block">Choose your License</label>
                                    <div class="input-group">
                                        <div class="custom-control custom-radio display-inline-block float-left">
                                            <input type="radio" id="premium" value="Premium" formControlName="licensef" class="custom-control-input">
                                            <label class="custom-control-label" for="premium">Premium Package </label>
                                        </div>
                                        <div class="custom-control custom-radio display-inline-block float-left">
                                            <input type="radio" id="Enterprise" value="Enterprise" formControlName="licensef" class="custom-control-input">
                                            <label class="custom-control-label" for="Enterprise">Enterprise Package</label>
                                        </div>
                                    </div>
                                </div>


                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="Admin Name">Enter Admin Name</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="Admin Name" class="form-control" formControlName="adminNamef" name="Admin Name" [(ngModel)]="adminName"
                                            placeholder="enter Admin Name" [readonly]="objid" minlength="1" maxlength="30">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>




                                <!--  State  -->











                                <!--  Name  -->




                                <!--  State  -->



                                <!--  text password  



                                <div class="form-group">
                                    <label for="Admin Password">Enter Admin Password</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="password" class="form-control" id="password" name="Admin Password" ngModel required minlength="4" maxlength="24"
                                            [ngModelOptions]="{updateOn: 'blur'}" #password="ngModel" placeholder="Enter Admin Password">
                                        <small class="form-text text-muted danger" *ngIf="!password.valid && (password.dirty || password.touched)">password
                                            entered is not valid </small>
                                        <div class="form-control-position">
                                            <i class="ft-lock"></i>
                                        </div>
                                    </div>
                                </div>

-->

                                <!--  Name  -->




                                <!--  State  -->



                                <!--  text password  



                                <div class="form-group">
                                    <label for="Confirm password">Confirm Admin Password</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="password" class="form-control" id="password2" name="Confirm password" ngModel required minlength="4" maxlength="24"
                                            [ngModelOptions]="{updateOn: 'blur'}" #password2="ngModel" placeholder="Confirm  Admin Password">
                                        <small class="form-text text-muted danger" *ngIf="!password2.valid && (password2.dirty || password2.touched)">password
                                            entered is not valid </small>
                                        <div class="form-control-position">
                                            <i class="ft-lock"></i>
                                        </div>
                                    </div>
                                </div>

-->


                                <!--  Name  -->




                                <!--  Phone  -->

                                <div class="form-group">
                                    <label for="admin_phone"> Admin Phone</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" class="form-control" minlength="10" maxlength="10" formControlName="adminPhonef" id="admin_phone" name="admin_phone"
                                            placeholder="Admin Phone" pattern="^[6789]\d{9}$" [readonly]="objid" />
                                        <div class="form-control-position">
                                            <i class="ft-phone"></i>
                                        </div>
                                    </div>

                                </div>
                                <!--  State  -->

                                <div class="form-group">
                                    <label for="Primary email">Enter admin Email</label>
                                    <div class="position-relative has-icon-left">

                                        <input type="email" class="form-control" formControlName="adminEmail" name="email" id="email" [readonly]="objid" placeholder=" Primary email "
                                            pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'
                                        />
                                        <div class="form-control-position">
                                            <i class="ft-at-sign"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions center">
                                <button (click)="myform.reset();" type="button" class="btn btn-raised btn-warning mr-1" [disabled]="!myform.dirty"   >
                                    <i class="ft-x"></i> Reset
                                </button>
                                <button *ngIf="!objid" type="button" class="btn btn-raised btn-primary" (click)="createOrganization()"  >
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                                <button *ngIf="objid" type="button" class="btn btn-raised btn-primary" (click)="updateOrganization()"  >
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






</section>