<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3 pt-3">
    <div class="row text-left">
        <div class="col-md-2 justify-content-center align-self-center">
            <span class="panel-icon-circle">
                <img src="../../../assets/img/globe.svg" class="panel-head-icon"></span>&nbsp;&nbsp;
            <span class="panel-head-text">
                Organizations
            </span>
        </div>
        <div class="col-md-4">
            <div class="search-cont">
                <span class="search-icon">
                    <i class="fa fa-search"></i>
                    <!-- <fa name="cog" animation="spin"></fa> -->
                </span>
                <input type='text' class="search-input" placeholder='What are you looking for?' (keyup)='updateFilter($event)' />
            </div>
        </div>
        <div class="col-md-6">
            <ul class="filter-n-sort-ul custom-radios">
                <li class="font-weight-bold">Filter By: </li>
               <li> <input type="radio" id="color-1" class="color" name="color" value="1" (click)="changeFilterLater($event)">
              <label for="color-1">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Created By</li>
            <li><input type="radio" id="color-2" name="color" class="color" value="2" (click)="changeFilter($event)">
              <label for="color-2">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Type</li>
            <li><input type="radio" id="color-3" name="color" class="color" value="3" (click)="changeFilterLater($event)">
              <label for="color-3">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Status</li>
            <li>
              <select name="filterDate" id="filterDate" *ngIf="filterOption==='1'" class="selectUserDrop" (change)="filterListByAuthor($event)">
                <option *ngFor="let author of authors">{{author}}</option>
              </select>
              <select name="filterDate" id="filterDate" *ngIf="filterOption==='2'" class="selectUserDrop" (change)="filterListByType($event)">
                <option *ngFor="let author of types">{{author}}</option>
              </select>
              <select name="filterDate" id="filterDate" *ngIf="filterOption==='3'" class="selectUserDrop" (change)="filterListByStatus($event)">
                <option *ngFor="let author of status">{{author}}</option>
              </select>
                            <button class="btn btn-sm refreshButton" placement="bottom" ngbTooltip="Reset" (click)="reset()" *ngIf="filterOption"><img src="/assets/img/refresh-ccw.svg" height="80%" width="80%"></button>
 </li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            
            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
                <ngx-datatable-column name="Organization Id" sortable="true" prop="id">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Organization Name" sortable="true" prop="name">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Description" sortable="true" prop="description">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Type" sortable="true" prop="type">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                 <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="160">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
           

            <button md-icon-button class="dt-icon edit-icon" (click)="editOrganization(row)" [disabled]="row['status']==='APPROVED'" placement="bottom" ngbTooltip="Edit">
              <i class="fa fa-edit"></i>
            </button>
           
            <button md-icon-button class="dt-icon delete-icon" (click)="deleteOrganization(row)" [disabled]="row['status']==='BLOCKED'" placement="bottom" ngbTooltip="Delete">
              <i class="fa fa-trash"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->