#create-content.page-wrapper{
    padding: 15px;
    font-size: 14px;
    .page-card{
        background-color: #fff;
        border-radius: 7px;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        .phone-wrapper{
            border: 2px solid rgb(147, 147, 147);
            border-radius: 15px;
            margin: 0 auto;

            position: relative;
            padding: 40px 15px;
            .phone-header{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40px;

                .mobile-icons{
                    width: 150px;
                    height: 40px;
                    margin: 0 auto;

                    .small-circle-wrapper, .big-circle-wrapper, .horizontal-line-wrapper{
                        height: inherit;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        float: left;
                    }

                    .small-circle-wrapper{
                        width: 12px;
                        .small-circle{
                            margin: 0 auto;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: rgb(147, 147, 147);
                        }
                    }
                    .big-circle-wrapper{
                        width: 20px;
                        .big-circle{
                            margin: 0 auto;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            background-color: rgb(147, 147, 147);
                        }
                    }
                    .horizontal-line-wrapper{
                        width: 118px;
                        .horizontal-line{
                            margin: 0 auto;
                            width: 104px;
                            height: 4px;
                            border-radius: 2px;
                            background-color: rgb(147, 147, 147);
                        }
                    }
                }
            }
            .phone-footer{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 40px;

                .phone-selector-wrapper{
                    width: 150px;
                    height: 40px;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    
                    .phone-selector-popup{
                        position: absolute;
                        bottom: 35px;
                        left: -25px;
                        width: 200px;
                        background-color: #fff;
                        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                        border-radius: 10px;

                        .phone-list{
                            padding: 0 10px;
                            .phone-item-wrapper{
                                height: 40px;
                                line-height: 40px;
                                font-weight: 400;
                                border-bottom: 1px solid #bbb;
                                font-size: 14px;
                                cursor: pointer;
                            }

                        }
                    }

                    .phone-selector{
                        height: 24px;
                        line-height: 24px;
                        width: inherit;
                        border-radius: 5px;
                        border: 1px solid rgb(147, 147, 147);
                        color: rgb(147, 147, 147);
                        text-align: center;
                    }
                }
            }

            .phone-body{
                height: 100%;
                padding: 15px;
                overflow: hidden;

                &.light-blue{
                    background: -webkit-linear-gradient(left, rgb(42,120,182), rgb(54,180,159));
                }
    
                &.blue{
                    background: -webkit-linear-gradient(left, #224ead, #224ead);
                }
    
                &.green{
                    background: -webkit-linear-gradient(left, rgb(1,137,139), rgb(1,190,162));
                }
    
                &.purple{
                    background: -webkit-linear-gradient(left, rgb(117,58,136), rgb(211,79,140));
                }

                
                #new-content-name-description.notification-wrapper{
                    padding-left: 80px;
                    min-height: 80px;
                }
                .notification-wrapper{
                    position: relative;
                    background-color: white;
                    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                    padding: 10px;

                    .content-wrapper{
                        overflow: hidden;

                        .n-content-name{
                            font-weight: 500;
                            width: 100%;
                        }

                        .n-content-desc{
                            width: 100%;
                        }
                    }
                    
                    .new-content-image{
                        position: absolute;
                        width: 60px;
                        height: 60px;
                        left: 10px;
                        top: 10px;
                    }
                }
                
                .slide-content-wrapper{
                    color: #fff;
                    div {
                        margin: 10px 0;
                        overflow-wrap: break-word;
                    }
                    .s-content-name{
                        font-size: 15px;
                        font-weight: 500;
                    }

                    .question-list-wrapper{
                        padding: 10px;

                        .question-item-wrapper{
                            // background-color: #fff;
                        }
                    }
                }
                .content-slide-image{
                    width: 100%;
                }
            }

        }

        .form-card{
            border-radius: 7px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);

            header{
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                background-color:rgb(0, 80, 113);
                color: #fff;
                text-align: center;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                i{
                    font-size: 20px;
                }

                span{
                    font-weight: 500;
                    margin-left: 15px;
                }
            }

            .form-body{
                padding: 20px;
                padding-bottom: 0;
                height: calc(100vh - 250px);

                &#new-content{
                    footer{
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        padding: 0;
                        padding-right: 65px;
                        padding-bottom: 10px;
                    }
                }

                .form-wrapper{
                    height: calc(100vh + 10%);
                    position: relative;
                    padding-bottom: 55px;
                    .form-inner{
                        overflow-y: auto;
                        height: 100%;

                        .form-group{
                    input, textarea{
                        background-color: rgb(245,250,255);
                        border: 2px solid rgb(207,216,223);
                        color: #000;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    label{
                        color: rgb(168,168,168);
                    }

                    .image-uploader{
                         height: 105px;
                        background-color: rgb(245,250,255);
                        border: 2px solid rgb(207,216,223);
                        border-radius: 10px;
                        color: rgb(168,168,168);
                        text-align: center;
                        padding: 10px;

                        .upload-button-wrapper{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            margin-top: 10px;
                            button{
                                background-color: #ff8201;
                                color: #fff !important;
                                display: block;
                            }
                            .image-name{
                                color: #1e91ec;
                                font-weight: 500;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                                display: block;
                                margin-top: 33px;
                            }
                        }
                        #QuestionPhoto{
                            display: none;
                        }
                    }
                }
                    }
                    footer{
                        .footer-inner{
                            width: 265px;
                            margin: 0 auto;
                        }
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        padding-bottom: 10px;
                        button{
                            width: 110px;
                            margin: 0 auto;
                            color: #fff !important;
                            display: inline-block;
                            margin-right: 20px;
                            height: 32px;
                            line-height: 32px;
                            padding: 0;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }

                    
                    
                }
                
                

                .input-wrapper{
                    border: 2px solid rgb(226, 226, 226);
                    border-radius: 10px;
                    margin-bottom: 20px;
                    font-weight: 400;

                    .input-text{
                        padding-left: 10px;
                        padding-right: 10px;
                        height: 40px;
                        line-height: 40px;
                    }

                    &.with-icon{
                        .input-text{
                            padding-right: 40px;
                        }
                        
                        position: relative;

                        .input-icon{
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            font-size: 18px;
                        }
                        .microlearning{
                            position: absolute;
                            top: 0;
                            right: 40px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 16px;
                            font-weight: 500;
                            color: rgb(30,145,236);
                        }
                    }

                    .input-body{
                        background-color: rgb(244, 248, 251);
                        padding: 10px;

                        .select-list-input{
                            color: rgb(163, 163, 163);
                            border-bottom: 2px solid rgb(163, 163, 163);
                            height: 50px;
                            line-height: 70px;
                            margin-bottom: 10px;
                            cursor: pointer;
                            position: relative;
                            


                           
                            .column-data{
                              padding-left: 10px;
                                .radio-selection-wrapper{
                    
                                    margin-left: 10px;
                                    padding-bottom: 10px;
                                    margin-bottom: 10px;
                                    border-bottom: 1px solid rgb(225,232,238);

                                    label{
                                        font-weight: 600;
                                        font-size: 14px;
                                    }
                                }

                                .date-selection-wrapper{
                                    input, textarea{
                                        font-weight: bold;
                                        font-size: 13px;
                                        color: #8196ab;
                                        border: 2px solid rgb(225,232,238);
                                    }
                                }

                                .send-info{
                                    position: relative;
                                    height: 56px;
                                    background-color: #fff;
                                    margin-top: 10px;
                                    padding-left: 50px;
                                    padding-top: 5px;

                                    .info-icon{
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 50px;
                                        height: inherit;
                                        line-height: 56px;
                                        text-align: center;
                                        font-size: 24px;
                                    }

                                    .info-title{
                                        font-weight: bold;
                                    }

                                    .info-data{
                                        color: #000;
                                        font-size: 15px;
                                    }
                                }
                            }
                    




                            .down-arrow{
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                text-align: center;
                                height: inherit;
                                line-height: inherit;
                            }

                            .list-popup{
                                position: absolute;
                                top: 50px;
                                right: 0;
                                left: 0;
                                background-color: #fff;
                                z-index: 100;
                                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                                .list-element{
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    border-bottom: 1px solid #e2e2e2;
                                    cursor: pointer;
                                    line-height: 40px;
                                }
                                .list-element:hover{
                                    background-color: #e2e2e2;
                                }
                            }

                            &.selected{
                                .title{
                                    position: absolute;
                                    top: -20px;
                                }
                                .content{
                                    color: #000;
                                    font-weight: 500;
                                }
                            }

                        }

                        .info-card-input{
                            color: rgb(163, 163, 163);


                           
                            .column-data{
                              padding-left: 10px;
                                .radio-selection-wrapper{
                    
                                    margin-left: 10px;
                                    padding-bottom: 10px;
                                    margin-bottom: 10px;
                                    border-bottom: 1px solid rgb(225,232,238);

                                    label{
                                        font-weight: 600;
                                        font-size: 14px;
                                    }
                                }

                                .date-selection-wrapper{
                                    input, textarea{
                                        font-weight: bold;
                                        font-size: 13px;
                                        color: #8196ab;
                                        border: 2px solid rgb(225,232,238);
                                    }
                                }

                                .send-info{
                                    position: relative;
                                    height: 56px;
                                    background-color: #fff;
                                    margin-top: 10px;
                                    padding-left: 50px;
                                    padding-top: 5px;

                                    .info-icon{
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 50px;
                                        height: inherit;
                                        line-height: 56px;
                                        text-align: center;
                                        font-size: 24px;
                                    }

                                    .info-title{
                                        font-weight: bold;
                                    }

                                    .info-data{
                                        color: #000;
                                        font-size: 15px;
                                    }
                                }
                            }
                    




                            .down-arrow{
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                text-align: center;
                                height: inherit;
                                line-height: inherit;
                            }

                            .list-popup{
                                position: absolute;
                                top: 50px;
                                right: 0;
                                left: 0;
                                background-color: #fff;
                                z-index: 100;
                                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                                .list-element{
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    border-bottom: 1px solid #e2e2e2;
                                    cursor: pointer;
                                    line-height: 40px;
                                }
                                .list-element:hover{
                                    background-color: #e2e2e2;
                                }
                            }

                            &.selected{
                                .title{
                                    position: absolute;
                                    top: -20px;
                                }
                                .content{
                                    color: #000;
                                    font-weight: 500;
                                }
                            }

                        }

                        .radio-input-wrapper{
                            margin-top: 10px;
                            margin-bottom: 10px;
                            .input-item{
                                
                                .radio-input{
                                    width: 27px;
                                    height: 60px;
                                    line-height: 60px;
                                    float: left;
                                    font-size: 20px;
                                    margin-left: 10px;
                                    color: rgb(147, 147, 147);
                                }

                                .color-square{
                                    width: 60px;
                                    height: 60px;
                                    float: left;
                                    margin-right: 5px;
                                }
                                .light-blue{
                                    background-color: rgb(48, 148, 172);
                                }
                                .blue{
                                    background-color: rgb(34, 78, 173);
                                }
                                .green{
                                    background-color: rgb(1, 144, 142);
                                }
                                .purple{
                                    background-color: rgb(132, 61, 137);
                                }
                            }

                            .done-button-wrapper{
                                float: right;
                                height: 60px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                button{
                                    width: 70px;
                                    background-color: rgb(255,130,1);
                                    margin-right: 10px;
                                    color: #fff!important;
                                }
                            }
                        }
                    }
                }

                .form-group{
                    input, textarea{
                        background-color: rgb(245,250,255);
                        border: 2px solid rgb(207,216,223);
                        color: #000;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    label{
                        color: rgb(168,168,168);
                    }

                    .image-uploader{
                        height: 105px;
                        background-color: rgb(245,250,255);
                        border: 2px solid rgb(207,216,223);
                        border-radius: 10px;
                        color: rgb(168,168,168);
                        text-align: center;
                        padding: 10px;

                        .upload-button-wrapper{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            margin-top: 10px;
                            button{
                                background-color: #ff8201;
                                color: #fff !important;
                                display: block;
                            }
                            .image-name{
                                color: #1e91ec;
                                font-weight: 500;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                                display: block;
                                margin-top: 33px;
                            }
                        }
                    }
                }
                
            }


            footer{
                padding: 5px;
                padding-bottom: 0;
                button{
                    width: 140px;
                    margin: 0 auto;
                    display: block;
                    color: #fff!important;
                }
            }

            #slide-questions-sidebar-wrapper{
                padding: 10px;
                height: calc(50vh + 250px);
                position: relative;
                padding-bottom: 50px;

                .footer-wrapper{
                    padding: 10px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    footer{
                        padding: 10px 0;
                        background-color: rgb(12, 75, 93);
                        width: 100%;
                        border-bottom-right-radius: 7px;
                        border-bottom-left-radius: 7px;
    
                        button{
                            background-color: #ff8201;
                            color: #fff!important;
                            border: none;
                            font-size: 13px;
                            font-weight: 400;
                        }
                    }
                }
                

                .sidebar-inner{
                    background-color: #156178;
                    border-radius: 7px;
                    position: relative;
                    overflow-y: auto;
                    height: 100%;

                    

                    .list-wrapper{
                        padding: 10px;

                        .list-item-wrapper{
                            background-color: rgb(49, 144, 174);
                            border-radius: 7px;
                            padding: 10px;
                            position: relative;
                            margin-bottom: 10px;
padding-top: 20px;
                            .icons-wrapper{
                                position: absolute;
                                top: 5px;
                                right: 0px;
                                font-size: 16px;
                                i{
                                    margin-right: 10px;
                                }
                            }

                            .title{
                                color: #005071;
                                font-weight: 500;
                            }
                            .description{
                                color: #fff;
                                overflow-wrap: break-word;
                            }
                        }
                    }
                   
                    
                }
            }
        }
    }
}

.clear-both{
    clear: both;
}
.clickable{
    cursor: pointer;
}

.image-uploader{
    position: relative;

    #filePhoto, #contentSlidePhoto{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        opacity: 0;
    }

     #contentSlideVideo{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        opacity: 0;
    }

     #contentSlideDoc{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        opacity: 0;
    }

     #contentSlideAudio{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        opacity: 0;
    }
    #contentSlideZip{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        opacity: 0;
    }

    button{
        position: absolute;
        z-index: 3;
        color: #fff!important;
    }
}

.check-box-group-wrapper{
    height: 50px;
    cursor: pointer;
    .check-box-icon{
        width: 30px;
        height: 40px;
        line-height: 40px;
        font-size: 24px;
        float: left;
        color: #cfd8df;
    }
    .check-box-label-wrapper{
        height: 40px;
        display: inline-block;
        .label{
            height: 20px;
            line-height: 22px;
            font-weight: 500;
            color: #000;
        }
        .description{
            height: 20px;
            line-height: 20px;
            font-weight: 500;
            font-size: 13px;
            color: #a8a8a8;
        }
    }

}

.accordian-wrapper{
    border-top: 1px solid rgb(21, 98, 118);
    
    .accordian-header{
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        
        .title{
            width: 80%;
            text-align: left;
            color: rgb(21, 98, 118);
            font-weight: 500;
            float: left;
        }
    
        .icon-wrapper{
            width: 20%;
            text-align: right;
            color: rgb(21, 98, 118);
            font-size: 24px;
            font-weight: 500;
            padding-right: 10px;
            float: right;
        }
    }
    
    .accordian-input-wrapper{
        float: left;
        width: 100%;
    }

    #incorrect-options{
        padding-right: 40px;
        .accordian-input-wrapper{
            position: relative;

            .delete-icon{
                position: absolute;
                right: -30px;
                top: 26px;
                width: 40px;
                line-height: 40px;
                text-align: right;
                color: red;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    .add-button-wrapper{
        button{
            background-color: rgb(39, 125, 198);
            border: none;
            width: 100%;
            height: 35px;
            margin-bottom: 15px;
            color: white!important;
        }
    }
}

.type-selector {
    .type-list-wrapper{
        .type-item{
            position: relative;
            padding-left: 65px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 5px;
            min-height: 60px;

            .icon-wrapper{
                position: absolute;
                left: 0;
                top: 0;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #1e91ec;
                text-align: center;
                line-height: 50px;
                color: #fff;
                font-size: 20px;
            }
            .title{
                font-size: 17px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            .description{
                font-size: 12px;
                color: #939393;
            }
        }
    }
}
.ellipsis {
    text-overflow: ellipsis;
  
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }

  .word-wrap{
     overflow-wrap: break-word;
 }
.invalid-feedback{
    display:  block;
    font-size: 100%;
    font-weight: 400;
}
.error{
    border: 2px solid red !important;
}


#contentDescriptionInput{

}

.phone-options{
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 10px;
}

#new-content{
    height: auto !important;
}

 .form-wrapper{
                    height: calc(100vh + 10%);
 }

 #slide-questions-wrapper{
     height: calc(100vh + 10%) !important;
 }

 .overflow{
       display:inline-block;
       width:80px;
       white-space: nowrap;
       overflow:hidden !important;
       text-overflow: ellipsis;
   }
