<div id="create-content" class="page-wrapper container-fluid">

  <div class="page-card row">

    <!-- ********************* wrapper for phone starts******************************** -->
    <div class="col-md-5 col-lg-5">
      <div class="phone-wrapper" [style.width.px]="phoneWidth" [style.height.px]="phoneHeight">
        <div class="phone-header">
          <div class="mobile-icons">
            <div class="small-circle-wrapper">
              <div class="small-circle"></div>
            </div>
            <div class="big-circle-wrapper">
              <div class="big-circle"></div>
            </div>
            <div class="horizontal-line-wrapper">
              <div class="horizontal-line"></div>
            </div>
          </div>
        </div>

        <div class="phone-body" [ngClass]="{'light-blue': themeSelection.selectedTheme.lightBlue, 'blue': themeSelection.selectedTheme.blue, 'green': themeSelection.selectedTheme.green, 'purple': themeSelection.selectedTheme.purple}">

          <div id="new-content-name-description" class="notification-wrapper" *ngIf="pagesObj.status.newContent && (url!== '' || contentName!== '' || contentDescription!== '')">
            <img *ngIf="url && url!== ''" class="new-content-image" [src]="url">
            <div class="content-wrapper">
              <div class="n-content-name  word-wrap">
                {{ contentName }}
              </div>
              <div class="n-content-desc  word-wrap">
                <p id="ellipsis" [ngClass]="{overflow:isExpanded()}" (click)="ellipsisClick()" style="cursor:pointer"> {{ contentDescription }}</p>
              </div>
            </div>
          </div>

          <div id="content-slide-description" *ngIf="pagesObj.status.contentSlide">
            <html [ngClass]="{'light-blue': themeSelection.selectedTheme.lightBlue, 'blue': themeSelection.selectedTheme.blue, 'green': themeSelection.selectedTheme.green, 'purple': themeSelection.selectedTheme.purple}">
            <div class="notification-wrapper" *ngIf="contentSlideUrl!== ''">

              <img class="content-slide-image" *ngIf="url!=='' && categorySelection.selectedContentType==='BLOG'" [src]="contentSlideUrl">
              <video class="content-slide-image" *ngIf="url!== '' && categorySelection.selectedContentType==='VIDEO'" width="320" height="150"
                [src]="videoUrl()"></video>
            </div>
            <div id="htmlContent" class="slide-content-wrapper">
              <div class="s-content-name  word-wrap">
                {{ slideTitleName }}
              </div>
              <div class="s-content-desc  word-wrap">

              </div>
            </div>

            </html>
          </div>

          <div id="question-slide-description" *ngIf="pagesObj.status.questionSlide">
            <div class="slide-content-wrapper">
              <div class="s-content-name  word-wrap">
                {{ questionTitleName }}
              </div>
              <div class="s-content-desc  word-wrap">
                <p> {{ questionSubTitleName }}</p>
              </div>
              <div class="question-list-wrapper">
                <div class="question-item-wrapper">
                  <div *ngIf=" (categorySelection.selectedQuestionType==='OPTION' || categorySelection.selectedQuestionType==='MULTI-CORRECT OPTION') && incorrectAnswers[0].value">
                    <div *ngFor="let option of incorrectAnswers" class="phone-options">{{option.value}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="phone-footer">
          <div class="phone-selector-wrapper">
            <div class="phone-selector clickable ellipsis" (click)="togglePhoneSelectorPopup()">{{phonesObj.selected || 'Select
              Phone Size'}} <i class="fa fa-angle-up" aria-hidden="true"></i></div>

            <div class="phone-selector-popup" *ngIf="phoneSelectionPopupOpen">
              <div class="phone-list">
                <div class="phone-item-wrapper ellipsis" *ngFor="let phoneModel of phonesObj.phoneList" (click)="selectPhoneModel(phoneModel)">
                  {{ phoneModel.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ********************* wrapper for phone ends******************************** -->


    <div class="form-wrapper col-md-7 col-lg-7">
      <div class="form-card">
        <header>
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
          <span>Create New Content</span>
        </header>

        <!-- ********************* wrapper for new conent starts******************************** -->
        <div class="form-body" *ngIf="pagesObj.status.newContent" id="new-content">
          <div class="form-wrapper">
            <div class="form-inner">
              <div class="type-selector">
                <div class="input-wrapper with-icon clickable" id="contentTypeInput" (click)="contentTypeSelection.showContentSelection = !contentTypeSelection.showContentSelection">
                  <div class="input-text">What content would you like to create?</div>
                  <div class="input-icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </div>
                  <div class="microlearning">{{ contentTypeSelection.selectedType }}</div>
                </div>

                <div class="type-list-wrapper" *ngIf="contentTypeSelection.showContentSelection">
                  <div class="type-item-wrapper" *ngFor="let item of contentTypesList">
                    <div class="type-item clickable" (click)="selectContentTypeFromList(item.title)">
                      <div class="icon-wrapper"><i class="fa fa-{{item.icon}}" aria-hidden="true"></i></div>
                      <div class="title">{{ item.title }}</div>
                      <div class="description">{{ item.description }}</div>
                    </div>
                  </div>
                </div>

              </div>

              <!-- Select Job Role -->


              <div class="input-wrapper with-icon clickable" id="jobRoleInput" *ngIf="!jobRoleSelection.expanded && contentTypeSelection.selectedType==='MicroLearning'"
                (click)="expandJobRole()">
                <div class="input-text">Who should see this content?</div>
                <div class="input-icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
              </div>

              <div class="input-wrapper with-icon" id="jobRoleInput" *ngIf="jobRoleSelection.expanded && contentTypeSelection.selectedType==='MicroLearning'">
                <div (click)="collapseJobRole()" class="clickable">
                  <div class="input-text">Who should see this content?</div>
                  <div class="input-icon">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="input-body">
                  <div class="select-list-input clickable" [ngClass]="{'selected': jobRoleSelection.selectedCategory !== ''}">
                    <div (click)="jobRoleSelection.categoryPopupVisible = !jobRoleSelection.categoryPopupVisible; jobRoleSelection.subcategoryPopupVisible = false;">
                      <div class="title ">Select Industry</div>
                      <div class="content">{{ jobRoleSelection.selectedCategory.name }}</div>
                      <div class="down-arrow">
                        <i class="fa fa-caret-down clickable" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div class="list-popup" *ngIf="jobRoleSelection.categoryPopupVisible">
                      <div class="list-element categories" *ngFor="let category of industries" (click)="selectIndustry(category)">{{category.name}}</div>
                    </div>
                  </div>

                  <div class="select-list-input clickable" [ngClass]="{'selected': jobRoleSelection.selectedSubCategory !== ''}" *ngIf="jobRoleSelection.selectedCategory && jobRoleSelection.selectedCategory.id">
                    <div (click)="jobRoleSelection.subcategoryPopupVisible = !jobRoleSelection.subcategoryPopupVisible; jobRoleSelection.categoryPopupVisible = false">
                      <div class="title ">Select Department</div>

                      <div class="content">{{ jobRoleSelection.selectedSubCategory.name }}</div>
                      <div class="down-arrow">
                        <i class="fa fa-caret-down clickable" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div class="list-popup" *ngIf="jobRoleSelection.subcategoryPopupVisible">
                      <div class="list-element" *ngFor="let subCategory of departments" (click)="selectDepartment(subCategory)">{{subCategory.name}}</div>
                    </div>

                  </div>

                  <div class="select-list-input clickable" [ngClass]="{'selected': jobRoleSelection.selectedJobRole !== ''}" *ngIf=" jobRoleSelection.selectedSubCategory && jobRoleSelection.selectedSubCategory.id">
                    <div (click)="jobRoleSelection.jobRolePopupVisible = !jobRoleSelection.jobRolePopupVisible; jobRoleSelection.categoryPopupVisible = false; jobRoleSelection.subcategoryPopupVisible= false;">
                      <div class="title ">Select Job Role</div>
                      <div class="content">{{ jobRoleSelection.selectedJobRole.name }}</div>
                      <div class="down-arrow">
                        <i class="fa fa-caret-down clickable" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div class="list-popup" *ngIf="jobRoleSelection.jobRolePopupVisible">
                      <div class="list-element" *ngFor="let subCategory of jobRoles" (click)="selectJobRole(subCategory)">{{subCategory.name}}</div>
                    </div>

                  </div>
                </div>

              </div>


              <!-- End Job Role Select -->





              <div class="input-wrapper with-icon clickable" id="categoryInput" *ngIf="!categorySelection.expanded && contentTypeSelection.selectedType"
                (click)="expandCategory()">
                <div class="input-text">Where would you like to put this {{contentTypeSelection.selectedType}}?</div>
                <div class="input-icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
              </div>

              <div class="input-wrapper with-icon" id="categoryInput" *ngIf="categorySelection.expanded">
                <div (click)="collapseCategory()" class="clickable">
                  <div class="input-text">Where would you like to put this {{contentTypeSelection.selectedType}}?</div>
                  <div class="input-icon">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="input-body">
                  <div class="select-list-input clickable" [ngClass]="{'selected': categorySelection.selectedCategory !== ''}">
                    <div (click)="categorySelection.categoryPopupVisible = !categorySelection.categoryPopupVisible; categorySelection.subcategoryPopupVisible = false;">
                      <div class="title ">Select Target Category</div>
                      <div class="content">{{ categorySelection.selectedCategory }}</div>
                      <div class="down-arrow">
                        <i class="fa fa-caret-down clickable" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div class="list-popup" *ngIf="categorySelection.categoryPopupVisible ">
                      <div class="list-element categories" *ngFor="let category of categories" (click)="selectCategory(category.value)">{{category.value}}</div>
                    </div>

                  </div>

                  <div class="select-list-input clickable" [ngClass]="{'selected': categorySelection.selectedSubCategory !== ''}" *ngIf="categorySelection.selectedCategory && (contentTypeSelection.selectedType!=='Info Cards' && contentTypeSelection.selectedType!=='Survey')">
                    <div class="" (click)="categorySelection.subcategoryPopupVisible = !categorySelection.subcategoryPopupVisible; categorySelection.categoryPopupVisible = false">
                      <div class="title ">Select Target Sub-Category</div>

                      <div class="content">{{ categorySelection.selectedSubCategory }}</div>
                      <div class="down-arrow">
                        <i class="fa fa-caret-down clickable" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div class="list-popup" *ngIf="categorySelection.subcategoryPopupVisible">
                      <div class="list-element" *ngFor="let subCategory of subCategories" (click)="selectSubCategory(subCategory)">{{subCategory}}</div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="input-wrapper with-icon" *ngIf="!themeSelection.expanded && contentTypeSelection.selectedType==='Microlearningjlk' && categorySelection.selectedSubCategory && categorySelection.selectedCategory"
                (click)="themeSelection.expanded = true">
                <div class="input-text">Choose Color Theme</div>
                <div class="input-icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
              </div>
              <div class="input-wrapper with-icon" *ngIf="themeSelection.expanded">
                <div (click)="themeSelection.expanded = false" class="clickable">
                  <div class="input-text">Choose Color Theme</div>
                  <div class="input-icon">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="input-body">
                  <div class="radio-input-wrapper">
                    <div class="input-item clickable" (click)="selectTheme('lightBlue')">
                      <div class="radio-input">
                        <i class="fa" [ngClass]=" themeSelection.selectedTheme.lightBlue ? 'fa-dot-circle-o' : 'fa-circle-o'" aria-hidden="true"></i>
                      </div>
                      <div class="color-square light-blue"></div>
                    </div>
                    <div class="input-item clickable" (click)="selectTheme('blue')">
                      <div class="radio-input">
                        <i class="fa" [ngClass]=" themeSelection.selectedTheme.blue ? 'fa-dot-circle-o' : 'fa-circle-o'" aria-hidden="true"></i>
                      </div>
                      <div class="color-square blue"></div>
                    </div>
                    <div class="input-item clickable" (click)="selectTheme('green')">
                      <div class="radio-input">
                        <i class="fa" [ngClass]=" themeSelection.selectedTheme.green ? 'fa-dot-circle-o' : 'fa-circle-o'" aria-hidden="true"></i>
                      </div>
                      <div class="color-square green"></div>
                    </div>
                    <div class="input-item clickable" (click)="selectTheme('purple')">
                      <div class="radio-input">
                        <i class="fa" [ngClass]=" themeSelection.selectedTheme.purple ? 'fa-dot-circle-o' : 'fa-circle-o'" aria-hidden="true"></i>
                      </div>
                      <div class="color-square purple"></div>
                    </div>


                    <div class="clear-both"></div>
                  </div>
                  *Note: This theme will apply to all your micro-learning modules including the ones created previously.
                </div>
              </div>

              <div class="form-group" >
                <label for="contentName">Content Name</label>
                <input type="text" class="form-control" id="contentName" [(ngModel)]="contentName" (keyup)="validationOnName()">

              </div>
              <div class="form-group" *ngIf="contentTypeSelection.selectedType!=='Survey'">
                <label for="descriptionContent">Description Content</label>
                <textarea id="contentDescriptionInput" name="contentDescriptionInput" class="form-control" type="text" [(ngModel)]="contentDescription"
                  (keyup)="validationOndescriptionContent()"> </textarea>
                <!--  <app-tinymce id="contentDescriptionInput" name="contentDescriptionInput" type="text"  [(ngModel)]="contentDescription"></app-tinymce> -->


              </div>

              <div *ngIf="contentTypeSelection.selectedType!=='Standard Operating Procedure Checklist' && contentTypeSelection.selectedType!=='Survey' && contentTypeSelection.selectedType!=='Pitch Comprehension'"
                class="form-group">
                <div class="image-uploader" id="imageInput">
                  <span>Drag a file to Upload as Thumbnail image</span>
                  <div class="upload-button-wrapper">
                    <button (click)="browseImageClicked()" type="file" class="btn btn-sm">CHOOSE FILE</button>
                    <span class="image-name" [title]="imageName">{{ imageName }}</span>
                  </div>
                  <input #imageFileInput (change)="newContentImageChanged($event)" type="file" name="userprofile_picture" id="filePhoto" accept="image/*"
                  />

                  <!-- <text-angular ng-model="htmlVariable"></text-angular> -->
                </div>

              </div>

              <div *ngIf="contentTypeSelection.selectedType==='Pitch Comprehension'" class="form-group">
                <div class="image-uploader" id="imageInput">
                  <span>Upload a PPT File </span>
                  <div class="upload-button-wrapper">
                    <button (click)="browseImageClicked()" type="file" class="btn btn-sm">CHOOSE FILE</button>
                    <span class="image-name" [title]="imageName">{{ imageName }}</span>
                  </div>
                  <input #imageFileInput (change)="newContentImageChanged($event)" type="file" name="userprofile_picture" id="filePhoto" accept="image/*"
                  />
                </div>
              </div>
            </div>
          </div>



          <footer>
            <!--
[disabled]="!contentName || !(url || contentTypeSelection.selectedType==='Standard Operating Procedure Checklist') || !contentTypeSelection.selectedType || !categorySelection.selectedSubCategory || !categorySelection.selectedCategory"
-->

            <button *ngIf="contentTypeSelection.selectedType!=='Info Cards' && contentTypeSelection.selectedType!=='Survey'" class="btn btn-success"
              type="button" (click)=" createContent();">Save</button>
            <button *ngIf="contentTypeSelection.selectedType==='Survey'" class="btn btn-success" type="button" (click)=" createContent();">Save
            </button>
            <button *ngIf="contentTypeSelection.selectedType==='Info Cards'" class="btn btn-success" type="button" (click)=" createContent();">Save
            </button>

          </footer>
        </div>
        <!-- ********************* wrapper for new conent ends******************************** -->



        <!-- ********************* wrapper for content/question Slide starts******************************** -->
        <div class="form-body row" id="slide-questions-wrapper" *ngIf="pagesObj.status.contentSlide || pagesObj.status.questionSlide">

          <!-- ********************* wrapper for content Slide starts********************** -->
          <div *ngIf="pagesObj.status.contentSlide" [class.col-8]="contentTypeSelection.selectedType!=='News' || contentTypeSelection.selectedType!=='Video'"
            [class.col-12]="contentTypeSelection.selectedType==='News' || contentTypeSelection.selectedType==='Video'" class="form-wrapper ">
            <div class="form-inner">
              <div class="form-group">
                <label for="slideTitle">Title Name</label>
                <input type="text" class="form-control" id="slideTitle" [(ngModel)]="slideTitleName" (blur)="validationOnSlideTitle()">
                <!-- <app-tinymce id="slideTitle" name="contentDescriptionInput" type="text"  [(ngModel)]="slideTitleName"></app-tinymce>  -->

              </div>
              <div class="form-group" *ngIf="contentTypeSelection.selectedType!=='HTML5 Course'">
                <label for="descriptionContent">Description Content</label>
                <!-- <textarea type="text" class="form-control" id="descriptionSlide" [(ngModel)]="slideContentDescription" (blur)="validationOndescriptionSlide()"></textarea>  -->
                <app-tinymce id="descriptionSlide" name="contentDescriptionInput" type="text" [(ngModel)]="slideContentDescription" (click)="applyStyles()"
                  (keyup)="enableHtml()"></app-tinymce>
              </div>
              <div *ngIf="contentTypeSelection.selectedType!=='Standard Operating Procedure Checklist' && contentTypeSelection.selectedType!=='Info Cards' && contentTypeSelection.selectedType!=='HTML5 Course'"
                class="input-wrapper with-icon" id="selectContentType">
                <div class="input-body">
                  <div class="select-list-input" [ngClass]="{'selected': categorySelection.selectedContentType !== ''}" (click)="categorySelection.contentTypePopupVisible = !categorySelection.contentTypePopupVisible">
                    <div class="title clickable">Select Content Type</div>
                    <div class="content">{{ categorySelection.selectedContentType }}</div>
                    <div class="down-arrow">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="list-popup" *ngIf="categorySelection.contentTypePopupVisible">
                      <div class="list-element" *ngFor="let type of contentTypes" (click)="selectContentType(type)">{{type}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="contentTypeSelection.selectedType==='Standard Operating Procedure Checklist'" class="input-wrapper with-icon"
                id="selectChecklistType">
                <div class="input-body">
                  <div class="select-list-input" [ngClass]="{'selected': categorySelection.selectedOperationType !== ''}" (click)="categorySelection.operationTypePopupVisible = !categorySelection.operationTypePopupVisible">
                    <div class="title clickable">Select Checklist Type</div>
                    <div class="content">{{ categorySelection.selectedOperationType }}</div>
                    <div class="down-arrow">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="list-popup" *ngIf="categorySelection.operationTypePopupVisible">
                      <div class="list-element" *ngFor="let type of operationTypes" (click)="selectOperationType(type)">{{type}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Industry Cards -->

              <!-- Image Box-->
              <div *ngIf="contentTypeSelection.selectedType==='Info Cards'" class="input-wrapper with-icon" id="imageBox">

                <div class="input-body">
                  <label>Choose Image</label>
                  <div class="info-card-input">
                    <div class="column-data">
                      <div class="radio-selection-wrapper">

                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" (click)="mediaSelection.imageClickedUrl()" class="form-check-input" name="image" [value]="mediaSelection.image"
                              [checked]="mediaSelection.image===false">Paste a Url
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" (click)="mediaSelection.imageClickedUpload()" class="form-check-input" name="image" [value]="mediaSelection.image"
                              [checked]="mediaSelection.image===true">Upload Local File
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="column-data" *ngIf="!mediaSelection.image">

                      <div class="form-group">
                        <label for="slideUrl">Url of the file:</label>
                        <input type="text" class="form-control" id="slideUrl" [(ngModel)]="imageUrl" (blur)="validationOnSlideTitle()">
                      </div>
                    </div>
                    <div class="column-data" *ngIf="mediaSelection.image">

                      <div class="form-group">

                        <div class="image-uploader">
                          <span>Drag a file to Upload as Image</span>
                          <div class="upload-button-wrapper">
                            <button (click)="browseSlideImageClicked()" type="file" class="btn btn-sm ">CHOOSE FILE</button>
                            <span class="image-name" [title]="slideImageName">{{ slideImageName }}</span>
                          </div>
                          <input #slideImageFileInput (change)="contentSlideInfoChanged($event)" type="file" name="contentSlidePhoto" id="contentSlidePhoto"
                            accept="image/*" />
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- Image Box Ends -->
              <!-- Video Box -->

              <div *ngIf="contentTypeSelection.selectedType==='Info Cards'" class="input-wrapper with-icon" id="videoBox">

                <div class="input-body">
                  <label>Choose Video</label>
                  <div class="info-card-input">
                    <div class="column-data">
                      <div class="radio-selection-wrapper">

                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" (click)="mediaSelection.videoClickedUrl()" class="form-check-input" name="video" [value]="mediaSelection.video"
                              [checked]="mediaSelection.video===false">Paste a Url
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" (click)="mediaSelection.videoClickedUpload()" class="form-check-input" name="video" [value]="mediaSelection.video"
                              [checked]="mediaSelection.video===true">Upload Local File
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="column-data" *ngIf="!mediaSelection.video">

                      <div class="form-group">
                        <label for="slideUrl">Url of the file:</label>
                        <input type="text" class="form-control" id="slideUrl" [(ngModel)]="videoUrls" (blur)="validationOnSlideTitle()">
                      </div>
                    </div>
                    <div class="column-data" *ngIf="mediaSelection.video">

                      <div class="form-group">

                        <div class="image-uploader">
                          <span>Drag a file to Upload as Video</span>
                          <div class="upload-button-wrapper">
                            <button (click)="browseSlideVideoClicked()" type="file" class="btn btn-sm ">CHOOSE FILE</button>
                            <span class="image-name" [title]="slideVideoName">{{ slideVideoName }}</span>
                          </div>
                          <input #slideVideoFileInput (change)="contentSlideInfoChanged($event)" type="file" name="contentSlideVideo" id="contentSlideVideo"
                            accept="video/*" />
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Video Box Ends -->


              <!-- Doc Box -->

              <div *ngIf="contentTypeSelection.selectedType==='Info Cards'" class="input-wrapper with-icon" id="docBox">

                <div class="input-body">
                  <label>Choose Doc</label>
                  <div class="info-card-input">
                    <div class="column-data">
                      <div class="radio-selection-wrapper">

                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" (click)="mediaSelection.docClickedUrl()" class="form-check-input" name="doc" [value]="mediaSelection.doc"
                              [checked]="mediaSelection.doc===false">Paste a Url
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" (click)="mediaSelection.docClickedUpload()" class="form-check-input" name="doc" [value]="mediaSelection.doc"
                              [checked]="mediaSelection.doc===true">Upload Local File
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="column-data" *ngIf="!mediaSelection.doc">

                      <div class="form-group">
                        <label for="slideUrl">Url of the file:</label>
                        <input type="text" class="form-control" id="slideUrl" [(ngModel)]="docUrl" (blur)="validationOnSlideTitle()">
                      </div>
                    </div>
                    <div class="column-data" *ngIf="mediaSelection.doc">

                      <div class="form-group">

                        <div class="image-uploader">
                          <span>Drag a file to Upload as Doc</span>
                          <div class="upload-button-wrapper">
                            <button (click)="browseSlideDocClicked()" type="file" class="btn btn-sm ">CHOOSE FILE</button>
                            <span class="image-name" [title]="slideDocName">{{ slideDocName }}</span>
                          </div>
                          <input #slideDocFileInput (change)="contentSlideInfoChanged($event)" type="file" name="contentSlideDoc" id="contentSlideDoc"
                            accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Doc Box Ends -->


              <!-- Audio Box -->

              <div *ngIf="contentTypeSelection.selectedType==='Info Cards'" class="input-wrapper with-icon" id="audioBox">

                <div class="input-body">
                  <label>Choose Audio</label>
                  <div class="info-card-input">
                    <div class="column-data">
                      <div class="radio-selection-wrapper">

                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" (click)="mediaSelection.audioClickedUrl()" class="form-check-input" name="audio" [value]="mediaSelection.audio"
                              [checked]="mediaSelection.audio===false">Paste a Url
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" (click)="mediaSelection.audioClickedUpload()" class="form-check-input" name="audio" [value]="mediaSelection.audio"
                              [checked]="mediaSelection.audio===true">Upload Local File
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="column-data" *ngIf="!mediaSelection.audio">

                      <div class="form-group">
                        <label for="slideUrl">Url of the file:</label>
                        <input type="text" class="form-control" id="slideUrl" [(ngModel)]="audioUrl" (blur)="validationOnSlideTitle()">
                      </div>
                    </div>
                    <div class="column-data" *ngIf="mediaSelection.audio">

                      <div class="form-group">

                        <div class="image-uploader">
                          <span>Drag a file to Upload as Audio</span>
                          <div class="upload-button-wrapper">
                            <button (click)="browseSlideAudioClicked()" type="file" class="btn btn-sm ">CHOOSE FILE</button>
                            <span class="image-name" [title]="slideAudioName">{{ slideAudioName }}</span>
                          </div>
                          <input #slideAudioFileInput (change)="contentSlideInfoChanged($event)" type="file" name="contentSlideAudio" id="contentSlideAudio"
                            accept="audio/*" />
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Audio Box Ends -->

              <!-- Industry Cards End -->


              <!--  html5 course-->
              <div *ngIf="contentTypeSelection.selectedType==='HTML5 Course'" class="form-group" id="zipBox">
                <div class="image-uploader">
                  <span>Drag a file to Upload as Zip</span>
                  <div class="upload-button-wrapper">
                    <button (click)="browseSlideZipClicked()" type="file" class="btn btn-sm">CHOOSE FILE</button>
                    <span class="image-name" [title]="slideZipName">{{ slideZipName }}</span>
                  </div>
                  <input #slideZipFileInput ng2FileSelect [uploader]="uploader" (change)="contentSlideZipChanged($event)" type="file" name="contentSlideZip"
                    id="contentSlideZip" accept=".zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed"
                  />
                </div>
              </div>

              <div *ngIf="contentTypeSelection.selectedType==='HTML5 Coursefdfg'" class="input-wrapper with-icon">

                <div class="input-body">
                  <label>Choose Zip File</label>
                  <div class="info-card-input">
                    <div class="column-data">
                      <div class="radio-selection-wrapper">

                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" (click)="mediaSelection.ZipClickedUpload()" class="form-check-input" name="zip" [value]="mediaSelection.zip"
                              [checked]="mediaSelection.zip===true">Upload Local File
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="column-data" *ngIf="mediaSelection.zip">

                      <div class="form-group">

                        <div class="image-uploader">
                          <span>Drag a file to Upload as Zip</span>
                          <div class="upload-button-wrapper">
                            <button (click)="browseSlideZipClicked()" type="file" class="btn btn-sm ">CHOOSE FILE</button>
                            <span class="image-name" [title]="slideZipName">{{ slideZipName }}</span>
                          </div>
                          <input #slideZipFileInput ng2FileSelect [uploader]="uploader" (change)="contentSlideZipChanged($event)" type="file" name="contentSlideZip"
                            id="contentSlideZip" accept="zip" />
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- html5 end  -->

              <div class="input-wrapper with-icon" id="inputMethodBox" *ngIf="contentTypeSelection.selectedType!=='Info Cards' && contentTypeSelection.selectedType!=='HTML5 Course'">
                <div class="input-body">
                  <div class="select-list-input" [ngClass]="{'selected': categorySelection.selectedFileInputType !== ''}" (click)="categorySelection.FileInputTypePopupVisible = !categorySelection.FileInputTypePopupVisible">
                    <div class="title clickable">Select Input Method</div>
                    <div class="content">{{ categorySelection.selectedFileInputType }}</div>
                    <div class="down-arrow">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="list-popup" *ngIf="categorySelection.FileInputTypePopupVisible">
                      <div class="list-element" *ngFor="let type of FileInputTypes" (click)="selectFileInputType(type)">{{type}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="contentTypeSelection.selectedType!=='HTML5 Course' && contentTypeSelection.selectedType!=='Standard Operating Procedure Checklist' && categorySelection.selectedFileInputType==='Upload a Local File'"
                class="form-group">
                <div class="image-uploader" id="imageVideoBox">
                  <span *ngIf="categorySelection.selectedContentType==='BLOG'">Drag a file to Upload as Image</span>
                  <span *ngIf="categorySelection.selectedContentType==='VIDEO'">Drag a file to Upload as Video</span>
                  <div class="upload-button-wrapper">
                    <button (click)="browseSlideImageClicked()" type="file" class="btn btn-sm ">CHOOSE FILE</button>
                    <span class="image-name" [title]="slideImageName">{{ slideImageName }}</span>
                  </div>
                  <input *ngIf="categorySelection.selectedContentType==='BLOG'" #slideImageFileInput (change)="contentSlideImageChanged($event)"
                    type="file" name="contentSlidePhoto" id="contentSlidePhoto" accept="image/*" />
                  <input *ngIf="categorySelection.selectedContentType==='VIDEO'" #slideImageFileInput (change)="contentSlideImageChanged($event)"
                    type="file" name="contentSlideVideo" id="contentSlideVideo" accept="video/*, audio/*" />
                </div>
              </div>
              <div class="form-group" id="urlBox" *ngIf="categorySelection.selectedFileInputType==='Paste a Url'">
                <label for="slideUrl">Url of the file:</label>
                <input type="text" class="form-control" id="slideUrl" [(ngModel)]="slideUrl" (blur)="validationOnSlideTitle()">
              </div>
              <div *ngIf="contentTypeSelection.selectedType!=='HTML5 Course' && contentTypeSelection.selectedType==='Standard Operating Procedure Checklist' && categorySelection.selectedFileInputType==='Upload a Local File'"
                class="form-group">
                <div class="image-uploader" id="imageAudioVideoBox">
                  <span>Drag a file to Upload </span>
                  <div class="upload-button-wrapper">
                    <button (click)="browseSlideImageClicked()" type="file" class="btn btn-sm ">CHOOSE FILE</button>
                    <span class="image-name">{{ slideImageName }}</span>
                  </div>
                  <input *ngIf="categorySelection.selectedOperationType==='IMAGE'" #slideImageFileInput (change)="contentSlideImageChanged($event)"
                    type="file" name="contentSlidePhoto" id="contentSlidePhoto" accept="image/*" />
                  <input *ngIf="categorySelection.selectedOperationType==='VIDEO'" #slideImageFileInput (change)="contentSlideImageChanged($event)"
                    type="file" name="contentSlidePhoto" id="contentSlidePhoto" accept="video/*" />
                  <input *ngIf="categorySelection.selectedOperationType==='AUDIO'" #slideImageFileInput (change)="contentSlideImageChanged($event)"
                    type="file" name="contentSlidePhoto" id="contentSlidePhoto" accept="audio/*" />
                </div>
              </div>
              <div *ngIf="contentTypeSelection.selectedType==='Standard Operating Procedure Checklist'" class="check-box-group-wrapper"
                (click)="mandatory = !mandatory">
                <div class="check-box-icon">
                  <i *ngIf="!mandatory" class="fa fa-square-o" aria-hidden="true"></i>
                  <i *ngIf="mandatory" class="fa fa-check-square-o" aria-hidden="true"></i>
                </div>
                <div class="check-box-label-wrapper">
                  <div class="label">Mandatory</div>
                  <div class="description">Make question mandatory to answer.</div>
                </div>
              </div>
              <footer *ngIf="pagesObj.status.contentSlide" class="col-12">
                <div class="footer-inner">
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='HTML5 Course' && !editMode && contentArr.length<2"
                    type="button" (click)="saveHTMLSlide();">Save</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='HTML5 Course' && !editMode" type="button" (click)="finishHTMLCreation();"
                    [disabled]="contentArr.length===0">Finish</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='HTML5 Course' && editMode && contentArr.length<2"
                    type="button" (click)="updateHTMLSlide();">Update</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='HTML5 Course' && editMode" type="button" (click)="finishHTMLUpdate();"
                    [disabled]="contentArr.length===0">Finish Update</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='Info Cards' && !editMode" type="button" (click)="saveInfoCardSlide();">Save</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='Info Cards' && !editMode" type="button" (click)="publishInfoCards();"
                    [disabled]="contentArr.length===0">Finish</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='Info Cards' && editMode" type="button" (click)="updateInfoCardSlide();">Update</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='Info Cards' && editMode" type="button" (click)="updateInfoCards();"
                    [disabled]="contentArr.length===0">Finish Update</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='Survey' && editMode" type="button" (click)="saveISurveyCardSlide();">Save
                    Survey
                  </button>
                  <button class="btn btn-success" *ngIf="!editMode && (contentTypeSelection.selectedType==='MicroLearning' || contentTypeSelection.selectedType==='Standard Operating Procedure Checklist')"
                    type="button" (click)="saveContentSlide();">Save</button>
                  <button class="btn btn-success" *ngIf="editMode && (contentTypeSelection.selectedType==='MicroLearning' || contentTypeSelection.selectedType==='Standard Operating Procedure Checklist')"
                    type="button" (click)="updateContentSlide();">Update</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='MicroLearning' && !contentToEdit.id" type="button"
                    (click)="finishContentCreation();">Finish</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='Survey' && !contentToEdit.id" type="button" (click)="finishSurveyCreation();">Finish</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='News' || contentTypeSelection.selectedType==='Video' "
                    type="button" (click)="finishNewsVideo();">Finish</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='Standard Operating Procedure Checklist' && !contentToEdit.id"
                    type="button" (click)="finishOperationCreation();">Finish</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='MicroLearning' && contentToEdit.id" type="button"
                    (click)="updateContentCreation();">Finish Update</button>
                  <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='Standard Operating Procedure Checklist' && contentToEdit.id"
                    type="button" (click)="updateOperationCreation();">Finish Update</button>
                </div>
              </footer>
            </div>
          </div>

          <!-- ********************* wrapper for content Slide ends********************** -->

          <!-- ********************* wrapper for question Slide starts********************** -->
          <div *ngIf="pagesObj.status.questionSlide" class="col-8 form-wrapper">
            <div class="form-inner">

              <div *ngIf="contentTypeSelection.selectedType==='Survey'" class="input-wrapper with-icon" id="questionType">
                <div class="input-body">
                  <div class="select-list-input" [ngClass]="{'selected': categorySelection.selectedQuestionType !== ''}" (click)="categorySelection.questionTypePopupVisible = !categorySelection.questionTypePopupVisible">
                    <div class="title clickable">Select Question Type</div>
                    <div class="content">{{ categorySelection.selectedQuestionType }}</div>
                    <div class="down-arrow">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="list-popup" *ngIf="categorySelection.questionTypePopupVisible">
                      <div class="list-element" *ngFor="let type of questionTypes" (click)="selectQuestionType(type)">{{type}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="contentTypeSelection.selectedType==='Quiz' || contentTypeSelection.selectedType==='MicroLearning'" id="questionType"
                class="input-wrapper with-icon">
                <div class="input-body">
                  <div class="select-list-input" [ngClass]="{'selected': categorySelection.selectedQuestionType !== ''}" (click)="categorySelection.questionTypePopupVisible = !categorySelection.questionTypePopupVisible">
                    <div class="title clickable">Select Question Type</div>
                    <div class="content">{{ categorySelection.selectedQuestionType }}</div>
                    <div class="down-arrow">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <div class="list-popup" *ngIf="categorySelection.questionTypePopupVisible">
                      <div class="list-element" *ngFor="let type of questionTypesQuiz" (click)="selectQuestionType(type)">{{type}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="page3TitleName">Title</label>
                <input type="text" class="form-control" id="page3TitleName" [(ngModel)]="questionTitleName" (blur)="validationOnQuestionTitle()">
                <!--  <app-tinymce id="page3TitleName"  type="text"  [(ngModel)]="questionTitleName"></app-tinymce> -->

              </div>

              <div class="form-group" *ngIf="contentTypeSelection.selectedType!=='Survey'">
                <label for="page2TitleName">Subtitle</label>
                <textarea class="form-control" id="page2TitleName" [(ngModel)]="questionSubTitleName" (blur)="validationOnQuestionSubtitle()"> </textarea>
                <!--     <app-tinymce id="page2TitleName"  type="text"  [(ngModel)]="questionSubTitleName"></app-tinymce>  -->
              </div>

              <!--  <div class="form-group" *ngIf="categorySelection.selectedQuestionType==='IMAGE'">
                <div class="image-uploader">
                  <span>Drag a file to Upload as Question image</span>
                  <div class="upload-button-wrapper">
                    <button (click)="browseQuestionImageClicked()" type="file" class="btn btn-sm ">CHOOSE FILE</button>
                    <span class="image-name">{{ questionImageName }}</span>
                  </div>
                  <input #QuestionImageFileInput (change)="QuestionImageChanged($event)" type="file" name="QuestionPhoto" id="QuestionPhoto"
                    accept="image/*" />
                </div>
              </div> -->

              <div class="check-box-group-wrapper" (click)="question.randomize = !question.randomize">
                <div class="check-box-icon">
                  <i *ngIf="!question.randomize" class="fa fa-square-o" aria-hidden="true"></i>
                  <i *ngIf="question.randomize" class="fa fa-check-square-o" aria-hidden="true"></i>
                </div>
                <div class="check-box-label-wrapper">
                  <div class="label">Randomize</div>
                  <div class="description">Shuffle answers of this question.</div>
                </div>
              </div>

              <div class="check-box-group-wrapper" (click)="question.mandatory = !question.mandatory" *ngIf="contentTypeSelection.selectedType==='Standard Operating Procedure Checklist'">
                <div class="check-box-icon">
                  <i *ngIf="!question.mandatory" class="fa fa-square-o" aria-hidden="true"></i>
                  <i *ngIf="question.mandatory" class="fa fa-check-square-o" aria-hidden="true"></i>
                </div>
                <div class="check-box-label-wrapper">
                  <div class="label">Mandatory</div>
                  <div class="description">Make question mandatory to answer.</div>
                </div>
              </div>
              <div class="check-box-group-wrapper" (click)="question.negative = !question.negative" *ngIf="contentTypeSelection.selectedType==='MicroLearning' || contentTypeSelection.selectedType==='Quiz'">
                <div class="check-box-icon">
                  <i *ngIf="!question.negative" class="fa fa-square-o" aria-hidden="true"></i>
                  <i *ngIf="question.negative" class="fa fa-check-square-o" aria-hidden="true"></i>
                </div>
                <div class="check-box-label-wrapper">
                  <div class="label">Negative Marking</div>
                  <div class="description">Award Negative marks for wrong answer.</div>
                </div>
              </div>

              <div class="form-group check-box-group-wrapper" *ngIf="SelectedContentTypeFromList === 'SURVEY'" (click)="question.anonymous = !question.anonymous">
                <div class="check-box-icon">
                  <i *ngIf="!question.anonymous" class="fa fa-square-o" aria-hidden="true"></i>
                  <i *ngIf="question.anonymous" class="fa fa-check-square-o" aria-hidden="true"></i>
                </div>
                <div class="check-box-label-wrapper" *ngIf="survey">
                  <div class="label">Anonymous</div>
                  <div class="description">Make survey anonymous.</div>
                </div>
              </div>

              <div class="accordian-wrapper" *ngIf="question.negative">
                <div class="accordian-header" (click)="accordian.negative = !accordian.negative">
                  <div class="title">Negative Marks</div>
                  <div class="icon-wrapper">
                    <span *ngIf="!accordian.negative">+</span>
                    <span *ngIf="accordian.negative">-</span>
                  </div>
                </div>
                <div class="body" *ngIf="accordian.negative">
                  <div class="form-group accordian-input-wrapper">
                    <input type="number" class="form-control" min="0" max="5" [(ngModel)]="negativeMarks" id="negativeMarks" (blur)="validationOnCorrectAnswer()">
                  </div>
                </div>
                <div class="clear-both"></div>
              </div>

              <div class="accordian-wrapper" *ngIf="contentTypeSelection.selectedType!=='Survey' && categorySelection.selectedQuestionType==='OPTION'">
                <div class="accordian-header" (click)="accordian.correct = !accordian.correct">
                  <div class="title">Correct Answer</div>
                  <div class="icon-wrapper">
                    <span *ngIf="!accordian.correct">+</span>
                    <span *ngIf="accordian.correct">-</span>
                  </div>
                </div>
                <div class="body" *ngIf="accordian.correct">
                  <div class="form-group accordian-input-wrapper">
                    <input type="text" class="form-control" [(ngModel)]="correctAnswer" id="correctAnswer" (blur)="validationOnCorrectAnswer()">
                  </div>
                </div>
                <div class="clear-both"></div>
              </div>

              <!-- MCQ -->
              <div class="accordian-wrapper" *ngIf="categorySelection.selectedQuestionType==='MULTI-CORRECT OPTION'">
                <div class="accordian-header" (click)="accordian.option = !accordian.option">
                  <div class="title">Options</div>
                  <div class="icon-wrapper">
                    <span *ngIf="!accordian.option">+</span>
                    <span *ngIf="accordian.option">-</span>
                  </div>
                </div>
                <div id="options" class="body" *ngIf="accordian.option">
                  <div class="form-group accordian-input-wrapper" id="i" *ngFor="let option of options; let i = index">
                    <label [for]="i+1">{{ i + 1 }}</label>
                    <input type="text" class="form-control" id="Option{{i+1}}" (keyup)="addOptionQuiz(i, $event)" (blur)="validationOnInCorrectAnswer($event)"
                      value="{{option.value}}">
                    <input type="number" min="0" class="form-control" (change)="addOptionMarks(i, $event)" (blur)="validationOnInCorrectAnswer($event)"
                      value="{{option.marks}}">
                    <div class="delete-icon">
                      <i class="fa fa-trash-o" aria-hidden="true" [id]="i+1" (click)="deleteOption(i)"></i>
                    </div>
                  </div>

                  <div class="add-button-wrapper">
                    <button class="btn btn-success" type="button" (click)="addOptionField()" [disabled]="options.length > 4">+
                      Add
                    </button>
                  </div>
                </div>
                <div class="clear-both"></div>
              </div>


              <div class="accordian-wrapper" *ngIf="contentTypeSelection.selectedType!=='Survey' && categorySelection.selectedQuestionType==='OPTION'">
                <div class="accordian-header" (click)="accordian.incorrect = !accordian.incorrect">
                  <div class="title">Incorrect Answers</div>
                  <div class="icon-wrapper">
                    <span *ngIf="!accordian.incorrect">+</span>
                    <span *ngIf="accordian.incorrect">-</span>
                  </div>
                </div>
                <div id="incorrect-options" class="body" *ngIf="accordian.incorrect">
                  <div class="form-group accordian-input-wrapper" *ngFor="let incorrectAnswer of incorrectAnswers; let i = index">
                    <label [for]="i+1">{{ i + 1 }}</label>
                    <input type="text" class="form-control" id="Incorrect{{i+1}}" (keyup)="addOption(i, $event)" (blur)="validationOnInCorrectAnswer($event)"
                      value="{{incorrectAnswer.value}}">
                    <div class="delete-icon">
                      <i class="fa fa-trash-o" aria-hidden="true" [id]="i+1" (click)="deleteIncorrectAnswer(i)"></i>
                    </div>
                  </div>

                  <div class="add-button-wrapper">
                    <button class="btn btn-success" type="button" (click)="addIncorrectAnswer()" [disabled]="incorrectAnswers.length > 3">+
                      Add
                    </button>
                  </div>
                </div>
                <div class="clear-both"></div>
              </div>


              <div class="accordian-wrapper" *ngIf="contentTypeSelection.selectedType==='Survey' && categorySelection.selectedQuestionType==='OPTION'">
                <div class="accordian-header" (click)="accordian.incorrect = !accordian.incorrect">
                  <div class="title">Options</div>
                  <div class="icon-wrapper">
                    <span *ngIf="!accordian.incorrect">+</span>
                    <span *ngIf="accordian.incorrect">-</span>
                  </div>
                </div>
                <div id="incorrect-options" class="body" *ngIf="accordian.incorrect">
                  <div class="form-group accordian-input-wrapper" *ngFor="let incorrectAnswer of incorrectAnswers; let i = index">
                    <label [for]="i+1">{{ i + 1 }}</label>
                    <input type="text" class="form-control" id="Incorrect{{i+1}}" (keyup)="addOption(i, $event)" (blur)="validationOnInCorrectAnswer($event)"
                      value="{{incorrectAnswer.value}}">
                    <div class="delete-icon">
                      <i class="fa fa-trash-o" aria-hidden="true" [id]="i+1" (click)="deleteIncorrectAnswer(i)"></i>
                    </div>
                  </div>

                  <div class="add-button-wrapper">
                    <button class="btn btn-success" type="button" (click)="addIncorrectAnswer()" [disabled]="incorrectAnswers.length > 3">+
                      Add
                    </button>
                  </div>
                </div>
                <div class="clear-both"></div>
              </div>

              <div class="accordian-wrapper">
                <div class="accordian-header" (click)="accordian.timer = !accordian.timer">
                  <div class="title">Timer</div>
                  <div class="icon-wrapper">
                    <span *ngIf="!accordian.timer">+</span>
                    <span *ngIf="accordian.timer">-</span>
                  </div>
                </div>
                <div class="body" *ngIf="accordian.timer">
                  <div class="form-group accordian-input-wrapper">
                    <label for="timeLimit">Time Limit (ms)</label>
                    <input type="number" class="form-control" id="timeLimit" min="0" max="300" [(ngModel)]="timeLimit">
                  </div>
                  <div class="form-group accordian-input-wrapper">
                    <label for="outOfTime">Out of time prompt</label>
                    <input type="text" class="form-control" id="outOfTime" [(ngModel)]="outOfTimeMessage">
                  </div>
                </div>
                <div class="clear-both"></div>
              </div>

              <div class="accordian-wrapper">
                <div class="accordian-header" (click)="accordian.stars = !accordian.stars">
                  <div class="title">Stars</div>
                  <div class="icon-wrapper">
                    <span *ngIf="!accordian.stars">+</span>
                    <span *ngIf="accordian.stars">-</span>
                  </div>
                </div>
                <div class="body" *ngIf="accordian.stars">
                  <div class="form-group accordian-input-wrapper">
                    <label for="stars">Number of stars awarded for a correct answer</label>
                    <input type="number" min="0" max="5" class="form-control" id="stars" [(ngModel)]="stars">
                  </div>
                </div>
                <div class="clear-both"></div>
              </div>
            </div>

            <footer>
              <div class="footer-inner">
                <button class="btn btn-success" *ngIf="!editMode" type="button" (click)="saveQuestionSlide();">Save</button>
                <button class="btn btn-success" type="button" *ngIf="editMode" (click)="updateQuestionSlide();">Update</button>
                <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='MicroLearning' && !contentToEdit.id" type="button"
                  (click)="finishContentCreation();">Finish</button> 
                <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='Survey' && !contentToEdit.id" type="button" (click)="finishSurveyCreation();">Finish</button>
                <button class="btn btn-success" *ngIf="(contentTypeSelection.selectedType==='Poll' || contentTypeSelection.selectedType==='Quiz') && !contentToEdit"
                  type="button" (click)="finishQuizCreation();">Finish</button>
                <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='MicroLearning' && contentToEdit.id" type="button"
                  (click)="updateContentCreation();">Finish Update</button>
                <button class="btn btn-success" *ngIf="contentTypeSelection.selectedType==='Survey' && contentToEdit.id" type="button" (click)="updateSurvey();">Finish
                  Update
                </button>
              </div>
            </footer>
          </div>

          <!-- ********************* wrapper for question Slide ends********************** -->


          <!-- ********************* wrapper for slide and question sidebar starts********************** -->
          <div id="slide-questions-sidebar-wrapper" class="col-4" *ngIf="contentTypeSelection.selectedType !=='News' && contentTypeSelection.selectedType!=='Video'">
            <div class="sidebar-inner">
              <div class="list-wrapper">
                <div class="list-item-wrapper" *ngFor="let item of contentArr; let i = index" (click)="selectSlide(i)">
                  <div class="title">
                    <div class="icons-wrapper">
                      <i class="fa fa-cog" aria-hidden="true" style="cursor:pointer"></i>
                      <i class="fa fa-trash" aria-hidden="true" style="cursor:pointer" (click)="deleteSlide(i)"></i>
                    </div>
                    <span>{{i+1}}.{{ item.slideTitleName }}</span>
                  </div>
                  <div class="description">{{item.slideContentDescription}}</div>
                </div>
              </div>
            </div>
            <div class="footer-wrapper" *ngIf="contentTypeSelection.selectedType!=='' && contentTypeSelection.selectedType!=='HTML5 Course'">
              <footer>
                <button *ngIf="(( contentTypeSelection.selectedType==='MicroLearning') || (contentTypeSelection.selectedType==='Quiz' || contentTypeSelection.selectedType==='Poll' || contentTypeSelection.selectedType === 'Survey'))"
                  class="btn btn-success" type="button" (click)="addQuestionSlide()">+ Add Question Slide</button>
                <button *ngIf="(( contentTypeSelection.selectedType==='MicroLearning') || contentTypeSelection.selectedType==='Standard Operating Procedure Checklist' || contentTypeSelection.selectedType==='Info Cards')"
                  class="btn btn-success" type="button" (click)="addContentSlide()">+ Add Content Slide</button>
              </footer>
            </div>
          </div>
          <!-- ********************* wrapper for slide and question sidebar ends********************** -->


        </div>
        <!-- ********************* wrapper for content/question Slide ends******************************** -->



      </div>
    </div>

  </div>




</div>