<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row text-left justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-card-center">Internal Messaging </h4>
                    <p class="mb-0">Send personal message  with a group </p>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form">
                            <div class="form-body">

                                <!--  Name  -->




                <!--  State  -->




<!--  text  -->
<div class="form-group">




    <label for="template">template</label>
    <div class="position-relative has-icon-left">
    <input type="text" class="form-control" ngModel name="template" #template="ngModel"

required placeholder="Email template " [ngModelOptions]="{updateOn: 'blur'}" />
    <small class="form-text text-muted danger" *ngIf="!template.valid && (template.dirty || template.touched)">Template name   is not valid </small>
    <div class="form-control-position">
        <i class="ft-file-text"></i>
    </div>
    </div>

</div>










                                <!--  Name  -->
                            <!--  Email  -->
                            <div class="form-group">



                                <label for="sender">sender</label>
                                 <div class="position-relative has-icon-left"> 

                                <input type="email" class="form-control" ngModel name="sender" ngModel required sender #sender="ngModel" [ngModelOptions]="{updateOn: 'blur'}" placeholder=" Enter email to be sent from "  />
                                <div class="form-control-position">
                                    <i class="ft-at-sign"></i>
                                </div>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="sender.errors?.sender">email is not valid </small>
                            </div>




                <!--  State  -->











                                <!--  Name  -->




                <!--  State  -->




<!--  text  -->
<div class="form-group">




    <label for="subject">subject</label>
    <div class="position-relative has-icon-left">
    <input type="text" class="form-control" ngModel name="subject" #subject="ngModel"

required placeholder="Enter subject of the message" [ngModelOptions]="{updateOn: 'blur'}" />
    <small class="form-text text-muted danger" *ngIf="!subject.valid && (subject.dirty || subject.touched)">Subject not valid</small>
    <div class="form-control-position">
        <i class="ft-message-circle"></i>
    </div>
    </div>

</div>










                                <!--  Name  -->
                            <!--  Email  -->
                            <div class="form-group">



                                <label for="to">to</label>
                                 <div class="position-relative has-icon-left"> 

                                <input type="email" class="form-control" ngModel name="to" ngModel required to #to="ngModel" [ngModelOptions]="{updateOn: 'blur'}" placeholder="  enter recipient of email"  />
                                <div class="form-control-position">
                                    <i class="ft-at-sign"></i>
                                </div>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="to.errors?.to">email is not valid </small>
                            </div>




                <!--  State  -->











                                <!--  Name  -->




                <!--  State  -->

            <!--  text large  -->
            <div class="form-group">
                <label for="content">content</label>
            <div class="position-relative has-icon-left">
                <textarea id="content" rows="5" class="form-control" name="content" placeholder="enter email content" ></textarea>
                <div class="form-control-position">
                    <i class="ft-file"></i>
                </div>
            </div>

            </div>










                                <!--  Name  -->




                <!--  State  -->










<div class="form-group">
    <label class=" label-control" for="Start time">Send Notification at : </label>

    <div class="position-relative has-icon-left">
        <input type="time" id="Start time" class="form-control" name="Start time">
        <div class="form-control-position">
            <i class="ft-clock"></i>
        </div>
    </div>

</div>






                            </div>

                            <div class="form-actions center">
                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






</section>