<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3 pt-3">
    <div class="row text-left">
        <div class="col-md-2 justify-content-center align-self-center">
            <span class="panel-icon-circle">
                <img src="../../../assets/img/settings.svg" class="panel-head-icon"></span>&nbsp;&nbsp;
            <span class="panel-head-text">
                App-Config
            </span>
        </div>
        <div class="col-md-4">
            <div class="search-cont">
                <span class="search-icon">
                    <i class="fa fa-search"></i>
                    <!-- <fa name="cog" animation="spin"></fa> -->
                </span>
                <input type='text' class="search-input" placeholder='What are you looking for?' (keyup)='updateFilter($event)' />
            </div>
        </div>
        <div class="col-md-6" *ngIf="showFilters">
            <ul class="filter-n-sort-ul custom-radios">
                <li class="font-weight-bold">Filter By: </li>
                <li> <input type="radio" id="color-1" class="color" name="color" value="color-1">
                    <label for="color-1">
                        <span>
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                        </span>
                    </label>&nbsp;Total Group</li>
                <li><input type="radio" id="color-2" name="color" class="color" value="color-1">
                    <label for="color-2">
                        <span>
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                        </span>
                    </label>&nbsp;Last Active</li>
                <li><input type="radio" id="color-3" name="color" class="color" value="color-1">
                    <label for="color-3">
                        <span>
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                        </span>
                    </label>&nbsp;Reg. Date</li>
                <!-- <li>
                    <select>
                        <option>Option 1</option>
                        <option>option 2</option>
                        <option>Option 3</option>
                    </select>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows'>

                <ngx-datatable-column name="Dashboard Item Name" sortable="true" prop="value">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Image" sortable="true" prop="description">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <img src="{{value}}" width="50px" height="50px" alt="No Image Selected">
                    </ng-template>
                </ngx-datatable-column>

          <!--      <ngx-datatable-column name="Interface Type" sortable="true" prop="name">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
        -->
                <ngx-datatable-column name="SubCategory" sortable="true" prop="subCategory">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

                
                
                 <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="60">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button md-icon-button class="dt-icon clone-icon" (click)="customizeConfig(row)" [disabled]="row['status']==='APPROVED'" placement="bottom" ngbTooltip="Enable for a Group">
              <i class="fa fa-user-secret"></i>
            </button>
            <button md-icon-button class="dt-icon edit-icon" (click)="editConfig(row)" [disabled]="row['status']==='APPROVED'" placement="bottom" ngbTooltip="Edit Configuration">
              <i class="fa fa-edit"></i>
            </button>
            <button md-icon-button class="dt-icon delete-icon" (click)="deleteConfig(row)" [disabled]="row['status']==='BLOCKED'" placement="bottom" ngbTooltip="Delete Configuration">
              <i class="fa fa-trash"></i>
            </button>
             <button md-icon-button class="dt-icon delete-icon"  (click)="disableContent(row)" *ngIf="row['path']==='true'" placement="bottom" ngbTooltip="Disable">
              <i class="fa fa-eye-slash"></i>
            </button>
            <button md-icon-button class="dt-icon edit-icon" (click)="enableContent(row)" *ngIf="row['path']==='false' || row['path']===null || row['path']===''" placement="bottom" ngbTooltip="Enable">
              <i class="fa fa-eye"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>

<div class="schedule-button-wrapper">
    <button class="schedule-button btn btn-success" type="button" placement="bottom" ngbTooltip="Create New Dashboard Item" (click)="createDashboardItem()">Create New</button>
    </div>
    
</section>
<!-- Filter Datatable Options Ends -->
<section id="filter" class="mb-3 pt-3">
 <div class="row mt-3">
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns2" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows2'>

 <ngx-datatable-column name="App Name" sortable="true" prop="value">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

               
          <!--      <ngx-datatable-column name="Interface Type" sortable="true" prop="name">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
        -->

                
                
                 <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="60">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        
            <button md-icon-button class="dt-icon edit-icon" (click)="editAppName(row)" placement="bottom" ngbTooltip="Edit App Name" [disabled]="row['status']==='APPROVED'">
              <i class="fa fa-edit"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>

</section>

<section id="filter" class="mb-3 pt-3">
 <div class="row mt-3">
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns3" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows3'>

 <ngx-datatable-column name="About Us Text" sortable="true" prop="description">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

               
              <ngx-datatable-column name="About Us Video Url" sortable="true" prop="path">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
    

                
                
                 <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="60">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        
            <button md-icon-button class="dt-icon edit-icon" (click)="editAppAbout(row)" placement="bottom" ngbTooltip="Edit About Us section" [disabled]="row['status']==='APPROVED'">
              <i class="fa fa-edit"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>

</section>

<section id="filter" class="mb-3 pt-3">
 <div class="row mt-3">
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns5" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows5'>

 <ngx-datatable-column name="App Logo Items" sortable="true" prop="type">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

               
              <ngx-datatable-column name="Image" sortable="true" prop="description">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <img src="{{value}}" width="50px" height="50px" alt="No Image Selected">
                    </ng-template>
                </ngx-datatable-column>
    

                
                
                 <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="60">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        
            <button md-icon-button class="dt-icon edit-icon" (click)="editAppLogo(row)" placement="bottom" ngbTooltip="Edit App Logo" [disabled]="row['status']==='APPROVED'">
              <i class="fa fa-edit"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>

</section>

<section id="filter" class="mb-3 pt-3">
 <div class="row mt-3">
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns4" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows4'>

 <ngx-datatable-column name="Name" sortable="true" prop="name">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

               
              <ngx-datatable-column name="Theme" sortable="true" prop="value">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
    

                
                
                 <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="60">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        
            <button md-icon-button class="dt-icon edit-icon" (click)="editAppTheme(row)" placement="bottom" ngbTooltip="Edit Theme" >
              <i class="fa fa-edit"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>

</section>

<section id="filter" class="mb-3 pt-3">
 <div class="row mt-3">
 <h3 style="margin-left:3%;">Profile Fields</h3>
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns6" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows6'>

 <ngx-datatable-column name="User Defined Fields" sortable="true" prop="name">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

               
              <ngx-datatable-column name="Type" sortable="true" prop="subCategory">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
    
    <ngx-datatable-column name="Options(if any)" sortable="true" prop="value">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
    

                
                
                 <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="60">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        
            <button md-icon-button *ngIf="false" class="dt-icon edit-icon" (click)="editUserDefinedFields(row)" placement="bottom" ngbTooltip="Edit Profile Field" [disabled]="row['status']==='APPROVED'">
              <i class="fa fa-edit"></i>
            </button>
            <button *ngIf="false" md-icon-button class="dt-icon delete-icon" (click)="deleteConfig(row)" placement="bottom" ngbTooltip="Delete Profile Field" [disabled]="row['status']==='BLOCKED'">
              <i class="fa fa-trash"></i>
            </button>
            <button md-icon-button class="dt-icon delete-icon"  (click)="disableContent(row)" *ngIf="row['path']==='true'" placement="bottom" ngbTooltip="Disable">
              <i class="fa fa-eye-slash"></i>
            </button>
            <button md-icon-button class="dt-icon edit-icon" (click)="enableContent(row)" *ngIf="row['path']==='false' || row['path']===null || row['path']===''" placement="bottom" ngbTooltip="Enable">
              <i class="fa fa-eye"></i>
            </button>
            
          </ng-template>
        </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>
    <div *ngIf="false" class="schedule-button-wrapper">
    <button class="schedule-button btn btn-success" type="button" [disabled]="rows6.length >5" placement="bottom" ngbTooltip="Create New Profile Field"  (click)="createUserDefinedFields()">Create New</button>
    </div>

</section>

<section id="filter" class="mb-3 pt-3">
 <div class="row mt-3">
 <h3 style="margin-left:3%;">Security Admin</h3>
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns8" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows8'>

 <ngx-datatable-column name="Name" sortable="true" prop="name">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

               
              <ngx-datatable-column name="Recipient" sortable="true" prop="value">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>    
                <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="60">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        
            <button md-icon-button class="dt-icon edit-icon" (click)="editEmailScreenshot(row)" placement="bottom" ngbTooltip="Edit Email Address" >
              <i class="fa fa-edit"></i>
            </button>
            <button md-icon-button class="dt-icon delete-icon"  (click)="disableContent(row)" *ngIf="row['path']==='true'" placement="bottom" ngbTooltip="Disable">
              <i class="fa fa-eye-slash"></i>
            </button>
            <button md-icon-button class="dt-icon edit-icon" (click)="enableContent(row)" *ngIf="row['path']==='false' || row['path']===null || row['path']===''" placement="bottom" ngbTooltip="Enable">
              <i class="fa fa-eye"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>


<div *ngIf="!rows8.length" class="schedule-button-wrapper">
    <button class="schedule-button btn btn-success" type="button"  placement="bottom" ngbTooltip="Create Security Admin"  (click)="createEmailScreenshotAddressField()">Create New</button>
    </div>
</section>


<section id="filter" class="mb-3 pt-3">
 <div class="row mt-3">
 <h3 style="margin-left:3%;">SOP Admin</h3>
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns9" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows9'>

 <ngx-datatable-column name="Name" sortable="true" prop="name">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

               
              <ngx-datatable-column name="Recipient" sortable="true" prop="value">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>    
                <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="60">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        
            <button md-icon-button class="dt-icon edit-icon" (click)="editEmailSOP(row)" placement="bottom" ngbTooltip="Edit Email Address" >
              <i class="fa fa-edit"></i>
            </button>
            <button md-icon-button class="dt-icon delete-icon"  (click)="disableContent(row)" *ngIf="row['path']==='true'" placement="bottom" ngbTooltip="Disable">
              <i class="fa fa-eye-slash"></i>
            </button>
            <button md-icon-button class="dt-icon edit-icon" (click)="enableContent(row)" *ngIf="row['path']==='false' || row['path']===null || row['path']===''" placement="bottom" ngbTooltip="Enable">
              <i class="fa fa-eye"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>


<div *ngIf="!rows9.length" class="schedule-button-wrapper">
    <button class="schedule-button btn btn-success" type="button"  placement="bottom" ngbTooltip="Create Security Admin"  (click)="createEmailSOP()">Create New</button>
    </div>
</section>


<section id="filter" class="mb-3 pt-3">
 <div class="row mt-3">
 <h3 style="margin-left:3%;">Dashboard Banners</h3>
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns10" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows10'>



 <ngx-datatable-column name="S.No." sortable="true" prop="displayOrder">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{'S.No.'}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

               
              <ngx-datatable-column name="Image" sortable="true" prop="value">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <img src="{{value}}" width="50px" height="50px" alt="No Image Selected">
                    </ng-template>
                </ngx-datatable-column>    
                <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="60">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        
            <button md-icon-button class="dt-icon edit-icon" (click)="editBanner(row)" placement="bottom" ngbTooltip="Change Banner Image" >
              <i class="fa fa-edit"></i>
            </button>
            <button md-icon-button class="dt-icon delete-icon"  (click)="disableContent(row)" *ngIf="row['path']==='true' && row.displayOrder===temp10.length" placement="bottom" ngbTooltip="Disable">
              <i class="fa fa-eye-slash"></i>
            </button>
            <button md-icon-button class="dt-icon edit-icon" (click)="enableContent(row)" *ngIf="row['path']==='false' || row['path']===null || row['path']===''" placement="bottom" ngbTooltip="Enable">
              <i class="fa fa-eye"></i>
            </button>
            <button *ngIf="row.displayOrder===temp10.length" md-icon-button class="dt-icon delete-icon" (click)="deleteBanner(row)" placement="bottom" ngbTooltip="Delete Banner" [disabled]="row['status']==='BLOCKED'">
              <i class="fa fa-trash"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>


<div *ngIf="rows10.length<5" class="schedule-button-wrapper">
    <button class="schedule-button btn btn-success" type="button"  placement="bottom" ngbTooltip="Create Security Admin"  (click)="createBanner()">Create New</button>
    </div>
</section>

<section id="filter" class="mb-3 pt-3">
    <div class="row mt-3">
    <h3 style="margin-left:3%;">Taskbot</h3>
           <div class="col-sm-12">
               <ngx-datatable #table class='bootstrap' [columns]="columns11" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                   [rowHeight]="'auto'" [limit]="10" [rows]='rows11'>
   
   
   
                <ngx-datatable-column name="Taskbot Name" sortable="true" prop="name">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
   
                  
                 <ngx-datatable-column name="Icon" sortable="true" prop="icon">
                       <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                           {{column.name}}
                       </ng-template>
                       <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                           <img src="{{value}}" width="50px" height="50px" alt="No Image Selected">
                       </ng-template>
                   </ngx-datatable-column>
                   <ngx-datatable-column name="File URL" sortable="true" prop="description">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>    
                <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="60">
             <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
               {{column.name}}
             </ng-template>
             <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
           
               <button md-icon-button class="dt-icon edit-icon" (click)="editBanner(row)" placement="bottom" ngbTooltip="Change Banner Image" >
                 <i class="fa fa-edit"></i>
               </button>
               <button md-icon-button class="dt-icon delete-icon" (click)="deleteTaskbot(row)" [disabled]="row['status']==='BLOCKED'" placement="bottom" ngbTooltip="Delete Taskbot">
                <i class="fa fa-trash"></i>
              </button>
             </ng-template>
           </ngx-datatable-column>
   
               </ngx-datatable>
           </div>
       </div>
   
   
   <div *ngIf="rows11.length<5" class="schedule-button-wrapper">
       <button class="schedule-button btn btn-success" type="button"  placement="bottom" ngbTooltip="Create Security Admin"  (click)="createTaskbot()">Create New</button>
       </div>
   </section>