$relative: relative;
$absolute: absolute;

.search-cont {
    position: $relative;
}

.search-input {
    padding: 2px 8px;
    width: 100%;
    font-size: 12px;
}

.search-icon {
    position: $absolute;
    display: inline-block;
    width: 32px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 4px 5px;
    text-align: center;
    color: #fff;
    background-color: #005271
}

#filter {
    border-top: 1px solid #ccc;
}

.filter-n-sort-ul {
    list-style-type: none;
    margin-bottom: 0;
    text-align: right;
}

.filter-n-sort-ul>li {
    display: inline-block;
    padding: 0 5px;
    font-size: 10px;
    font-weight: 500;
}

.custom-radios input[type="radio"] {
    display: none;
}

.custom-radios input[type="radio"]+label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.custom-radios input[type="radio"]+label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -1px 4px 0 0;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #005271;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 17px;
}

.custom-radios input[type="radio"]+label span img {
    opacity: 0;
    transition: all .3s ease;
    width: 10px;
}

.custom-radios input[type="radio"].color+label span {
    background-color: #fff;
}

#color-1,
#color-2,
#color-3 {
    background-color: #fff;
}

// .custom-radios input[type="radio"]#color-2+label span {
//     background-color: #3498db;
// }

// .custom-radios input[type="radio"]#color-3+label span {
//     background-color: #f1c40f;
// }

// .custom-radios input[type="radio"]#color-4+label span {
//     background-color: #e74c3c;
// }

.custom-radios input[type="radio"]:checked+label span img {
    opacity: 1;
}

.custom-radios input[type="radio"]:checked.color+label span {
    background-color: #005271
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    background-color: #fff;
    padding: 0.45rem;
    border: 1px solid #cccc;
}

.datatable-body {
    border: none;
}

.selectUserDrop {
    padding: 7px;
    width: 200px;
    background-color: transparent;
    color: #4d4d4d;
    border-radius: 5px;
}


.dt-icon {
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: inline-block;
    padding: 3px 8px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.dt-icon:hover {
    background-color: #ccc;
}

.edit-icon {
    color: green;
}

.schedule-icon {
    color: green;
}

.clone-icon {
    color: green;
}

.file-icon {
    color: rgb(167, 62, 24);
}

.delete-icon {
    color: red;
}

.is-unReview .datatable-body-cell-label {
    color: rgb(167, 62, 24) !important
}

.is-published .datatable-body-cell-label {
    color: rgb(41, 170, 15) !important
}

.is-approved .datatable-body-cell-label {
    color: rgb(61, 121, 211) !important
}

.is-expired .datatable-body-cell-label {
    color: rgb(109, 213, 237) !important
}

.is-rejected .datatable-body-cell-label {
    color: rgb(242, 53, 53) !important
}
.schedule-button-wrapper{
    padding: 20px;
    .schedule-button{
        margin: 0 auto;
        display: block;
        color: #fff !important;
    }
}