<section id="basic-form-layouts">
    <div *ngIf="page===1" class="row text-left justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-card-center">App Config</h4>
                    <p class="mb-0">Create new App Config</p>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form">
                            <div class="form-body">
                                <!--  Name  -->


                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="value">Enter Name for your App</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="name" class="form-control" name="app name" placeholder="Enter App Name" [(ngModel)]="appName">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--  State  -->



                                <!--  Name  -->



                                <!--  text large  
                                <div class="form-group">
                                    <label for="description">description</label>
                                    <div class="position-relative has-icon-left">
                                        <textarea id="description" rows="5" class="form-control" name="description" placeholder="Organization Description"></textarea>
                                        <div class="form-control-position">
                                            <i class="ft-file"></i>
                                        </div>
                                    </div>
                                </div>
-->




                                <div class="form-group">
                                    <hr>
                                    <label> Upload your App Logo</label>
                                    <input type="file" class="form-control-file" id="icon" (change)="imageChanged($event)" accept="image/*">
                                </div>
                                <div class="form-group">
                                    <label for="basicSelect">Select theme for your App</label>
                                    <select class="form-control" id="appTheme" [(ngModel)]="appTheme" name="appTheme">
                                        
                                        <option value="#4caf50">Green</option>

                                        <option value="#e0eff9">Sky Blue</option>

                                        <option value="#039be5">Blue</option>

                                    </select>
                                </div>


                                <!--  Name  -->

                            </div>
                            <div class="form-actions center">
                                <button type="button" class="btn btn-raised btn-warning mr-1" (click)="cancel()" [disabled]="!appTheme && !appName && !dashboardIcon">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button *ngIf="page!==3" type="button" class="btn btn-raised btn-primary" (click)="saveConfig()" >
                                    <i class="fa fa-check-square-o"></i> Next
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="page===2" class="row text-left justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-card-center">App Config</h4>
                    <p class="mb-0">Create new App Config</p>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form">
                            <div class="form-body">
                                <!--  Name  -->


                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="value">Enter intoduction to your Organization</label>
                                    <div class="position-relative has-icon-left">
                                        <textarea type="text" id="name" class="form-control" rows="5" cols="100" name="about" placeholder="Enter Something About Your Organization"
                                            [(ngModel)]="about"></textarea>
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--  State  -->



                                <!--  Name  -->



                                <!--  text large  
                                    <div class="form-group">
                                        <label for="description">description</label>
                                        <div class="position-relative has-icon-left">
                                            <textarea id="description" rows="5" class="form-control" name="description" placeholder="Organization Description"></textarea>
                                            <div class="form-control-position">
                                                <i class="ft-file"></i>
                                            </div>
                                        </div>
                                    </div>
    -->



                                <div class="form-group">
                                    <hr>
                                    <label> Upload a Video about your Organization</label>
                                    <input type="file" class="form-control-file" id="video" (change)="videoChanged($event)" accept="video/*">
                                </div>


                            </div>
                            <div class="form-actions center">
                                <button type="button" class="btn btn-raised btn-warning mr-1" (click)="cancel()" >
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button *ngIf="page!==3" type="button" class="btn btn-raised btn-primary" (click)="saveConfig()">
                                    <i class="fa fa-check-square-o"></i> Next
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="page>=3" class="row text-left justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-card-center">App Config</h4>
                    <p class="mb-0">Create new App Config</p>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form">
                            <div class="form-body">

                                <!--  State  -->

                                <div class="form-group" *ngIf="page===3">
                                    <label for="basicSelect">Select Number of Dashboard Items</label>

                                    <select class="form-control" id="tabs" name="tabs" (change)="setDashboardItems()" [(ngModel)]="tabs" placeholder="Select number of Dashboard Items">
                                        <option>4</option>

                                        <option>5</option>

                                        <option>6</option>

                                        <option>7</option>

                                        <option>8</option>

                                    </select>
                                </div>

                                <!--  State  -->
                                <!--  Name  -->


                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="value">Enter Name of Dashboard Item </label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="dashboardName" class="form-control" name="name" placeholder="Enter Name of Dashboard Item" [(ngModel)]="dashboardName">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--  State  -->

                                <div class="form-group">
                                    <label for="basicSelect">Interface Type</label>
                                    <select class="form-control" id="interface" [(ngModel)]="interface" name="interface">
                                        <option value="Select Inteface Type">Select Inteface Type</option>
                                        <option value="News">News</option>

                                        <option value="Blogs">Blogs</option>

                                        <option value="Jobs">Jobs</option>

                                        <option value="MicroLearning">Microlearning</option>

                                        <option value="BAT">BAT</option>

                                        <option value="Industry">Industry</option>

                                        <option value="Notification">Notification</option>

                                        <option value="Category">Category</option>
                                    </select>
                                </div>

                                <!--  Name  -->



                                <!--  text large  
                                    <div class="form-group">
                                        <label for="description">description</label>
                                        <div class="position-relative has-icon-left">
                                            <textarea id="description" rows="5" class="form-control" name="description" placeholder="Organization Description"></textarea>
                                            <div class="form-control-position">
                                                <i class="ft-file"></i>
                                            </div>
                                        </div>
                                    </div>
    -->


                                <div class="form-group" id="radioButtons">
                                    <div class="position-relative has-icon-left">
                                        <input class="form-check-inline" type="radio" name="mode" id="upload" value="upload" [(ngModel)]="rule">
                                        <label class="form-check-inline" for="upload">Upload Icon for this Item</label>
                                    </div>
                                    <div class="position-relative has-icon-left">
                                        <input class="form-check-inline" type="radio" name="mode" id="select" value="select" [(ngModel)]="rule">
                                        <label class="form-check-inline" for="select">Select one Icon</label>
                                    </div>
                                </div>

                                <div *ngIf="rule==='upload'" class="form-group">
                                    <hr>
                                    <label> Upload icon for this Item</label>
                                    <input type="file" class="form-control-file" id="dashboardIcon" (change)="imageChanged($event)" accept="image/*">
                                </div>
                                <div *ngIf="rule==='select'" class="form-group" id="iconOption">
                                    <hr>
                                    <input class="form-check-inline" type="radio" name="option" id="option" value="option1" [(ngModel)]="iconOption">
                                    <label class="form-check-inline" for="option">
                                        <img src="https://s3.ap-south-1.amazonaws.com/app-config-images/yuva_job.svg" height="100px" width="100px">
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="basicSelect">Number of Sub-Categories</label>

                                    <select class="form-control" id="subtabs" name="subtabs" [(ngModel)]="subtabs" (change)="changeSubcategories($event)" placeholder="Select number of Sub-Categories">
                                        <option>2</option>

                                        <option>3</option>

                                        <option>4</option>

                                        <option>5</option>

                                        <option>6</option>

                                    </select>
                                </div>
                                <!--  Name  -->
                                <div *ngFor="let n of numbers">
                                    <div class="form-group">
                                        <label for="Sub category">Enter Sub Category - {{n+1}} </label>
                                        <div class="position-relative has-icon-left">
                                            <input type="text" id="subCategory{{n}}" class="form-control" name="Sub category" placeholder="enter Sub category">
                                            <div class="form-control-position">
                                                <i class="ft-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions center">
                                <button type="button" class="btn btn-raised btn-warning mr-1" (click)="cancel()" placement="bottom" ngbTooltip="Cancel" >
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button *ngIf="(page-2)<tabs || !tabs" type="button" class="btn btn-raised btn-primary" placement="bottom" ngbTooltip="Next" (click)="saveConfig()">
                                    <i class="fa fa-check-square-o"></i> Next
                                </button>
                                <button *ngIf="(page-2)>=tabs" type="button" class="btn btn-raised btn-primary" (click)="createConfig()" placement="bottom" ngbTooltip="Save">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Us Section -->




<!-- End About Us -->





<!-- Basic form layout section start -->