<div class="page-loading" *ngIf="loaded===false">
	<img src="assets/img/oval.svg" class="loading-icon" />
</div>
<!--Statistics cards Starts-->
<div class="row" *ngIf="loaded===true">
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card">
			<div class="card-body">
				<div id="card1" class="card-block pt-2 pb-0">
					<div class="media">
						<div class="media-body text-left">
							<h3 class="font-large-1 mb-0 font-medium">{{registeredUsers}}</h3>
						</div>
						<div class="media-right blue text-right">
							<i class="icon-pie-chart font-large-1"></i>
						</div>
					</div>
					<div>
						<span class="dimColor">Total Registered Users</span>
					</div>

				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card ">
			<div class="card-body">
				<div id="card2" class="card-block pt-2 pb-0">
					<div class="media">
						<div class="media-body text-left">
							<h3 class="font-large-1 mb-0 font-medium">{{unregisteredUsers}}</h3>

						</div>
						<div class="media-right red text-right">
							<i class="icon-bulb font-large-1"></i>
						</div>
					</div>
					<div>
						<span class="dimColor">Unregistered Users</span>

					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart2.data" [type]="WidgetlineChart2.type" [options]="WidgetlineChart2.options" [responsiveOptions]="WidgetlineChart2.responsiveOptions"
					 [events]="WidgetlineChart2.events">
					</x-chartist>
				</div>

			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card ">
			<div class="card-body">
				<div id="card3" class="card-block pt-2 pb-0">
					<div class="media">
						<div class="media-body  text-left">
							<h3 class="font-large-1 mb-0 font-medium">{{activeUsers.length}}</h3>

						</div>
						<div class="media-right green text-right">
							<i class="icon-graph font-large-1"></i>
						</div>
					</div>
					<div>
						<span class="dimColor">Total Active Users</span>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart3.data" [type]="WidgetlineChart3.type" [options]="WidgetlineChart3.options" [responsiveOptions]="WidgetlineChart3.responsiveOptions"
					 [events]="WidgetlineChart3.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card ">
			<div class="card-body">
				<div id="card4" class="card-block pt-2 pb-0">
					<div class="media">
						<div class="media-body text-left">
							<h3 class="font-large-1 mb-0 font-medium">{{totalTimeSpentHourString }}</h3>
							<h3 class="font-large-1 mb-0 font-medium">{{totalTimeSpentMinuteString }}</h3>
						</div>
						<div class="media-right cyan text-right">
							<i class="icon-wallet font-large-1"></i>
						</div>
					</div>
					<div>
						<span class="dimColor">Time Spent on App in minutes </span>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Statistics cards Ends-->




<!--Line with Area Chart 1 Starts-->

<div class="row" *ngIf="loaded===true">
	<div class="col-xl-8 col-lg-12 col-12">

		<div class="card">
			<div class="card-header chart-head">
				<div class="mar-15">

					<h4 class="card-title mb-0 font-medium"> Visits Statistics - Active Users of App </h4>
				</div>
				<hr class="background">
				<div class="mar-15">
					<select class="card-title mb-0" id="department" name="department" (change)="selectDepartment($event)">
						<option value="All Departments">All Departments</option>
						<option *ngFor="let dep of departments">{{dep}}</option>
					</select>
				</div>
			</div>
			<div class="card-body">
				<div class="card-block">


					<div class="wrapper">
						<div class="h_iframe">
							<iframe height="4" width="5" [src]="weeklyUniqueUsers" height="800" width="1000" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

	<div class="col-xl-4 col-lg-12">
		<div id="card" class="card ">
			<div class="card-header chart-head">
				<div class="mar-15">

					<h4 class="card-title mb-0 font-medium"> Time Spent on Dashboard Items </h4>
				</div>
				<hr class="background">
				<div class="mar-15 text-right">
					<select class="card-title mb-0" id="department" name="department" (change)="selectDepartment($event)">
						<option value="All Departments">All Departments</option>
						<option *ngFor="let dep of departments">{{dep}}</option>
					</select>
				</div>
			</div>
			<div class="card-body">

				<ul class="list-group">
					<li *ngFor="let user of averageTimeSpent; let i =index;" class="list-group-item white-list text-left">
						<span class="badge span-background float-right white-text">{{user.time}}</span> {{i+1}}. {{user.screen}}
					</li>
				</ul>
				<div class="card-block">

				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div #chartTarget>
chart target
</div>

<div class="ct-chart">

</div>
-->



<!--Line with Area Chart 1 Ends-->
<!--
<div class="row" matchHeight="card" *ngIf="loaded===true">
	<div class="col-xl-4 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Monthly Stats</h4>
			</div>
			<div class="card-body">

				<p class="font-medium-2 text-muted text-center pb-2">Last 6 Months Enrollements</p>
				<div id="Stack-bar-chart" class="height-300 Stackbarchart mb-2">
					<x-chartist class="" [data]="Stackbarchart.data" [type]="Stackbarchart.type" [options]="Stackbarchart.options" [responsiveOptions]="Stackbarchart.responsiveOptions"
					 [events]="Stackbarchart.events">
					</x-chartist>
				</div>

			</div>
		</div>
	</div>
	<div class="col-xl-8 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Claims</h4>
			</div>
			<div class="card-body">
				<table class="table table-responsive-sm text-center">
					<thead>
						<tr>

							<th>Hospital</th>
							<th>Name</th>
							<th>Status</th>
							<th>Amount</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr>

							<td>MG Hospital</td>
							<td>1</td>
							<td>
								<a class="btn btn-raised btn-round btn-primary">Active</a>
							</td>
							<td>50</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
						<tr>

							<td>Sarla Devi Clinic</td>
							<td>2</td>
							<td>
								<a class="btn btn-raised btn-round btn-danger">Disabled</a>
							</td>
							<td>10.02</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
						<tr>

							<td>Fortis Raipur</td>
							<td>1</td>
							<td>
								<a class="btn btn-raised btn-round btn-info">Paused</a>
							</td>
							<td>89</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
						<tr>

							<td>Govt General</td>
							<td>2</td>
							<td>
								<a class="btn btn-raised btn-round btn-success">Active</a>
							</td>
							<td>106</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row" matchHeight="card" *ngIf="loaded===true">
	<div class="col-xl-12 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Most Popular Activities</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
				<div class="wrapper">
    				<div class="h_iframe">
						<iframe height="4" width="4" [src]="popularActivities" height="200" width="200" frameborder="0" allowfullscreen></iframe>
					</div>
					</div>
				
					
				</div>
			</div>

		</div>
	</div>
	</div>
	-->
<div class="row" *ngIf="loaded" class="card">
	<div class="card-header chart-head">
		<div class="mar-15">

			<h4 class="card-title mb-0 font-medium"> Learning </h4>
		</div>
		<hr class="background">
		<div class="mar-15 text-right">
			<select class="card-title mb-0" id="department" name="department" (change)="selectDepartment($event)">
				<option value="All Departments">All Departments</option>
				<option *ngFor="let dep of departments">{{dep}}</option>
			</select>
		</div>
	</div>
	<div class=" row card-container">
		<div class="col-4">
			<div class="card list-color min-height-card">
				<div class="card-body">
					<div class="card-block f1 border-bottom-card-header">
						<h4 class="card-title ">Most Popular Courses</h4>
						<p class="card-text ">(By Number of Users Enrolled)</p>
					</div>
					<ul class="list-group">
						<li *ngFor="let course of courseStarted" class="list-group-item text-left">
							<span class="badge span-background white-text float-right ">{{course.count}}</span> {{course.name}}
						</li>
					</ul>
					<div class="card-block list-group-item">

					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card list-color min-height-card">
				<div class="card-body">
					<div class="card-block f1 border-bottom-card-header">
						<h4 class="card-title ">Most Completed Courses</h4>
						<p class="card-text ">(By Number Users)</p>
					</div>
					<ul class="list-group">
						<li *ngFor="let module of courseFinished" class="list-group-item text-left">
							<span class="badge span-background white-text float-right ">{{module.count}}</span> {{module.name}}
						</li>
					</ul>
					<div class="card-block list-group-item">

					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card list-color min-height-card">
				<div class="card-body">
					<div class="card-block f1 border-bottom-card-header">
						<h4 class="card-title ">Most Watched Videos</h4>
						<p class="card-text ">(By Number of Viewers)</p>
					</div>
					<ul class="list-group">
						<li *ngFor="let video of videosWatched" class="list-group-item text-left ">
							<span class="badge span-background white-text float-right ">{{video.count}}</span>{{video.name}}
						</li>
					</ul>
					<div class="card-block list-group-item">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" matchHeight="card" *ngIf="loaded===true">
	<div class="col-xl-8 col-lg-12 col-12">
		<div class="card">
			<div class="card-header chart-head">
				<div class="mar-15">
					<h4 class="card-title mb-0 font-medium"> MOST POPULAR ACTIVITIES </h4>
				</div>
				<hr class="background">
				<div class="mar-15 text-right">

				</div>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="wrapper">
						<div class="h_iframe">
							<iframe height="4" width="5" [src]="mostViewedScreens" height="800" width="1000" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div class="col-xl-4 col-lg-12">
		<div class="card">
			<div class="card-header chart-head">
				<div class="mar-15">
					<h4 class="card-title mb-0 font-medium"> Most Active Groups </h4>
				</div>
				<hr class="background">
				<div class="mar-15 text-right">

				</div>
			</div>
			<div class="card-body">
				<ul class="list-group">
					<li *ngFor="let user of topGroups" class="list-group-item white-list text-left">
						<span class="badge span-background white-text float-right" *ngIf="user">{{user.members.length}} Users</span> <span
						 *ngIf="user">{{user.name}}</span>
					</li>
				</ul>
				<div class="card-block">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" matchHeight="card" *ngIf="loaded===true && donutDashboard.series.length>1">

	<div class="col-xl-4 col-lg-12">
		<div class="card ">
			<div class="card-header chart-head">
				<div class="mar-15">
					<h4 class="card-title mb-0 font-medium"> ALL REGISTERED USERS </h4>
				</div>
				<hr class="background">
				<div class="mar-15 text-right">

				</div>
			</div>
			<div class="card-body" *ngIf="rows.length < 1">
				<img src="assets/img/oval.svg" class="loading-icon" />
			</div>
			<div class="card-body" *ngIf="rows.length > 0">

				<!-- <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'flex'" [headerHeight]="0" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="5" [rows]='rows' style="border:none !important;" id="datatable-card">
                <ngx-datatable-column name="Image" sortable="false" prop="profileImage" [flexGrow]="1">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                       
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                       <img style="cursor: pointer" class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" (click)="showStats(row)" src="{{value || 'https://s3.amazonaws.com/portaluploadcontent/user.jpg'}}"> 
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Name" sortable="true" prop="name" [flexGrow]="3">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                        <h4 class="font-medium-1 mt-1 mb-0" (click)="showStats(row)" style="cursor: pointer">{{value}}</h4>
                    </ng-template>
                </ngx-datatable-column>
				 </ngx-datatable>
				 -->

				<app-pager *ngIf="rows" width="400px" height="600px" [getValues]="rows"></app-pager>

			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12">
		<div class="card ">
			<div class="card-header chart-head">
				<div class="mar-15">
					<h4 class="card-title mb-0 font-medium"> TOP USERS </h4>
					<span class="dimColor">(By activity on App)</span>
				</div>
				<hr class="background">
				<div class="mar-15 text-right">

				</div>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div *ngFor="let user of topusers;" class="media mb-1">
						<a style="cursor: pointer">
							<img *ngIf="user" class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" (click)="showStats(user)" src="{{user.profileImage || 'https://s3.amazonaws.com/portaluploadcontent/user.jpg'}}">
						</a>
						<div *ngIf="user" class="media-body">
							<h4 style="cursor: pointer" class="font-medium-1 mt-1 mb-0 " (click)="showStats(user)"><b>{{user.name}}</b></h4>
							<p style="cursor: pointer" class="font-small-3 dimColor" (click)="showStats(user)">{{user.department}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12">
		<div class="card ">
			<div class="card-header chart-head">
				<div class="mar-15">
					<h4 class="card-title mb-0 font-medium"> ACTIVITY STATS </h4>
				</div>
				<hr class="background">
				<div class="mar-15 text-right">

				</div>
			</div>
			<div class="card-body white">

				<p class="font-medium-2 text-center ">Active Users Vs Inactive Users</p>
				<div id="donut-dashboard-chart" class="height-250 donut ">
					<x-chartist class="" [data]="DonutChart.data" [type]="DonutChart.type" [options]="DonutChart.options" [responsiveOptions]="DonutChart.responsiveOptions"
					 [events]="DonutChart.events">
					</x-chartist>
				</div>

				<div class="card-block">
					<div class="row mb-3">
						<div class="col" *ngIf="active">
							<span class="mb-1 d-block ">{{active}}% - Active</span>
							<div class="progress" style="height: 5px;">
								<div class="progress-bar bg-amber" id="active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

						</div>
						<div class="col">
							<span class="mb-1  d-block">{{inactive}}% - Inactive</span>
							<div class="progress" style="height: 5px;">
								<div class="progress-bar bg-deep-purple bg-lighten-1" id="inactive" role="progressbar" aria-valuenow="0" aria-valuemin="0"
								 aria-valuemax="100"></div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>