<div class="container-fluid main-top-margin">
  <div class="row">
    <div class="col-12">
      <app-breadcrumbs [breadCrumb]="breadCrumb"></app-breadcrumbs>
      <app-steps [firstStep]="'#3ed400'" [secondStep]="'#fff'" [connectingLine]="'#e0e0e0'"></app-steps>
      <app-download-sample></app-download-sample>
      <app-upload-file (enableNextButton)="enableNext($event)"></app-upload-file>
      <app-next-btn [myText]="'Save Department'" (click)="saveIndustry()"  [fileTarget]="file"></app-next-btn>
    </div>
  </div>
</div>
