<!-- Filter Datatable Options Starts 
<section id="filter" class="mb-3">
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header">List User</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the  ...' (keyup)='updateFilter($event)'
            />
            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10learnerObj.tags" [rows]='rows'>
learnerObj.tags
<ngx-datatable-column name="First Name" sortablelearnerObj.tags="true" prop="firstName">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Last Name" sortable="true" prop="lastName">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Actions" sortable="false" prop="id">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <button md-icon-button (click)="deleteContent(row)" >
                            <i class="fa fa-trash"></i>
                        </button>
                        <button md-icon-button (click)="editContent(row)" >
                            <i class="fa fa-edit"></i>
                        </button>
                        
                    </ng-template>
                </ngx-datatable-column>


            </ngx-datatable>
        </div>
    </div>
</section>
 Filter Datatable Options Ends -->

<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3 pt-3">
    <div class="row text-left">
        <div class="col-md-2 justify-content-center align-self-center">
            <span class="panel-icon-circle">
                <img src="../../../assets/img/users.svg" class="panel-head-icon"></span>&nbsp;&nbsp;
            <span class="panel-head-text">
                Users
            </span>
        </div>
        <div class="col-md-4">
            <div class="search-cont">
                <span class="search-icon">
                    <i class="fa fa-search"></i>
                    <!-- <fa name="cog" animation="spin"></fa> -->
                </span>
                <input type='text' class="search-input" placeholder='What are you looking for?' (keyup)='updateFilter($event)' />
            </div>
        </div>
        <div class="col-md-6">
            <ul class="filter-n-sort-ul custom-radios">
                <li class="font-weight-bold">Filter By: </li>
                <li> <input type="radio" id="color-1" class="color" name="color" value="1" (click)="changeFilter($event)">
              <label for="color-1">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Created By</li>
            <li><input type="radio" id="color-2" name="color" class="color" value="2" (click)="changeFilter($event)">
              <label for="color-2">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Reg. Date</li>
            <li><input type="radio" id="color-3" name="color" class="color" value="3" (click)="changeFilter($event)">
              <label for="color-3">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Status</li>
            <li>
              <select name="filterDate" id="filterDate" *ngIf="filterOption==='1'" class="selectUserDrop" (change)="filterListByCreatedBy($event)">
                <option *ngFor="let author of createdBy">{{author}}</option>
              </select>
              <input type="date" name="filterDate" id="filterDate" *ngIf="filterOption==='2'" class="selectUserDrop" (change)="filterListByRegDate($event)"/>
                <select name="filterDate" id="filterDate" *ngIf="filterOption==='3'" class="selectUserDrop" (change)="filterListByStatus($event)">
                <option *ngFor="let author of status">{{author}}</option>
              </select>
                            <button class="btn btn-sm refreshButton" placement="bottom" ngbTooltip="Reset" (click)="reset()" *ngIf="filterOption"><img src="/assets/img/refresh-ccw.svg" height="80%" width="80%"></button>
 </li>
                <!-- <li>
                    <select>
                        <option>Option 1</option>
                        <option>option 2</option>
                        <option>Option 3</option>
                    </select>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'>

                <ngx-datatable-column name="Name" sortable="true" prop="name">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Image" sortable="true" prop="image">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <img src="{{value}}" width="50px" height="50px" alt="No Image Selected">
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Description" sortable="true" prop="content">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Industry" sortable="true" prop="industry">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Roles" sortable="true" prop="jobRoleList">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="60"> 
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template class="actoion">
 
                        <button md-icon-button class="dt-icon edit-icon" (click)="editContent(row)" placement="bottom" ngbTooltip="Edit">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button md-icon-button class="dt-icon delete-icon" (click)="deleteContent(row)" placement="bottom" ngbTooltip="Delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->