<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row text-left justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-card-center">Department</h4>
                    <p class="mb-0">Create new Department</p>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form" [formGroup]="myform" (ngSubmit)="onSubmit()">
                            <div class="form-body">

                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="name">Enter the Department Name </label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="name" class="form-control" name="name" placeholder="enter name" formControlName="firstName">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="firstName.length>100 || firstName.length<1">Department Name
                                        is not valid </small>
                                </div>

 <div class="form-group">
                                    <label for="name">Enter Alternate Name </label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="name" class="form-control" name="name" placeholder="enter alternate name" formControlName="alternateName">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="firstName.length>100 || firstName.length<1">Department Name
                                        is not valid </small>
                                </div>



                                <!--  State  -->

                                <div class="form-group">
                                    <label for="name">Enter the Department Description </label>
                                    <div class="position-relative has-icon-left">
                                        <textarea id="description" class="form-control" name="description" placeholder="enter description" formControlName="lastName">
                                        </textarea>
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>
 <div class="form-group">
                                    <label for="basicSelect">Industry</label>

                                    <select class="form-control" id="indus" formControlName="indus" >
                                    
                                        <option *ngFor="let ind of industries" value="{{ind.id}}">{{ind.name}}</option>


                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="name">Upload Department Image</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="file" (change)="contentSlideInfoChanged($event)" id="image" class="form-control" name="image" placeholder="image"  accept="image/*" >
                                        <div class="form-control-position">
                                            <i class="ft-image"></i>
                                        </div>
                                    </div>
                                </div>








                                <!--  Name  -->




                                <!--  Phone  -->

                                <div class="form-group">
                                    <label for="phone"> Upload Department Video File</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="file" (change)="contentSlideInfoChanged($event)" class="form-control" id="video" name="video" placeholder="video"  accept="video/*" />
                                        <div class="form-control-position">
                                            <i class="ft-film"></i>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="phone.errors?.pattern">Video File
                                        is not valid </small>
                                </div>
                                <!--  State  -->


<div class="form-group">
                                    <label for="audio"> Upload Department Audio File</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="file" (change)="contentSlideInfoChanged($event)" class="form-control" id="audio" name="audio" placeholder="audio"  accept="audio/*" />
                                        <div class="form-control-position">
                                            <i class="ft-radio"></i>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="audio.errors?.pattern">Audio File
                                        is not valid </small>
                                </div>


<div class="form-group">
                                    <label for="pdf"> Upload Department PDF File</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="file" (change)="contentSlideInfoChanged($event)" class="form-control" id="pdf" name="pdf" placeholder="pdf" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf"  />
                                        <div class="form-control-position">
                                            <i class="ft-book"></i>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted danger" *ngIf="pdf.errors?.pattern">PDF File
                                        is not valid </small>
                                </div>



                                <!--  State  -->





                               





                                <!--  Name  -->




                                <!--  State  -->

                                <!--  Name  -->




                                <!--  State  -->







                                <!--  Date  
            <div class="form-group">
                <label for="basicSelect">Select Date </label>
                <div class="input-group has-icon-left">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date" ngbDatepicker #d2="ngbDatepicker">
                    <div class="form-control-position">
                        <i class="ft-calendar"></i>
                    </div>
                    <div class="input-group-append">

                        <div class="input-group-text" (click)="d2.toggle()">
                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>

-->







                            </div>

                            <div class="form-actions center">
                                <button (click)="myform.reset();" type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Reset
                                </button>
                                <button type="submit" class="btn btn-raised btn-primary" >
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- [disabled]="!firstName.value" -->



</section>