<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3 pt-3">
    <div class="row text-left">
        <div class="col-md-2 justify-content-center align-self-center">
            <span class="panel-icon-circle">
                <img src="../../../assets/img/users.svg" class="panel-head-icon"></span>&nbsp;&nbsp;
            <span class="panel-head-text">
                Users
            </span>
        </div>
        <div class="col-md-4">
            <div class="search-cont">
                <span class="search-icon">
                    <i class="fa fa-search"></i>
                    <!-- <fa name="cog" animation="spin"></fa> -->
                </span>
                <input type='text' class="search-input" placeholder='What are you looking for?' (keyup)='updateFilter($event)' />
            </div>
        </div>
        <div class="col-md-6">
            <ul class="filter-n-sort-ul custom-radios">
                <li class="font-weight-bold">Filter By: </li>
                <li> <input type="radio" id="color-1" class="color" name="color" value="1" (click)="changeFilter($event)">
              <label for="color-1">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Created By</li>
            <li><input type="radio" id="color-2" name="color" class="color" value="2" (click)="changeFilter($event)">
              <label for="color-2">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Reg. Date</li>
            <li><input type="radio" id="color-3" name="color" class="color" value="3" (click)="changeFilter($event)">
              <label for="color-3">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Status</li>
            <li>
              <select name="filterDate" id="filterDate" *ngIf="filterOption==='1'" class="selectUserDrop" (change)="filterListByCreatedBy($event)">
                <option *ngFor="let author of createdBy">{{author}}</option>
              </select>
              <input type="date" name="filterDate" id="filterDate" *ngIf="filterOption==='2'" class="selectUserDrop" (change)="filterListByRegDate($event)"/>
                <select name="filterDate" id="filterDate" *ngIf="filterOption==='3'" class="selectUserDrop" (change)="filterListByStatus($event)">
                <option *ngFor="let author of status">{{author}}</option>
              </select>
                            <button class="btn btn-sm refreshButton" placement="bottom" ngbTooltip="Reset" (click)="reset()" *ngIf="filterOption"><img src="/assets/img/refresh-ccw.svg" height="80%" width="80%"></button>
 </li>
                <!-- <li>
                    <select>
                        <option>Option 1</option>
                        <option>option 2</option>
                        <option>Option 3</option>
                    </select>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows' >

    <ngx-datatable-column name="First Name" sortable="true" prop="firstName" >
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
        <p (click)="openDetails(row)">{{value}}</p>
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Last Name" sortable="true" prop="lastName" >
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
        <p (click)="openDetails(row)">{{value}}</p>
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Created" sortable="true" prop="createdDate" >
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
        <p (click)="openDetails(row)">{{value | date: 'dd/MM/yyyy hh:mm a'}}</p>
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Role" sortable="true" prop="userType" >
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
        <p (click)="openDetails(row)">{{value}}</p>
    </ng-template>
</ngx-datatable-column>
 <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="160">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button md-icon-button class="dt-icon clone-icon" (click)="addToGroup(row)" placement="bottom" ngbTooltip="Add to a Group">
              <i class="fa fa-clone"></i>
            </button>

            <button md-icon-button class="dt-icon edit-icon" (click)="editContent(row)"  [disabled]="true" placement="bottom" ngbTooltip="Edit">
              <i class="fa fa-edit"></i>
            </button>
            <button md-icon-button class="dt-icon delete-icon" (click)="deleteContent(row)" [disabled]="row['status']==='BLOCKED'" placement="bottom" ngbTooltip="Delete">
              <i class="fa fa-trash"></i>
            </button>
           <button md-icon-button class="dt-icon delete-icon" (click)="disableContent(row)" [disabled]="row['activated']===false" placement="bottom" ngbTooltip="Disable">
              <i class="fa fa-eye-slash"></i>
            </button>
            <button md-icon-button class="dt-icon edit-icon" (click)="enableContent(row)" [disabled]="row['activated']===true" placement="bottom" ngbTooltip="Enable">
              <i class="fa fa-eye"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->