<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row text-left justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-card-center">Power User</h4>
                    <p class="mb-0">Create new Power User</p>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form" [formGroup]="myform" (ngSubmit)="onSubmit()">
                            <div class="form-body">

                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="name">Enter the First Name </label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="name" class="form-control" name="name" placeholder="enter first name" formControlName="firstName">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                   
                                </div>




                                <!--  State  -->

                                <div class="form-group">
                                    <label for="name">Enter the Last Name </label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="name" class="form-control" name="name" placeholder="enter last name" formControlName="lastName">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="name">Enter the email </label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="name" class="form-control" name="name" placeholder="enter email" formControlName="email" [readonly]="userToEdit && userToEdit.id" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'>
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                    
                                </div>








                                <!--  Name  -->




                                <!--  Phone  -->

                                <div class="form-group">
                                    <label for="phone"> phone</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" class="form-control" name="phone" maxlength="10" placeholder="phone" [readonly]="userToEdit && userToEdit.id" pattern="^[6789]\d{9}$" formControlName="phone" />
                                        <div class="form-control-position">
                                            <i class="ft-phone"></i>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!--  State  -->


<div class="form-group">
                                    <label for="basicSelect">Role</label>

                                    <select class="form-control" id="group" formControlName="group">
                                        <option value="1">Content Manager</option>

                                       <option value="2">Administrator</option>

                                        <option value="3">HR</option>

                                        
 <option value="4">Campaign Manager</option>

<option value="6">Super User</option>
 
                                    </select>
                                </div>




                                <div class="form-group">
                                    <label for="basicSelect">Location</label>

                                    <select class="form-control" id="location" formControlName="location">
                                        <option>NOIDA</option>

                                        <option>GURGAON</option>

                                        <option>DELHI</option>

                                        <option>FARIDABAD</option>

                                        <option>GHAZIABAD</option>
                                        <option>CHENNAI</option>

<option>PUNE</option>
<option>MUMBAI</option>


                                    </select>
                                </div>





                                <!--  Name  -->




                                <!--  State  -->

                                <!--  Name  -->




                                <!--  State  -->







                                <!--  Date  
            <div class="form-group">
                <label for="basicSelect">Select Date </label>
                <div class="input-group has-icon-left">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date" ngbDatepicker #d2="ngbDatepicker">
                    <div class="form-control-position">
                        <i class="ft-calendar"></i>
                    </div>
                    <div class="input-group-append">

                        <div class="input-group-text" (click)="d2.toggle()">
                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>

-->







                            </div>

                            <div class="form-actions center">
                                <button [disabled]="!firstName.value && !lastName.value && !phone.value && !email.value && !location.value" (click)="myform.reset();" type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Reset
                                </button>
                                <button type="submit"  class="btn btn-raised btn-primary" >
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- [disabled]="!firstName.value || !email.value || !phone.value || !location.value || !group.value" -->




</section>