<div class="container-fluid mb-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">

            <span class="badge header-badge-bg badge-primary">Step 3</span>

            <div class="col-12 text-center text-white sm-mtb">
              <img src="../../assets/doc-upload.svg" width="30" class="img-space-right">
              Upload Incorrect Contact
            </div>
            <!-- <div class="col-md-4 hidden-sm hidden-xs"></div> -->
          </div>
        </div>
        <div class="card-body text-center">
          <!-- <p class="card-text">Supported File Type: <strong>CSV and Excel</strong></p> -->
          <app-upload-btn></app-upload-btn>
        </div>
      </div>
    </div>
  </div>
</div>
