<div class="container-fluid mb-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">

            <span class="badge header-badge-bg badge-primary">Step 2</span>

            <div class="col-12 text-white text-center sm-mtb">
              <img src="../../assets/doc-upload.svg" width="30" class="img-space-right">
              Upload a File of users you want to register
            </div>
            <!-- <div class="col-md-4 hidden-sm hidden-xs"></div> -->
          </div>
        </div>
        <div class="card-body text-center">
          <div class="row">
            <div class="col-md-4 col-sm-12 text-left">
              <app-upload-csv-btn (fileUpload)="enableNext($event)"></app-upload-csv-btn>
            </div>
            <div class="col-md-4 col-sm-12 justify-content-center align-self-center">
              <span class="align-middle">OR</span>
            </div>
            <div class="col-md-4 col-sm-12 text-right">
              <app-manually-add-btn></app-manually-add-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
