<div class="sm-text-center">
  <a class="btn upload-csv-btn" >Upload a CSV File
  </a>
  <input type="file" class="fileInput" (change)="fileChanged($event)" (click)="changeName()" accept=".csv"/>
</div>
