<!-- ////////////////////////////////////////////////////////////////////////////-->
<section id="login" style="background: url('assets/img/portal-login-bg.jpg')">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card text-center width-400">
          <div class="card-img" style="padding-top: 10%;">
            <img alt="element 06" class="mb-1" src="assets/img/productivise-logo.png" width="190">
          </div>


          <!-- Reset Password -->
          <div class="card-body">
            <div class="card-block">
              <h2 class="" *ngIf="email">Reset Password</h2>
              <h2 class="" *ngIf="!email">Forgot Password</h2>
              <form>
                <fieldset *ngIf="!email" class="form-group position-relative has-icon-left">
                  <input type="text" 
                    class="form-control" name="useremail" [(ngModel)]="useremail" id="user" placeholder="Enter Your Email" >
                  <div class="form-control-position">
                    <i class="ft-user"></i>
                  </div>
                </fieldset>
                <fieldset *ngIf="email" class="form-group position-relative has-icon-left">
                  <input type="text"  name="otp" class="form-control" [(ngModel)]="otp" id="otp" placeholder="OTP" required>
                  <div class="form-control-position">
                    <i class="fa fa-lock"></i>
                  </div>
                </fieldset>
                <fieldset *ngIf="email" class="form-group position-relative has-icon-left">
                  <input type="password" name="password" class="form-control" [(ngModel)]="password" id="password" placeholder="New Password" required>
                  <div class="form-control-position">
                    <i class="fa fa-key"></i>
                  </div>
                </fieldset>
                <fieldset *ngIf="email" class="form-group position-relative has-icon-left">
                  <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" [(ngModel)]="confirmpassword" placeholder="Re-Enter New Password"
                    required>
                  <div class="form-control-position">
                    <i class="fa fa-key"></i>
                  </div>
                </fieldset>
                <div class="form-group row">
                  <div class="col-md-6 col-12 text-center text-sm-left">
                  </div>
                  <div class="col-md-6 col-12 float-sm-left text-center text-sm-right"><a routerLink="../login" class="card-link">Login
                    </a></div>
                </div>
                <a *ngIf="!email" (click)="sendEmail()"><button type="button" class="btn btn-outline-primary btn-block"><i
                      class="ft-unlock"></i>
                    Send OTP</button></a>
                <a *ngIf="email" (click)="resetPassword()"><button type="button" class="btn btn-outline-primary btn-block"><i
                      class="ft-unlock"></i>
                    Reset Password</button></a>
              </form>
            </div>
          </div>
          <!-- End Reset Password -->
        </div>
      </div>
    </div>
  </div>
</section>