<!-- Search form-->
<section id="search-website" class="card overflow-hidden">
  <div class="card-header">
      <h4 class="card-title">Website search results</h4>

  </div>
  <div class="card-body">
      <div class="card-block pb-0">
        <form action="#">
          <fieldset class="form-group position-relative has-icon-right mb-0">
              <input type="text" class="form-control form-control-lg input-lg" id="iconLeft" placeholder="dnky Admin Template">
              <div class="form-control-position">
                  <i class="ft-mic font-medium-4"></i>
              </div>
          </fieldset>
        </form>
      </div>
      <!--Search Navbar-->
      <div id="search-nav" class="card-block">
          <ul class="nav nav-inline">
              <li class="nav-item">
                  <a class="nav-link active"><i class="fa fa-link"></i> Website</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-file-image-o"></i> Images</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-file-video-o"></i> Videos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"><i class="fa fa-map-o"></i> Maps</a>
              </li>
              <li class="dropdown nav-item float-right mt-1">
                  <a  class="btn dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-cog"></i> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right">
                      <li class="dropdown-item"><a  class="dropdown-link">Languages</a></li>
                      <li class="dropdown-item"><a  class="dropdown-link">Search Settings</a></li>
                      <li class="dropdown-item"><a  class="dropdown-link">History</a></li>
                      <li class="dropdown-item"><a  class="dropdown-link">Search Help</a></li>
                  </ul>
              </li>
          </ul>
      </div>
      <!--/ Search Navbar-->
      <!--Search Result-->
      <div id="search-results" class="card-block">
        <div class="row">
          <div class="col-lg-8">
              <p class="text-muted font-small-3">About 68,00,000 results (0.58 seconds) </p>
              <ul class="media-list row">
                  <!--search with list-->
                  <li class="media">
                      <div class="media-body">
                          <p class="lead mb-0"><a ><span class="text-bold-600">dnky</span> - Responsive Angular 5 Admin dnky </a></p>
                          <p class="mb-0"><a  class="teal darken-1">https://dnky.com/<span class="text-bold-600">dnky</span>/ <i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
                          <ul class="list-inline list-inline-pipe text-muted">
                              <li>
                                  <i class="fa fa-star yellow darken-2"></i>
                                  <i class="fa fa-star yellow darken-2"></i>
                                  <i class="fa fa-star yellow darken-2"></i>
                                  <i class="fa fa-star yellow darken-2"></i>
                                  <i class="fa fa-star yellow darken-2"></i> &nbsp;5 stars
                              </li>
                              <li>590 votes</li>
                              <li>US$ 28.00</li>
                              <li>In stock</li>
                          </ul>
                          <p><span class="text-muted">Oct 24, 2017 - </span><span class="text-bold-600">dnky</span> nec nisl lobortis erat rutrum dignissim. Colonel <span class="text-bold-600">Responsive Angular 5 Admin dnky </span> Ut tellus dui, rhoncus quis vulputate non, sodales ac ex. Fusce interdum efficitur purus quis viverra...</p>
                          <div class="website-detailed-list mx-1 my-1">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="content-group">
                                          <div class="media-body">
                                              <p class="mb-0"><a class="teal darken-1">Dashboard</a></p>
                                              <p>Donec vitae ante ipsum. In aliquet, urna id varius mattis...</p>
                                          </div>
                                      </div>
                                      <div class="content-group">
                                          <div class="media-body">
                                              <p class="mb-0"><a class="teal darken-1">Form Components</a></p>
                                              <p>Velit mi sodales turpis, nec consectetur leo elit.</p>
                                          </div>
                                      </div>
                                      <div class="content-group">
                                          <div class="media-body">
                                              <p class="mb-0"><a class="teal darken-1">Charts</a></p>
                                              <p>Vestibulum nec orci placerat, euismod turpis egestas...</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="content-group">
                                          <div class="media-body">
                                              <p class="mb-0"><a class="teal darken-1">UI Components</a></p>
                                              <p>Nam in velit iaculis, vestibulum ex a, porta sapien...</p>
                                          </div>
                                      </div>
                                      <div class="content-group">
                                          <div class="media-body">
                                              <p class="mb-0"><a class="teal darken-1">Support</a></p>
                                              <p>Donec ullamcorper est vel dui commodo dictum.</p>
                                          </div>
                                      </div>
                                      <div class="content-group">
                                          <div class="media-body">
                                              <p class="mb-0"><a class="teal darken-1">Documentation</a></p>
                                              <p>Ut rhoncus massa diam, in commodo enim posuere quis mosito...</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <!--search with image-->
                  <li class="media">
                      <div class="media-left">
                          <a >
                              <img class="media-object width-150" src="assets/img/width-600/portfolio-14.jpg" alt="Generic placeholder image">
                          </a>
                      </div>
                      <div class="media-body media-search">
                        <p class="lead mb-0"><a class="teal darken-1"><span class="text-bold-600">Attire bench</span> -  Quick win shoot me an email</a></p>
                        <p class="mb-0"><a class="teal darken-1">https://dnky.com/<span class="text-bold-600">dnky</span>/ <i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
                        <ul class="list-inline list-inline-pipe text-muted">
                            <li>
                                <i class="fa fa-star yellow darken-2"></i>
                                <i class="fa fa-star yellow darken-2"></i>
                                <i class="fa fa-star yellow darken-2"></i>
                                <i class="fa fa-star yellow darken-2"></i>
                                <i class="fa fa-star-half yellow darken-2"></i> &nbsp;4.5 stars
                            </li>
                            <li>50 votes</li>
                            <li>US$ 40.00</li>
                            <li>In stock</li>
                        </ul>
                        <p><span class="text-muted">Oct 24, 2017 - </span> We need to dialog around <span class="text-bold-600">dnky Admin</span> your choice of work attire bench mark, or win-win-win. Quick win shoot me an email. Proceduralize i don't want to drain the whole swamp, i just want to shoot some alligators yet old boys club.</p>
                      </div>
                  </li>
                  <!--search with video-->
                  <li class="media">
                    <div class="media-left media-search">
                        <iframe width="150" height="110" src="https://www.youtube.com/embed/SsE5U7ta9Lw?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
                    </div>
                    <div class="media-body">
                      <p class="lead mb-0"><a class="teal darken-1"><span class="text-bold-600">The Table</span> - for what do you feel you would bring to</a></p>
                      <p class="mb-0"><a  class="teal darken-1">http://youtube.com/<span class="text-bold-600">dnky</span>/ <i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
                      <ul class="list-inline list-inline-pipe text-muted">
                          <li>Oct 24, 2017</li>
                          <li>1M Views</li>
                          <li>Uploaded by PlayStation</li>
                      </ul>
                      <p><span class="text-bold-600">Proceduralize</span> Not the long pole in my tent. Get buy-in pixel pushing, and quick win . What's the status on the deliverables for eow? goalposts golden goose, and take five.</p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-body">
                      <p class="lead mb-0"><a class="teal darken-1"><span class="text-bold-600">Microdosing</span> - deep v actually schlitz chia</a></p>
                      <p class="mb-0"><a  class="teal darken-1">http://dnky.net/<span class="text-bold-600">dnky</span>/microdosing <i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
                      <p>Lobortis erat rutrum dignissim. Colonel <span class="text-bold-600">Responsive Angular 5 Admin dnky </span> Ut tellus dui, rhoncus quis vulputate non, sodales ac ex. Fusce interdum efficitur purus quis viverra. Vivamus eros urna, scelerisque ac enim...</p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-body">
                      <p class="lead mb-0"><a class="teal darken-1">Aesthetic neutra <span class="text-bold-600">freegan</span>, mlkshk literally</a></p>
                      <p class="mb-0"><a  class="teal darken-1">http://envato.com/literally/<span class="text-bold-600">dnky</span>/ <i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
                      <p><span class="text-muted">June 30, 2016 - </span><span class="text-bold-600">Humblebrag</span> mixtape tumblr small batch, marfa blog mumblecore retro sustainable bitters normcore brunch whatever helvetica. <span class="text-bold-600">Humblebrag mumblecore </span>beard irony, XOXO craft beer kogi letterpress freegan vegan disrupt...</p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-body">
                      <p class="lead mb-0"><a class="teal darken-1"><span class="text-bold-600">iCell</span> -  disrupt butcher pitchfork.</a></p>
                      <p class="mb-0"><a  class="teal darken-1">http://google.com/<span class="text-bold-600">icell</span>/ <i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
                      <ul class="list-inline list-inline-pipe text-muted">
                          <li>
                              <i class="fa fa-star yellow darken-2"></i>
                              <i class="fa fa-star yellow darken-2"></i>
                              <i class="fa fa-star-half yellow darken-2"></i>
                              <i class="fa fa-star-outline yellow darken-2"></i>
                              <i class="fa fa-star-outline yellow darken-2"></i> &nbsp;2.5 stars
                          </li>
                          <li>590 votes</li>
                          <li>US$ 399.00</li>
                          <li>In stock</li>
                      </ul>
                      <p><span class="text-muted">March 23, 2016 - </span>Church-key selfies bitters man bun post-ironic. <span class="text-bold-600">8-bit 3 wolf moon</span> drinking vinegar, direct trade plaid cred hashtag offal. Fap XOXO chambray, intelligentsia kogi keytar flexitarian cardigan kale chips food truck.</p>
                    </div>
                  </li>
                  <li class="media">
                      <div class="media-body">
                          <p class="lead mb-0"><a class="teal darken-1"><span class="text-bold-600">Run it</span> - up the flagpole, ping the boss</a></p>
                          <p class="mb-0"><a  class="teal darken-1">http://mail.example.com/<span class="text-bold-600">run</span>/ <i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
                          <p>Pixel pushing horsehead offer that jerk from finance really threw me under the bus, but best practices new economy and take five, punch the tree, and come back in here with a clear head...</p>
                      </div>
                  </li>
              </ul>
              <div class="text-center">
                  <nav aria-label="Page navigation">
                      <ul class="pagination pagination-separate pagination-round pagination-flat">
                          <li class="page-item">
                              <a class="page-link"  aria-label="Previous">
                                  <span aria-hidden="true">« Prev</span>
                                  <span class="sr-only">Previous</span>
                              </a>
                          </li>
                          <li class="page-item"><a class="page-link" >1</a></li>
                          <li class="page-item"><a class="page-link" >2</a></li>
                          <li class="page-item active"><a class="page-link" >3</a></li>
                          <li class="page-item"><a class="page-link" >4</a></li>
                          <li class="page-item"><a class="page-link" >5</a></li>
                          <li class="page-item">
                              <a class="page-link"  aria-label="Next">
                                  <span aria-hidden="true">Next »</span>
                                  <span class="sr-only">Next</span>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="card">
                  <div class="card-block px-0">
                      <h4 class="card-title">dnky</h4>
                      <h6 class="card-subtitle text-muted">Responsive Angular 5 Admin dnky </h6>
                  </div>
                  <img class="img-fluid" src="assets/img/width-600/portfolio-3.jpg" alt="logo">
                  <div class="card-block px-0">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<a >Wikipedia</a></p>
                      <ul class="list-group mb-2">
                          <li class="list-group-item"><strong>Website :</strong> <a  class="card-link">https://dnky.com/</a></li>
                          <li class="list-group-item"><strong>Customer service :</strong> 022 8888 9999</li>
                          <li class="list-group-item"><strong>Founder :</strong> dnky</li>
                          <li class="list-group-item"><strong>Founded :</strong> 2017</li>
                          <li class="list-group-item"><strong>Support:</strong> <a >support@dnky.com</a></li>
                      </ul>
                      <div class="py-1 text-center">
                          <a  class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook"><span class="fa fa-facebook"></span></a>
                          <a  class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter"><span class="fa fa-twitter"></span></a>
                          <a  class="btn btn-social-icon mr-1 mb-1 btn-outline-linkedin"><span class="fa fa-linkedin font-medium-4"></span></a>
                          <a  class="btn btn-social-icon mr-1 mb-1 btn-outline-github"><span class="fa fa-github font-medium-4"></span></a>
                      </div>
                  </div>
                  <div class="card-block px-0">
                      <p class="text-bold-600">People also search for</p>
                      <div class="row">
                          <div class="col-md-4">
                              <img class="img-fluid rounded" src="assets/img/gallery/11.jpg" alt="Image description">
                              <a  class="font-small-2">Ashoka</a>
                          </div>
                          <div class="col-md-4">
                              <img class="img-fluid rounded" src="assets/img/gallery/12.jpg" alt="Image description">
                              <a  class="font-small-2">Materialize</a>
                          </div>
                          <div class="col-md-4">
                              <img class="img-fluid rounded" src="assets/img/gallery/13.jpg" alt="Image description">
                              <a  class="font-small-2">HTML </a>
                          </div>
                          <div class="col-md-4">
                              <img class="img-fluid rounded" src="assets/img/gallery/14.jpg" alt="Image description">
                              <a  class="font-small-2">Ashoka</a>
                          </div>
                          <div class="col-md-4">
                              <img class="img-fluid rounded" src="assets/img/gallery/25.jpg" alt="Image description">
                              <a  class="font-small-2">Materialize</a>
                          </div>
                          <div class="col-md-4">
                              <img class="img-fluid rounded" src="assets/img/gallery/23.jpg" alt="Image description">
                              <a  class="font-small-2">HTML </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</section>
<!--/ Search form -->
