<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row text-left justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-card-center">Content</h4>
                    <p class="mb-0">Edit a Content</p>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form novalidate class="form" [formGroup]="myform" (ngSubmit)="onSubmit()">
                            <div class="form-body">


                            <div class="form-group">
                    <label for="basicSelect">Choose Content Type</label>

                    <select class="form-control" id="contentType" formControlName="contentType" (change)="changeContentType()">
                        <option>Select Content Type</option>
                        <option *ngFor="let content of contentTypes" id="content" name="content" [ngValue]="content">{{content}}</option>

                        
                    </select>
                </div>

                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="name">Enter the Name </label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="name" class="form-control" formControlName="name" name="name" placeholder="enter name">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>




                                <!--  State  -->











                                <!--  Name  -->




                                <!--  State  -->

                                <!--  text large  -->
                                <div class="form-group">
                                    <label for="description">Content</label>
                                    <div class="position-relative has-icon-left">
                                        <textarea id="description" rows="5" class="form-control" name="description" placeholder="Content Description" formControlName="description"></textarea>
                                        <div class="form-control-position">
                                            <i class="ft-file"></i>
                                        </div>
                                    </div>

                                </div>








<div class="form-group">
                    <label for="basicSelect">Category</label>

                    <select class="form-control" id="category" formControlName="category" (change)="selectSubCategory()">
                        <option>Select Category</option>
                        <option *ngFor="let cat of categories" id="cat" name="cat" [ngValue]="cat.value">{{cat.value}}</option>
                        
                    </select>
                </div>

                                <!--  Name  -->
                                




                                <!--  State  -->






<div class="form-group">
                    <label for="basicSelect">Sub-Category</label>

                    <select class="form-control" id="subCategory" formControlName="subCategory">
                        <option>Select Sub-Category</option>
                        <option *ngFor="let sub of subCategories" id="sub" [ngValue]="sub" name="sub">{{sub}}</option>
                    </select>
                </div>





                                <div class="form-group">
                                    <label> Upload {{media}}</label>
                                    <input type="file" class="form-control-file" id="media" (change)="fileEventThumbnail($event)">
                                </div>

    <div *ngIf="path && media==='Image'">
<img class="img-fluid" [src]="path">
    </div>


    <div *ngIf="path && media==='Video'">
<h1>{{fileName}}</h1>
    </div>


                                <!--  Name  -->




                                <!--  State 









                                <div class="form-group">
                                    <label> Enter path</label>
                                    <input type="file" class="form-control-file" id=" Enter path" formControlName="path">
                                </div>


 -->




                            </div>

                            <div class="form-actions center">
                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button type="submit" class="btn btn-raised btn-primary" [disabled]="!(obj.id)">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






</section>