
<div class="row mb-3" matchHeight ="card">
    <div class="col-xl-8 col-lg-12">
        <div class="card gradient-pomegranate">
            <div class="card-body">
                <div class="card-block">
                    <div class="row d-flex mb-3 py-2">
                        <div class="col align-self-center text-center"></div>
                        <div class="col align-self-center text-center"><img class="bg-danger circle img-fluid child"  src="{{learner.profileImage || 'https://s3.amazonaws.com/portaluploadcontent/user.jpg'}}"></div>
                        <div class="col align-self-center text-center"></div>
                    </div>
                    <h3 class="font-large-1 text-center white-text">{{learner.name}}</h3>
                    <span class="font-medium-1 grey d-block text-center white-text">{{learner.department}}</span>
                    <div class="row mt-4 mb-3">
                        <div class="col-xl-7 col-8 ">
                            <p class="white-text">Gender - {{learner.gender}} </p>
                            <br/>
                            <p class="white-text">Job Role - {{learner.jobRole}} </p>
                        </div>
                        <div class="col-xl-5 col-4">
                             <p class="white-text">Email - {{learner.email}} </p>
                            <br/>
                            <p class="white-text">Phone Number  - {{learner.registeredNumber}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card gradient-green-tea">
            <div class="card-body">
                <div class="card-block">
                    <h4 class="card-title white-text">TimeSpent on App - {{totalTimeSpentSum}} minutes</h4>
                    <p class="card-text white-text"></p>
                </div>
                
                <ul class="list-group">
                    <li  class="list-group-item text-left gradient-green-tea white-text">
                        <span class="badge bg-primary text-center white-text">No Courses Finished Yet</span>
                    </li>
                </ul>
                <div class="card-block">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">{{courseStarted.length}}</h3>
                            <span>Total Courses Started</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-bulb font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                    <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
                        [events]="WidgetlineChart.events">
                    </x-chartist>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-warning">
            <div class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">{{courseFinished.length}}</h3>
                            <span>Total Courses Finished</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-pie-chart font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                    <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
                        [events]="WidgetlineChart.events">
                    </x-chartist>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-success">
            <div class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">{{videosWatched.length}}</h3>
                            <span>Total Videos Watched</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-graph font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                    <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
                        [events]="WidgetlineChart.events">
                    </x-chartist>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">{{timeSpentOnVideos}} minutes</h3>
                            <span>Total Time Spent On Videos</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-wallet font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                    <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
                        [events]="WidgetlineChart.events">
                    </x-chartist>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="row" *ngIf="videosWatched.length && courseStarted.length"  matchHeight ="card">
	 <div class="col-xl-4 col-lg-12">
        <div class="card gradient-blackberry">
            <div class="card-body">
                <div class="card-block">
                    <h4 class="card-title white-text">Courses Started</h4>
                    <p class="card-text white-text"></p>
                </div>
                <ul *ngIf="courseStarted.length" class="list-group">
                    <li *ngFor="let course of courseStarted; let i=index;" class="list-group-item text-left gradient-blackberry white-text">
                     <span class="float-left white-text">{{(i+1)+'. '}} </span>   <span class="badge bg-primary float-right white-text">{{course.count}}</span> {{course.name}}
                    </li>
                </ul>
                 <ul *ngIf="!courseStarted.length" class="list-group">
                    <li class="list-group-item text-left gradient-blackberry white-text">
                        <span class="badge bg-primary text-center white-text">No Courses Started Yet</span>
                    </li>
                </ul>
                <div class="card-block">
                   
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card gradient-green-tea">
            <div class="card-body">
                <div class="card-block">
                    <h4 class="card-title white-text">Courses Finished</h4>
                    <p class="card-text white-text"></p>
                </div>
                <ul *ngIf="courseFinished.length" class="list-group">
                    <li *ngFor="let module of courseFinished; let i = index" class="list-group-item text-left gradient-green-tea white-text">
                     <span class="float-left white-text">{{(i+1)+'. '}} </span>   <span class="badge bg-primary float-right white-text"></span> {{module.name}}
                    </li>
                </ul>

                <ul class="list-group">
                    <li *ngIf="!courseFinished.length" class="list-group-item text-left gradient-green-tea white-text">
                        <span class="badge bg-primary text-center white-text">No Courses Finished Yet</span>
                    </li>
                </ul>
                <div class="card-block">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card gradient-ibiza-sunset">
            <div class="card-body">
                <div class="card-block">
                    <h4 class="card-title white-text">Videos Watched</h4>
                    <p class="card-text white-text"></p>
                </div>
                <ul *ngIf="videosWatched.length" class="list-group">
                    <li *ngFor="let video of videosWatched; let i = index;" class="list-group-item text-left gradient-ibiza-sunset white-text">
                      <span class="float-left white-text">{{(i+1)+'. '}} </span>  <span class="badge bg-primary float-right white-text "></span>{{video.name}}
                    </li>
                </ul>
                <ul *ngIf="!videosWatched.length" class="list-group">
                    <li  class="list-group-item text-left gradient-ibiza-sunset white-text">
                        <span class="badge bg-primary text-center white-text ">No Videos Watched Yet</span>
                    </li>
                </ul>
                <div class="card-block">
                   
                </div>
            </div>
        </div>
    </div>
</div>
<div id="container"></div>
<!--
<div class="row" matchHeight ="card">
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Discover People</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="media mb-3">
                        <img alt="96x96" class="media-object d-flex mr-3 align-self-center bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-12.png">
                        <div class="media-body">
                            <h4 class="font-medium-1 mt-2 mb-0">Jessica Rice</h4>
                        </div>
                        <a class="d-flex ml-3 btn btn-raised btn-round gradient-blackberry py-2 width-150 justify-content-center white">Following</a>
                    </div>
                    <div class="media mb-3">
                        <img alt="96x96" class="media-object d-flex mr-3 align-self-center bg-danger height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-11.png">
                        <div class="media-body">
                            <h4 class="font-medium-1 mt-2 mb-0">Jacob Rios</h4>
                        </div>
                        <a class="d-flex ml-3 btn btn-raised btn-round btn-outline-grey py-2 width-150 justify-content-center">Follow</a>
                    </div>
                    <div class="media mb-3">
                        <img alt="96x96" class="media-object d-flex mr-3 align-self-center bg-success height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-3.png">
                        <div class="media-body">
                            <h4 class="font-medium-1 mt-2 mb-0">Russell Diaz</h4>
                        </div>
                        <a class="d-flex ml-3 btn btn-raised btn-round btn-outline-grey py-2 width-150 justify-content-center">Follow</a>
                    </div>
                    <div class="media mb-3">
                        <img alt="96x96" class="media-object d-flex mr-3 align-self-center bg-warning height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-6.png">
                        <div class="media-body">
                            <h4 class="font-medium-1 mt-2 mb-0">Sara Bell</h4>
                        </div>
                        <a class="d-flex ml-3 btn btn-raised btn-round gradient-blackberry py-2 width-150 justify-content-center white">Following</a>
                    </div>
                    <div class="media mb-3">
                        <img alt="96x96" class="media-object d-flex mr-3 align-self-center bg-info height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-18.png">
                        <div class="media-body">
                            <h4 class="font-medium-1 mt-2 mb-0">Janet Lucas</h4>
                        </div>
                        <a class="d-flex ml-3 btn btn-raised btn-round btn-outline-grey py-2 width-150 justify-content-center">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Sales Analysis</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="chart-info mb-3">
                        <span class="text-uppercase mr-3"><i class="fa fa-circle primary font-small-2 mr-1"></i> Sales</span>
                        <span class="text-uppercase mr-3"><i class="fa fa-circle warning font-small-2 mr-1"></i> Visits</span>
                        <span class="text-uppercase"><i class="fa fa-circle danger font-small-2 mr-1"></i> clicks</span>
                    </div>
                    <div id="line-chart1" class="height-350 lineChart1 lineChart1Shadow">
                        <x-chartist class="" [data]="lineChart1.data" [type]="lineChart1.type" [options]="lineChart1.options"
                            [responsiveOptions]="lineChart1.responsiveOptions" [events]="lineChart1.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" matchHeight ="card">
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-header text-center pb-0">
                <span class="font-medium-2 primary">Steps</span>
                <h3 class="font-large-2 mt-1">3261</h3>
            </div>
            <div class="card-body">
                <div id="donut-chart1" class="height-250 donut1">
                    <x-chartist [data]="DonutChart1.data" [type]="DonutChart1.type" [options]="DonutChart1.options" [responsiveOptions]="DonutChart1.responsiveOptions"
                        [events]="DonutChart1.events">
                    </x-chartist>
                </div>
                <div class="card-block text-center">
                    <span class="font-large-1 d-block mb-1">5000</span>
                    <span class="primary font-medium-1">Steps Today's Target</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-header text-center pb-0">
                <span class="font-medium-2 warning">Distance</span>
                <h3 class="font-large-2 mt-1">7.6
                    <span class="font-medium-1 grey darken-1 text-bold-400">miles</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="donut-chart2" class="height-250 donut2">
                    <x-chartist [data]="DonutChart2.data" [type]="DonutChart2.type" [options]="DonutChart2.options" [responsiveOptions]="DonutChart2.responsiveOptions"
                        [events]="DonutChart2.events">
                    </x-chartist>
                </div>
                <div class="card-block text-center">
                    <span class="font-large-1 d-block mb-1">10</span>
                    <span class="warning font-medium-1">Miles Today's Target</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-header text-center pb-0">
                <span class="font-medium-2 danger">Calories</span>
                <h3 class="font-large-2 mt-1">4,025
                    <span class="font-medium-1 grey darken-1 text-bold-400">kcal</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="donut-chart3" class="height-250 donut3">
                    <x-chartist [data]="DonutChart3.data" [type]="DonutChart3.type" [options]="DonutChart3.options" [responsiveOptions]="DonutChart3.responsiveOptions"
                        [events]="DonutChart3.events">
                    </x-chartist>
                </div>
                <div class="card-block text-center">
                    <span class="font-large-1 d-block mb-1">5000</span>
                    <span class="danger font-medium-1">kcla Today's Target</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" matchHeight ="card">
    <div class="col-xl-6 col-lg-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-img">
                    <img class="card-img-top img-fluid height-300" src="assets/img/photos/weather-1.jpg" alt="Card image cap">
                    <h4 class="card-title">Sunny</h4>
                    <a class="btn btn-floating halfway-fab bg-primary"><i class="ft-plus"></i></a>
                </div>
                <div class="card-block mt-2">
                    <div class="row">
                        <div class="col-2 text-center">
                            <span class="display-block">Mon</span>
                            <i class="wi wi-day-sunny display-block warning font-large-1 my-3"></i>
                            <span class="display-block">13&deg;</span>
                        </div>
                        <div class="col-2 text-center">
                            <span class="display-block">Tue</span>
                            <i class="wi wi-day-cloudy display-block warning font-large-1 my-3"></i>
                            <span class="display-block">12&deg;</span>
                        </div>
                        <div class="col-2 text-center">
                            <span class="display-block">Wed</span>
                            <i class="wi wi-day-cloudy-gusts display-block warning font-large-1 my-3"></i>
                            <span class="display-block">10&deg;</span>
                        </div>
                        <div class="col-2 text-center">
                            <span class="display-block">Thu</span>
                            <i class="wi wi-day-cloudy-windy display-block warning font-large-1 my-3"></i>
                            <span class="display-block">12&deg;</span>
                        </div>
                        <div class="col-2 text-center">
                            <span class="display-block">Fri</span>
                            <i class="wi wi-day-fog display-block warning font-large-1 my-3"></i>
                            <span class="display-block">9&deg;</span>
                        </div>
                        <div class="col-2 text-center">
                            <span class="display-block">Sat</span>
                            <i class="wi wi-day-lightning display-block warning font-large-1 my-3"></i>
                            <span class="display-block">6&deg;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header pb-0">
                <h4 class="card-title">Statistics</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="chart-info mb-2">
                        <span class="text-uppercase mr-3"><i class="fa fa-circle primary font-small-2 mr-1"></i> Sales</span>
                        <span class="text-uppercase"><i class="fa fa-circle warning font-small-2 mr-1"></i> Visits</span>
                    </div>
                    <div id="line-chart2" class="height-350 lineChart2 lineChart2Shadow">
                        <x-chartist class="" [data]="lineChart2.data" [type]="lineChart2.type" [options]="lineChart2.options"
                            [responsiveOptions]="lineChart2.responsiveOptions" [events]="lineChart2.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" matchHeight ="card">
    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
        <div class="card card-inverse bg-primary text-center">
            <div class="card-body">
                <div class="card-img overlap">
                    <img src="assets/img/elements/11.png" alt="element 06" width="190" class="mb-1">
                </div>
                <div class="card-block">
                    <h4 class="card-title">New Arrival</h4>
                    <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
        <div class="card card-inverse bg-danger text-center">
            <div class="card-body">
                <div class="card-img overlap">
                    <img src="assets/img/elements/14.png" alt="element 03" width="170">
                </div>
                <div class="card-block">
                    <h4 class="card-title">Brand Minute</h4>
                    <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
        <div class="card card-inverse bg-warning text-center">
            <div class="card-body">
                <div class="card-img overlap">
                    <img src="assets/img/elements/07.png" alt="element 07" width="225">
                </div>
                <div class="card-block">
                    <h4 class="card-title">Brand Minute</h4>
                    <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" matchHeight ="card">
    <div class="col-xl-8 col-lg-12">
        <div class="card">
            <div class="card-header pb-0">
                <h4 class="card-title">Sales Per Visit</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="chart-info mb-2">
                        <span class="text-uppercase mr-3"><i class="fa fa-circle primary font-small-2 mr-1"></i> Sales</span>
                        <span class="text-uppercase"><i class="fa fa-circle warning font-small-2 mr-1"></i> Visits</span>
                    </div>
                    <div id="line-area-chart" class="height-300 lineAreaChart mb-1">
                        <x-chartist class="" [data]="lineAreaChart.data" [type]="lineAreaChart.type" [options]="lineAreaChart.options"
                            [responsiveOptions]="lineAreaChart.responsiveOptions" [events]="lineAreaChart.events">

                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <h4 class="card-title">DAILY DIET</h4>
                    <p class="card-text">Some quick example text to build on the card.</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item text-left">
                        <span class="badge bg-primary float-right">4</span> Protein Milk
                    </li>
                    <li class="list-group-item text-left">
                        <span class="badge bg-info float-right">2</span> oz Water
                    </li>
                    <li class="list-group-item text-left">
                        <span class="badge bg-warning float-right">6</span> Vegetable Juice
                    </li>
                    <li class="list-group-item text-left">
                        <span class="badge bg-success float-right">1</span> Sugar Free Jello-O
                    </li>
                    <li class="list-group-item text-left">
                        <span class="badge bg-danger float-right">3</span> Protein Meal
                    </li>
                </ul>
                <div class="card-block">
                    <a class="card-link success">Card link</a>
                    <a class="card-link success">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>
-->