<div class="page-wrapper" id="scheduler">
  <div class="page-header-wrapper">
    <i class="fa fa-clock-o"></i>
    Filtered Groups
  </div>

  <div class="page-body">
    <div class="page-wrapper">
      <div class="page-card row">

        <div class="col-md-2">
          <div class="form-group text-center">
            <label for="basicSelect">Group*</label>
            <select class="form-control select-list-input input-text clickable" id="groupName" (change)="selectGroup($event)">
              <option value="">Select a Group of Users </option>
              <option *ngFor="let job of groups" value="{{job.id}}">{{job.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group text-center">
            <label for="basicSelect">Metric*</label>
            <select class="form-control select-list-input clickable input-text" id="metric" (change)="selectMetric($event)">
              <option value="">Select a Metric to Filter on </option>
              <option *ngFor="let job of metrics" value="{{job.value}}">{{job.name}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group text-center">
            <label for="basicSelect">Metric Value*</label>
            <select class="form-control select-list-input clickable input-text" id="value" (change)="selectValue($event)">
              <option value="">Select a Value of the Metric</option>
              <option *ngFor="let job of values" value="{{job.value}}">{{job.value}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group text-center">
            <label for="basicSelect">Operator*</label>
            <select class="form-control select-list-input clickable input-text" id="value" (change)="selectOperator($event)">
              <option value="">Select one Operator</option>
              <option *ngFor="let job of Operators" value="{{job.value}}">{{job.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group text-center">
            <label for="basicSelect">Numeric Value*</label>
            <div class="mar-10">
              <input type="number" size="5" [(ngModel)]="numericValue" class="select-list-input left clickable input-text" id="numericValue"
                name="numericValue">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group text-center">
            <label for="basicSelect">TimeSpan*</label>
            <select class="form-control select-list-input clickable input-text" id="timeSpan" (change)="selectTimeSpan($event)">
              <option value="">Select a TimeSpan</option>
              <option *ngFor="let job of timeSpans" value="{{job.value}}">{{job.name}}</option>
            </select>
          </div>
        </div>
        <!--
          <div class="col-md-2">
          <div class="form-group text-center">
            <label for="basicSelect">Job Role</label>
            <select class="form-control select-list-input clickable input-text" id="jobRole" (change)="selectJobRole($event)">
              <option value="">Select a Job Role</option>
              <option *ngFor="let job of jobRoles" value="{{job.id}}">{{job.name}}</option>
            </select>
          </div>
        </div>
      -->
        <div class="col-12">
          <div class="form-actions center">
            <button type="button" (click)="getResults()" class="btn btn-raised btn-primary right search-button">
              <i class="fa fa-check-square-o"></i> Search
            </button>
          </div>
        </div>
        <div class="col-12" *ngIf="groupToBeCreated && display && rows.length===result">
          <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="10" [rows]='rows'>

            <ngx-datatable-column name="First Name" sortable="true" prop="firstName">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Last Name" sortable="true" prop="lastName">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Last Active" sortable="true" prop="lastactive">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
        <div *ngIf="groupToBeCreated && display && rows.length===result" class="col-12 create-group-right text-right">

          <div>
            <input class="select-list-input left clickable input-text" type="text" id="name" maxlength="60" name="name" placeholder="Enter Group Name"
              (blur)='validateGroupName()'>
            <button class="schedule-button btn btn-success right" type="button" (click)="publishGroup()">Save Group</button>
          </div>
        </div>
        <!--  Expert Select -->
        <div class="col-12" *ngIf="groupCreated">
          <ngx-datatable #table class='bootstrap datatable-custom-width' [columns]="columns2" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='row'>

            <ngx-datatable-column name="S.No" sortable="true" prop="name">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                1
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Group Name" sortable="true" prop="groupName">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="No. of Users" sortable="true" prop="users">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="list">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template class="actoion">
                <button class=" btn span-background-blue white-text mar-15" (click)="addToGroup(row)">
                  Send Email
                </button>
                <button class=" btn span-background-violet white-text mar-15" (click)="editContent(row)" placement="bottom" ngbTooltip="Edit">
                  Send Notification
                </button>
                <!-- <button class="btn span-background-cyan white-text" (click)="deleteContent(row)" placement="bottom" ngbTooltip="Delete">
                  Send SMS
                </button>
              -->
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>


        <!-- End Expert Select-->

      </div>
    </div>
  </div>

</div>