.page-header-wrapper{
    font-size: 22px;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    position: relative;

    .button-wrapper{
        position: absolute;
        right: 0;
        top: 0px;
    }
}

.page-wrapper{
    font-size: 14px;

    .page-card{
        background-color: #fff;
        border-radius: 7px;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        font-weight: 400;

        .col-12 {
            .col-6{

                .img-wrapper{
                    margin: auto;
                    padding: 9%;
                }
                .column-wrapper{
            position: relative;
            .column-title{
                width: 90px;
                font-weight: 400;
                font-size: 13px;
                position: absolute;
            }
    
            .column-data{

                .form-group{
                    input, textarea{
                        background-color: rgb(245,250,255);
                        border: 2px solid rgb(207,216,223);
                        color: #000;
                        font-weight: 500;
                        font-size: 14px;
                        visibility: hidden;
                    }

                    label{
                        color: rgb(168,168,168);
                    }

                    .image-uploader{
                        height: 105px;
                        border: 1px solid;
                        border-radius: 10px;
                        color: rgb(168,168,168);
                        text-align: center;
                        padding: 10px;

                        .upload-button-wrapper{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            margin-top: 10px;
                            button{
                                background-color: #ff8201;
                                color: #fff !important;
                                display: block;
                            }
                            .image-name{
                                color: #1e91ec;
                                font-weight: 500;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                                display: block;
                                margin-top: 33px;
                            }
                        }
                        #QuestionPhoto{
                            display: none;
                        }
                    }
                }
                
                .radio-selection-wrapper{
                    
                    margin-left: 40px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid rgb(225,232,238);

                    label{
                        font-weight: 400;
                        font-size: 14px;
                    }
                }

                .date-selection-wrapper{
                    input, textarea{
                        font-weight: 400;
                        font-size: 13px;
                        color: #8196ab;
                        border: 2px solid rgb(225,232,238);
                    }
                }

                .send-info{
                    position: relative;
                    height: 56px;
                    background-color: #fff;
                    margin-top: 10px;
                    padding-left: 50px;
                    padding-top: 5px;

                    .info-icon{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50px;
                        height: inherit;
                        line-height: 56px;
                        text-align: center;
                        font-size: 24px;
                    }

                    .info-title{
                        font-weight: 400;
                    }

                    .info-data{
                        color: #000;
                        font-size: 15px;
                    }
                }
                .input-wrapper{
                    // border: 2px solid rgb(226, 226, 226);
                    border-radius: 10px;
                    margin-bottom: 20px;
                    font-weight: 400;

                    .input-text{
                        padding-left: 10px;
                        padding-right: 10px;
                        height: 40px;
                        line-height: 40px;
                    }

                    &.with-icon{
                        .input-text{
                            padding-right: 40px;
                        }
                        
                        position: relative;

                        .input-icon{
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            font-size: 18px;
                        }
                        .microlearning{
                            position: absolute;
                            top: 0;
                            right: 40px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 16px;
                            font-weight: 500;
                            color: rgb(30,145,236);
                        }
                    }

                    .input-body{
                        background-color: white;
                        padding: 10px;

                        .select-list-input{
                            color: rgb(163, 163, 163);
                            border-bottom: 2px solid rgb(163, 163, 163);
                            height: 50px;
                            line-height: 70px;
                            margin-bottom: 10px;
                            cursor: pointer;
                            position: relative;

                            .down-arrow{
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                text-align: center;
                                height: inherit;
                                line-height: inherit;
                            }

                            .list-popup{
                                position: absolute;
                                top: 50px;
                                right: 0;
                                left: 0;
                                background-color: #fff;
                                z-index: 100;
                                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                                .list-element{
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    border-bottom: 1px solid #e2e2e2;
                                    cursor: pointer;
                                    line-height: 40px;
                                }
                                .list-element:hover{
                                    background-color: #e2e2e2;
                                }
                            }

                            &.selected{
                                .title{
                                    position: absolute;
                                    top: -20px;
                                }
                                .content{
                                    color: #000;
                                    font-weight: 500;
                                }
                            }

                        }

                        .radio-input-wrapper{
                            margin-top: 10px;
                            margin-bottom: 10px;
                            .input-item{
                                
                                .radio-input{
                                    width: 27px;
                                    height: 60px;
                                    line-height: 60px;
                                    float: left;
                                    font-size: 20px;
                                    margin-left: 10px;
                                    color: rgb(147, 147, 147);
                                }

                                .color-square{
                                    width: 60px;
                                    height: 60px;
                                    float: left;
                                    margin-right: 5px;
                                }
                                .light-blue{
                                    background-color: rgb(48, 148, 172);
                                }
                                .blue{
                                    background-color: rgb(34, 78, 173);
                                }
                                .green{
                                    background-color: rgb(1, 144, 142);
                                }
                                .purple{
                                    background-color: rgb(132, 61, 137);
                                }
                            }

                            .done-button-wrapper{
                                float: right;
                                height: 60px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                button{
                                    width: 70px;
                                    background-color: rgb(255,130,1);
                                    margin-right: 10px;
                                    color: #fff!important;
                                }
                            }
                        }
                    }
                }
            }
        }
            }
        }

    }
}
button{
    color: #fff!important;
}


.main-group-selector{
    position: relative;
    //height: 40px;
    //width: 100%;
    line-height: 50px;
    min-height: 50px;
    background-color: rgb(244, 245,247);
    color: rgb(99,108,115);
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    margin-bottom: 10px;
    font-weight: 400;
    position: relative;

    .group-icon{
        width: 40px;
        height: inherit;
        line-height: inherit;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        background-color: rgb(227, 232,238);
        font-size: 18px;
    }

    .group-data{
        
        line-height: inherit;
        font-weight: 500;
        padding: 0px 50px;
    }

    .group-edit{
        width: 40px;
        position: absolute;
        right: 0;
        top: 0;
        height: inherit;
        line-height: inherit;
        text-align: center;
        line-height: inherit;
        font-size: 18px;
    }
}

.filter-button-wrapper{
    position: relative;
    .button-inner{
        border: 1px dashed rgb(200,200,200);
        padding: 8px;
    }

    button{
        margin: 0;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
    }
}

.filter-item-wrapper{
    
    position: relative;
    height: 50px;
    line-height: 50px;
    height: 50px;
    padding-left: 40px;
    padding-right: 50px;
    background-color: rgb(221,228,234);
    border-bottom: 1px solid #ccc;


    .filter-icon{
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        line-height: 50px;
        text-align: center;
    }

    .remove-filter-wrapper{
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        line-height: 50px;
        text-align: center;
        color: #999;
    }
    .title{
        width: 135px;
        font-weight: 500;
        float: left;
    }
    .filter-input-wrapper{
        float: left;
        .form-elements-wrapper{

            div{
                vertical-align: middle;

                input[type="date"]{
                height: 30px;
                border: 1px solid #bbb;
                border-radius: 5px;
                padding-left: 7px;
                width: 180px;
                margin-top:4%;
            }

input[type="text"]{
                height: 30px;
                border: 1px solid #bbb;
                border-radius: 5px;
                padding-left: 7px;
                width: 110px;
                margin-top:4%;
            }

            input[type="number"]{
                height: 30px;
                border: 1px solid #bbb;
                border-radius: 5px;
                padding-left: 7px;
                width: 110px;
                margin-top:4%;
            }



            select{
                height: 30px;
                border: 1px solid #bbb;
                border-radius: 5px;
                padding-left: 7px;
                width: 110px;
                                margin-top:4%;

            }
            }
            
        }
    }
    
    .and-indicator-wrapper{
        position: absolute;
        left: -20px;
        z-index: 100;
        top: 38px;
        .indicator-button{
            background-color: #999;
            color: #fff;
            height: 20px;
            width: 38px;
            line-height: 20px;
            padding: 0;
            border: none;
            font-weight: 400;
            text-align: center;
            border-radius: 5px;
            font-size: 12px;
        }
    }

    .add-button-wrapper{
        position: absolute;
        left: -12px;
        z-index: 100;
        top: 38px;
        background-color: #fff;
        height: 24px;
        width: 24px;
        line-height: 24px;
        padding: 0;
        font-weight: 400;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    }
}

.filters-group-wrapper{
    .group-divider{
        position: relative;
        height: 40px;
        padding-right: 40px;
        padding-left: 40px;

        .text{
            position: absolute;
            height: 40px;
            width: 40px;
            left: 0;
            right: 0;
            text-align: center;
            line-height: 40px;
        }
        .divider-line{
            height: 20px;
            border-bottom: 1px solid #ccc;
        }
    }

    .OR-button-wrapper{
        padding: 10px;
        font-weight: 500;
    }
}

.create-group-button-wrapper{
    padding: 20px;
    .schedule-button{
        margin: 0 auto;
        display: block;
        color: #fff !important;
    }
}

.users-count{
    text-align: right;
    line-height: 50px;
    color: #636c73;
    font-size: 16px;
    font-weight: 500;
}

.filter-item-wrapper:hover{
    background-color: #f4f5f7;
    cursor: pointer;
}



.line{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.font13{
    font-size: 13px;
}

.font14{
    font-size: 14px;
}
.font15{
    font-size: 15px;
}

.fontReg{
    font-weight: 400;
}

.fontMed{
    font-weight: 500;
}

.fontBold{
    font-weight: 600;
}
.error{
    border: 2px solid red !important;
}
.form-control{
    height: 100%;
}

.filterDrop{
    height: calc(2.25rem + 2px)
}

.filter-input-wrapper{
    text-align: center;
}

.create-group-right{
    display: flex;
    flex-direction: row-reverse;
}
.left{
    float: left;
}
.right{
    float: right;
}

.input-text{
        border-radius: 5px;
    border: 1px solid #ced4da;
    height: 38px;
    margin: 0 1rem;
}

.input-text-number{
 border-radius: 5px;
    border: 1px solid #ced4da;
    height: 38px;
    margin: 0 1rem;
    width: 60px;
}

.search-button{
margin-top: 2rem;
}
.span-background-blue{
background-color: #1e91ec;
margin: 0 1rem;
}

.span-background-violet{
    background-color: blueviolet;
margin: 0 1rem;
}

.span-background-cyan{
background-color: cyan;
margin: 0 1rem;
}
.white-text{
    color:white;
}

.mar-15{
    margin: 0.5rem;
}

.mar-10{
    margin: 0 0.5rem;
}
.error{
    border: 1px solid red !important;
}