<nav class="navbar navbar-expand-md fixed-top p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <img src="../../assets/left-arrow.svg" class="nav-left-icon" width="30">
    </li>
  </ul>


  <ul class="navbar-nav ml-auto navbar-right">
    <li class="nav-item greeting">{{greeting}}</li>
    <li class="nav-item">
      <img src="../../assets/settings.svg" class="nav-right-icon" width="30">
      <img src="../../assets/profile.svg" class="nav-right-icon" width="30">
    </li>
  </ul>
</nav>
