html{
	height:100%;
}

body{
	background:#05c411;
	font-family: 'Roboto', sans-serif;
	margin:0px !important;
	height: 100%; 
	
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	
}

h2{
font-size: 20px;

}
.siny{
background:#000;
}
.footer{
background:#0088bb;
display: flex;
justify-content: center;
color: #fff;
}
#version{
	flex-basis: 10%;
}

#copyright{
	flex-basis: 80%;
	text-align: center;
	
}
#empty{
	flex-basis: 10%;
}
 
.app-header{
	margin: 20px;
	color: #fff;
    background-color: #e91e63;
    text-align: center;
    padding: 1%;
	-webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	-moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}

.signup-container{
width: 100%;
	  height:500px;
  	padding: 0% !important;
	background-color: #fff;
	-webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	-moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}
 
.login-container{
	width: 100%;
	  height:400px;
	  
  	padding: 0% !important;
	background-color: #fff;
	-webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	-moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}
 
.login-box-header{
	width: auto;
    height: 20%;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    padding: 2%;
    color: #fff;
}
 
.login-box-body{
	width: auto;
	height:100%;
	padding: 5% 5% 5% 5%;
	color: #d2d2d2;
}
 
.login-icon{
	margin-top: -2px;
}
 
.justifier {
	width: 100%;
	padding-bottom: 2%;
}
 
.login-button{
	width: 100%;
	padding:1.5% !important;	
    background-color: #d50000;
    font-size: 1.5em;
    color: #fff !important;
}
