<!-- ////////////////////////////////////////////////////////////////////////////-->
<section id="login" style="background: url('assets/img/portal-login-bg.jpg')">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card text-center width-400">
          <div class="card-img" style="padding-top: 10%;">
            <img alt="element 06" class="mb-1" src="assets/img/productivise-logo.png" width="190">
          </div>
          <div class="card-body">
            <div class="card-block">
              <h2 class="white">Login</h2>
              
              <form class="form-horizontal" action="index.html" [formGroup]="myForm" (ngSubmit)="addPost(myForm.value)" novalidate>
                <fieldset class="form-group position-relative has-icon-left">
                  <input type="text" class="form-control" formControlName="phone_number" id="user-name" placeholder="Enter Your Email" required>
                  <div class="form-control-position">
                    <i class="fa fa-user"></i>
                  </div>
                </fieldset>
                <fieldset class="form-group position-relative has-icon-left">
                  <input type="password" class="form-control" id="user-password" formControlName="user_password" placeholder="Enter Your Password"
                    required>
                  <div class="form-control-position">
                    <i class="fa fa-key"></i>
                  </div>
                </fieldset>
                <div class="form-group row">
                  <div class="col-md-6 col-12 text-center text-sm-left">
                    <fieldset>

                      <label for="remember-me" style=" display: inline-block; vertical-align: middle;">
                        <input type="checkbox" id="remember-me" class="chk-remember" formControlName="remember_me" style=" display: inline-block; vertical-align: middle;"
                        /> Remember Me</label>
                    </fieldset>
                  </div>
                  <div class="col-md-6 col-12 float-sm-left text-center text-sm-right"><a routerLink="../forgot-password"
                      class="card-link">Forgot Password?
                    </a></div>
                </div>
                <a (click)="authLogin()"><button type="submit" class="btn btn-outline-primary btn-block"><i class="ft-unlock"></i>
                    Login</button></a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>