<div class="container-fluid main-top-margin">
  <div class="row">
    <div class="col-12">
      <app-breadcrumbs></app-breadcrumbs>
      <app-steps [firstStep]="'#3ed400'" [secondStep]="'#3ed400'" [connectingLine]="'#3ed400'"></app-steps>
     <!-- <app-upload-details></app-upload-details> -->
      <app-create-sms (messageReady)="EnableSend($event)" ></app-create-sms>
     <!-- <app-download-incorrect-file></app-download-incorrect-file>
      <app-upload-incorrect-contact></app-upload-incorrect-contact> -->
      <app-next-btn [myText]="'Send SMS'" (click)="sendSMS()" [fileTarget]="!message"></app-next-btn>
    </div>
  </div>
</div>
