<div class="page-wrapper" id="scheduler">
  <div class="page-header-wrapper">
    <i class="fa fa-clock-o"></i>
    Create Group
  </div>

  <div class="page-body">
    <div class="page-wrapper">
      <div class="page-card row">
        <div class="col-md-6">
          <div class="form-group input-wrapper">
            <label for="groupName">What you want to name this group?</label>
            <input type="text" class="form-control" id="groupName" [(ngModel)]="groupName" (blur)="validationOngroupName()">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group input-wrapper">
            <label for="groupDescription">Add description for this group.</label>
            <input type="text" class="form-control" id="groupDescription" [(ngModel)]="groupDescription" (blur)="validationOndescriptionGroup()">
          </div>
        </div>
        <div class="col-12 row">
          <div class="line">

          </div>
          <div class="col-6">
            <div class="column-wrapper">

              <div class="column-data">
                <div class="input-wrapper with-icon">
                  <label>Type of Group</label>
                  <div class="input-body form-control" id="groupType">
                    <div class="select-list-input clickable" (click)="groupSelection.TypePopupVisible = !groupSelection.TypePopupVisible" [ngClass]="{'selected': groupSelection.selectedType !== ''}">
                      <div class="title ">Select a Type
                      </div>
                      <div class="content">{{ groupSelection.selectedTypeName }}</div>
                      <div class="down-arrow">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                      <div class="list-popup" *ngIf="groupSelection.TypePopupVisible">
                        <div class="list-element" *ngFor="let type of types" (click)="selectType(type)">{{type}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!--  Expert Select -->
        <div class="col-12 row" *ngIf="groupSelection.selectedType===2">
          <div class="line">

          </div>
          <div class="col-6">
            <div class="column-wrapper">

              <div class="column-data">
                <div class="input-wrapper with-icon">
                  <label>Appoint an Expert</label>
                  <div class="input-body form-control" id="expert">
                    <div class="select-list-input clickable" (click)="groupSelection.ExpertPopupVisible = !groupSelection.ExpertPopupVisible"
                      [ngClass]="{'selected': groupSelection.selectedExpert !== ''}">
                      <div class="title ">Select an Expert
                      </div>
                      <div class="content">{{ groupSelection.selectedExpertName }}</div>
                      <div class="down-arrow">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                      <div class="list-popup" *ngIf="groupSelection.ExpertPopupVisible">
                        <div class="list-element" *ngFor="let Expert of finalArray" (click)="selectExpert(Expert)">{{Expert.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <!-- End Expert Select-->

        <!--  Admin Select -->
        <div class="col-12 row" *ngIf="groupSelection.selectedType===3">
          <div class="line">

          </div>
          <div class="col-6">
            <div class="column-wrapper">

              <div class="column-data">
                <div class="input-wrapper with-icon">
                  <label>Appoint an Admin</label>
                  <div class="input-body form-control" id="admin">
                    <div class="select-list-input clickable" (click)="groupSelection.ExpertPopupVisible = !groupSelection.ExpertPopupVisible"
                      [ngClass]="{'selected': groupSelection.selectedAdmin != ''}">
                      <div class="title ">Select an Admin
                      </div>
                      <div class="content">{{ groupSelection.selectedAdminName }}</div>
                      <div class="down-arrow">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                      <div class="list-popup" *ngIf="groupSelection.ExpertPopupVisible">
                        <div class="list-element" *ngFor="let Admin of finalArray" (click)="selectAdmin(Admin)">{{Admin.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <!-- End Admin Select-->

        <div class="col-12 row">
          <div class="line">

          </div>
          <div class="col-6">
            <div class="column-wrapper">

              <div class="column-data">
                <label>Group Icon</label>
                <div class="form-group">

                  <div class="image-uploader" id="imageUploader">
                    <span>Drag a file to Upload as Image</span>
                    <div class="upload-button-wrapper">
                      <button (click)="browseImageClicked()" type="file" class="btn btn-sm ">CHOOSE FILE</button>
                      <span class="image-name" [title]="imageName">{{ imageName }}</span>
                    </div>
                    <input #imageFileInput (change)="GroupImageChanged($event)" type="file" name="groupprofile_picture" id="filePhoto" accept="image/*"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="img-wrapper" *ngIf="imageurl">

              &#8776; <img src="{{imageurl}}" width="100px" height="100px">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="main-group-selector">
            <div class="group-icon">
              <i class="fa fa-pie-chart"></i>
            </div>
            <div class="group-data" contenteditable="false">{{groupName}}
            </div>
            <div class="group-edit">
              <i class="fa fa-pencil"></i>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="users-count">
            &#8776; {{finalArray.length}}
          </div>
        </div>
        <div class="col-12">
          <span class="fontMed font15">Filter users based on the given filters</span>
        </div>
        <div class="col-8">
          <div class="filter-selection-wrapper">
            <div class="filter-button-wrapper" *ngIf="noFiltersApplied">
              <button class="btn btn-success font14 fontMed" (click)="initialButtonClicked = true">Add Filter</button>
              <app-filter-popup *ngIf="initialButtonClicked" (itemSelected)='itemSelected($event, null)'></app-filter-popup>
            </div>

            <!-- loop 1-->
            <div class="filters-group-wrapper" *ngFor="let filterGroup of filtersArray; let i = index;">
              <div ([ngModel])="filterGroup.visible">
                <!-- loop 2-->
                <div class="filter-list-wrapper">
                  <div class="filter-item-wrapper" *ngFor="let filterItem of filterGroup.filters;let i2= index; let l2=last;">
                    <div class="filter-icon">
                      <i class="fa fa-{{filterItem.icon}}" (click)="filterArray(filterGroup)" aria-hidden="true"></i>
                    </div>
                    <div class="title">{{ filterItem.title }}</div>
                    <div class="filter-input-wrapper">
                      <div id="firstSession" class="form-elements-wrapper" *ngIf="filterItem.type==='firstSession'">
                        <div class="row">
                          <select class="form-control filterDrop" id="firstSessionFilter" (change)="changefirstSessionOperator(filterGroup, filterItem, $event)">
                            <option *ngFor="let cat of operators" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>
                          </select>
                          <input type="date" (change)="changefirstSessionFilter(filterGroup, filterItem, $event)" />
                        </div>

                      </div>
                      <div id="lastSession" class="form-elements-wrapper" *ngIf="filterItem.type==='lastSession'">
                        <div class="row">
                          <select class="form-control filterDrop" id="lastSessionFilter" (change)="changelastSessionOperator(filterGroup, filterItem, $event)">
                            <option *ngFor="let cat of operators" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>
                          </select>
                          <input type="date" (change)="changelastSessionFilter(filterGroup, filterItem, $event)" />
                        </div>
                      </div>
                      <div id="sessionCount" class="form-elements-wrapper" *ngIf="filterItem.type==='sessionCount'">
                        <div class="row">
                          <select class="form-control filterDrop" id="sessionCountFilter" (change)="changeSessionCountOperator(filterGroup, filterItem, $event)">
                            <option *ngFor="let cat of operators" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>
                          </select>
                          <input type="number" (change)="changeSessionCountFilter(filterGroup, filterItem, $event)" />
                        </div>
                      </div>
                      <div id="newsDuration" class="form-elements-wrapper" *ngIf="filterItem.type==='totalNewsTimeSpent'">
                        <div class="row">
                          <select class="form-control filterDrop" id="newsDurationFilter" (change)="changenewsDurationOperator(filterGroup, filterItem, $event)">
                            <option *ngFor="let cat of operators" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>
                          </select>
                          <input type="number" (change)="changenewsDurationFilter(filterGroup, filterItem, $event)" />
                        </div>
                      </div>
                      <div id="totalDuration" class="form-elements-wrapper" *ngIf="filterItem.type==='totalDuration'">
                        <div class="row">
                          <select class="form-control filterDrop" id="totalDurationFilter" (change)="changetotalDurationOperator(filterGroup, filterItem, $event)">
                            <option *ngFor="let cat of operators" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>
                          </select>
                          <input type="number" (change)="changetotalDurationFilter(filterGroup, filterItem, $event)" />
                        </div>
                      </div>
                      <div id="modulesStarted" class="form-elements-wrapper" *ngIf="filterItem.type==='modulesStarted'">
                        <div class="row">
                          <select class="form-control filterDrop" id="modulesStartedFilter" (change)="changemodulesStartedOperator(filterGroup, filterItem, $event)">
                            <option *ngFor="let cat of operators" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>
                          </select>

                          <input type="number" (change)="changemodulesStartedFilter(filterGroup, filterItem, $event)" />
                        </div>
                      </div>

                      <div id="modulesFinished" class="form-elements-wrapper" *ngIf="filterItem.type==='modulesFinished'">
                        <div class="row">
                          <select class="form-control filterDrop" id="modulesFinishedFilter" (change)="changemodulesFinishedOperator(filterGroup, filterItem, $event)">
                            <option *ngFor="let cat of operators" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>
                          </select>

                          <input type="number" (change)="changemodulesFinishedFilter(filterGroup, filterItem, $event)" />
                        </div>
                      </div>
                      <div id="courseStarted" class="form-elements-wrapper" *ngIf="filterItem.type==='courseStarted'">
                        <div class="row">
                          <select class="form-control filterDrop" id="courseStartedFilter" (change)="changecourseStartedOperator(filterGroup, filterItem, $event)">
                            <option *ngFor="let cat of operators" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>
                          </select>

                          <input type="number" (change)="changecourseStartedFilter(filterGroup, filterItem, $event)" />
                        </div>
                      </div>
                      <div id="courseFinished" class="form-elements-wrapper" *ngIf="filterItem.type==='courseFinished'">
                        <div class="row">
                          <select class="form-control filterDrop" id="courseFinishedFilter" (change)="changecourseFinishedOperator(filterGroup, filterItem, $event)">
                            <option *ngFor="let cat of operators" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>
                          </select>

                          <input type="number" (change)="changecourseFinishedFilter(filterGroup, filterItem, $event)" />
                        </div>
                      </div>

                      <div id="age" class="form-elements-wrapper" *ngIf="filterItem.type==='age'">
                        <div class="row">
                          <select class="form-control filterDrop" id="ageFilter" (change)="changeAgeOperator(filterGroup, filterItem, $event)">
                            <option *ngFor="let cat of operators" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>
                          </select>

                          <input type="number" (change)="changeAgeFilter(filterGroup, filterItem, $event)" />
                        </div>
                      </div>
                      <div id="gender" class="form-elements-wrapper" *ngIf="filterItem.type==='gender'">
                        <div class="row">
                          <select class="form-control filterDrop" id="genderFilter" (change)="changeGender(filterGroup, filterItem, $event)">
                            <option>Select Gender</option>
                            <option *ngFor="let cat of genders" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>

                          </select>
                        </div>

                      </div>
                      <div id="location" class="form-elements-wrapper" *ngIf="filterItem.type==='location'">
                        <div class="row">
                          <select class="form-control filterDrop" id="locationFilter" (change)="changelocation(filterGroup, filterItem, $event)">
                            <option>Select location</option>
                            <option *ngFor="let cat of locations" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>

                          </select>
                        </div>

                      </div>

                      <div id="department" class="form-elements-wrapper" *ngIf="filterItem.type==='department'">
                        <div class="row">
                          <select class="form-control filterDrop" id="departmentFilter" (change)="changedepartment(filterGroup, filterItem, $event)">
                            <option>Select Department</option>
                            <option *ngFor="let cat of departments" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>

                          </select>
                        </div>

                      </div>

                      <div id="doj" class="form-elements-wrapper" *ngIf="filterItem.type==='doj'">
                        <div class="row">
                          <select class="form-control filterDrop" id="dojFilter" (change)="changedojOperator(filterGroup, filterItem, $event)">
                            <option *ngFor="let cat of operators" id="cat" name="cat" [ngValue]="cat">{{cat}}</option>
                          </select>
                          <input type="date" (change)="changedojFilter(filterGroup, filterItem, $event)" />
                        </div>
                      </div>



                    </div>
                    <div class="remove-filter-wrapper" (click)="removeFilter(filterGroup, filterItem)">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                    <div class="and-indicator-wrapper" *ngIf="i2 !== (filterGroup.filters.length -1)">
                      <div class="indicator-button fontMed">AND</div>
                    </div>
                    <div class="add-button-wrapper" *ngIf="i2 === (filterGroup.filters.length -1) && i !== (filtersArray.length -1)">
                      <div class="add-button fontMed" (click)="filterGroup.visible = true">+</div>
                    </div>
                  </div>
                </div>
                <!-- loop 2 ends-->
                <div class="filter-button-wrapper">
                  <div class="button-inner" *ngIf="i === (filtersArray.length -1)">
                    <button class="btn btn-success font14 fontMed" (click)="filterGroup.visible = true">Add Filter</button>
                  </div>
                  <app-filter-popup *ngIf="filterGroup.visible || filterGroup.filters.length === 0" (itemSelected)='itemSelected($event, filterGroup)'></app-filter-popup>
                </div>
                <!--div class="filter-button-wrapper" *ngIf="filterGroup.visible || filterGroup.filters.length === 0">
                    <button class="btn btn-success font14 fontMed" (click)="filterGroup.visible = true" *ngIf="i === (filtersArray.length -1)">Add Filter</button>
                    <app-filter-popup *ngIf="filterGroup.visible || filterGroup.filters.length === 0" (itemSelected)='itemSelected($event, filterGroup)'></app-filter-popup>
                  </div-->
              </div>
              <div class="group-divider" *ngIf="i !== (filtersArray.length -1)">
                <div class="text">OR</div>
                <div class="divider-line"></div>
              </div>

            </div>

            <div class="OR-button-wrapper">
              <div class="text" (click)="createNewgroup()">ADD OR</div>
            </div>

            <!-- loop 1 ends-->

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="create-group-button-wrapper">
    <button class="schedule-button btn btn-success" type="button" (click)="publishGroup()">Save Group</button>
  </div>
</div>