<div class="page-wrapper" id="scheduler">
  <div class="page-header-wrapper">
    <i class="fa fa-clock-o"></i>
    Groups
    <div class="button-wrapper">
      <button class="btn btn-success" type="button" [routerLink]="['../createGroup']">+ Create New Group</button>
    </div>
  </div>

  <div class="page-body">
    <div class="page-wrapper">
      <div class="page-card row">
        <div class="group-list col-md-7">
          <div class="main-group-selector row" *ngFor="let group of groups" style="cursor: pointer">
            <div *ngIf="!group.selectQuery" class="group-icon col-1" (click)="viewUsers(group)" placement="bottom" ngbTooltip="Chat Group">
              <i class="fa fa-users"></i>
            </div>
            <div *ngIf="group.selectQuery!=='Deleted' && group.selectQuery!=='Removed' && group.selectQuery!=null && group.selectQuery.split('/')[0]!=='Broadcast'" class="group-icon col-1" (click)="viewUsers(group)" placement="bottom" ngbTooltip="Expert Assigned">
              <i class="fas fa-user-graduate"></i>
            </div>
            <div *ngIf="group.selectQuery!=='Removed' && group.selectQuery && group.selectQuery.split('/')[0]==='Broadcast'" class="group-icon col-1" (click)="viewUsers(group)" placement="bottom" ngbTooltip="Admin Assigned">
              <i class="fas fa-user-shield"></i>
            </div>
            <div *ngIf="group.selectQuery==='Deleted'" class="group-icon col-1" (click)="viewUsers(group)" placement="bottom" ngbTooltip="No Expert Assigned">
              <i class=" red fa fa-exclamation-triangle"></i>
            </div>

            <div *ngIf="group.selectQuery==='Removed'" class="group-icon col-1" (click)="viewUsers(group)" placement="bottom" ngbTooltip="No Admin Assigned">
              <i class=" red fa fa-exclamation-triangle"></i>
            </div>
            <div class="group-data col-7" (click)="viewUsers(group)">
              {{group.name}}
              <div class="filter-list-wrapper">
                <div class="filter-list-item" *ngFor="let filter of group.filters">
                  <i class="fa fa-clock-o"></i>
                  <span class="filter-text">{{filter}}</span>
                </div>
              </div>
            </div>
            <div class="group-users col-3" (click)="viewUsers(group)" style="cursor: pointer">
              <span class="count">{{group['learners'].length}}</span>
              <br>
              <span class="view-users">View Users</span>
            </div>
            <div class="group-icon col-1">
              <span (click)="deleteGroup(group)" style="cursor: pointer" placement="bottom" ngbTooltip="Delete">
                <i class="fa fa-trash"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>