.page-header-wrapper{
    font-size: 22px;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    position: relative;

    .button-wrapper{
        position: absolute;
        right: 0;
        top: 0px;
    }
}

.page-wrapper{
    font-size: 14px;

    .page-card{
        background-color: #fff;
        border-radius: 7px;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}
button{
    color: #fff!important;
}


.main-group-selector{
    position: relative;
    //height: 40px;
    //width: 100%;
    line-height: 44px;
    min-height: 44px;
    background-color: rgb(244, 245,247);
    color: rgb(122,103,142);
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    margin-bottom: 10px;
    font-weight: 400;

    .group-icon{
        text-align: center;
        background-color: rgb(227, 232,238);
    }

    .group-data{
        line-height: inherit;
        font-weight: 500;
        padding-bottom: 10px;

        .filter-list-wrapper{
            line-height: normal;
            font-weight: 400;

            i{
                margin-right: 10px;
            }

            .filter-text{
                font-size: 13px;
            }
        }
    }

    .group-users{
        border-left: 1px solid rgb(230,230,2300);
        height: inherit;
        line-height: inherit;
        text-align: center;
        line-height: normal;
        padding-top: 5px;
        padding-bottom: 5px;

        .count{
            font-weight: 500;
        }
    }
}