<div class="card-block">
					 <div *ngFor="let user of pagedItems;" class="media mb-1">
                       
                        <a style="cursor: pointer">
							<img *ngIf="user" class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" (click)="showStats(user)" src="{{user.profileImage || 'https://s3.amazonaws.com/portaluploadcontent/user.jpg'}}">
						</a>
                       
                        
						<div *ngIf="user" class="media-body">
							<h4 style="cursor: pointer" class="font-medium-1 mt-1 mb-0 " (click)="showStats(user)"><b>{{user.name}}</b></h4>
							<p style="cursor: pointer" class="font-small-3 dimColor" (click)="showStats(user)">{{user.department || 'member'}}</p>
						</div>
                        
					</div>
        
        <!--
                    <div class="media mb-1">
						<a style="cursor: pointer">
							<img class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" (click)="showStats(user)" src="{{ 'https://s3.amazonaws.com/portaluploadcontent/user.jpg'}}">
						</a>
						<div  class="media-body">
							<h4 style="cursor: pointer" class="font-medium-1 mt-1 mb-0 " (click)="showStats(user)"><b>DEV</b></h4>
							<p style="cursor: pointer" class="font-small-3 " (click)="showStats(user)">G</p>
						</div>
					</div>
		-->
        </div>
        <div class="card-block text-center">
    <ul  class="pagination white-pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}" class=""  >
                    <a class="white-pagination" (click)="setPage(1)"><i class="datatable-icon-prev "></i></a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="white-pagination"  >
                    <a class="white-pagination" (click)="setPage(pager.currentPage - 1)"><i class="datatable-icon-left "></i></a>
                </li>
                 <li *ngIf="pager.currentPage === pager.totalPages" [ngClass]="{active: false}" class="white-pagination">
                    <a class="white-pagination " (click)="setPage(pager.currentPage - 2)" >{{pager.currentPage - 2}}</a>
                </li>
                 <li *ngIf="pager.currentPage > 1 && pager.currentPage < pager.totalPages" [ngClass]="{active: false}" class="white-pagination">
                    <a class="white-pagination " (click)="setPage(pager.currentPage - 1)" >{{pager.currentPage - 1}}</a>
                </li>
                <li *ngIf="pager.currentPage === pager.totalPages" [ngClass]="{active: false}" class="white-pagination">
                    <a class="white-pagination " (click)="setPage(pager.currentPage - 1)" >{{pager.currentPage -1}}</a>
                </li>
                <li [ngClass]="{active: true}" class="white-pagination">
                    <a class="white-pagination " (click)="setPage(pager.currentPage)" >{{pager.currentPage}}</a>
                </li>
                
                 <li *ngIf="pager.currentPage < pager.totalPages " [ngClass]="{active: false}" class="white-pagination">
                    <a class="white-pagination " (click)="setPage(pager.currentPage + 1)" >{{pager.currentPage + 1}}</a>
                </li>
                 <li *ngIf="pager.currentPage === 1" [ngClass]="{active: false}" class="white-pagination">
                    <a class="white-pagination " (click)="setPage(pager.currentPage + 2)" >{{pager.currentPage + 2}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="white-pagination" >
                    <a class="white-pagination" (click)="setPage(pager.currentPage + 1)"><i class="datatable-icon-right "></i></a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="white-pagination"  >
                    <a class="white-pagination" (click)="setPage(pager.totalPages)"><i class="datatable-icon-skip "></i></a>
                </li>
            </ul>
            </div>
<div>
<!--
    <div class="container">
        <div class="text-center">
            <h1>Angular 2 - Pagination Example with logic like Google</h1>
 -->
            <!-- items being paged 
            <div *ngFor="let item of pagedItems">{{item.name}}</div>
 -->
            <!-- pager 
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div> -->