<div class="container-fluid mb-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card rounded">
        <div class="wizard">
          <div class="wizard-inner">
            <div class="connecting-line" [ngStyle]="{'background-color':connectingLine}"></div>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="nav-item">
                <a data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" class="nav-link">
                  <span class="round-tab" [ngStyle]="{'background-color':firstStep}">
                    1
                    <!-- <i class="fa fa-building"></i> -->
                  </span>
                </a>
                <div class="steps-caption-left">
                  <img src="../../assets/cloud.svg" width="22" class="img-space-right">Upload
                  Industry File
                </div>
              </li>
              <li role="presentation" class="nav-item">
                <a data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" class="nav-link disabled">
                  <span class="round-tab" [ngStyle]="{'background-color':secondStep}">
                    2
                    <!-- <i class="fa fa-info"></i> -->
                  </span>
                </a>
                <div class="steps-caption-right">
                  <img src="../../assets/send.svg" width="22" class="img-space-right">Save 
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
