.wizard {
  /* margin: 20px auto; */
  /* background: #fff; */
}

.wizard .nav-tabs {
  position: relative;
  /* margin: 40px auto; */
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
  border-bottom: none;
  width: 80%;
  margin: 0 auto;
}

.wizard>div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 75%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 32px;
  height: 32px;
  line-height: 31px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 1px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 3px;
  top: 3px;
  text-align: center;
  font-size: 15px;
}

span.round-tab i {
  color: #555555;
}

.wizard li a.active span.round-tab {
  background: #3ed400;
  border: 2px solid #3ed400;
  color: #fff;

}

.wizard li a.active span.round-tab i {
  color: #5bc0de;
}

span.round-tab:hover {
  /* color: #333; */
  border: 1px solid #e0e0e0;
}

.wizard .nav-tabs>li {
  width: 50%;
}

.wizard li a:after {
  content: " ";
  position: relative;
  left: 46%;
  top: -20px;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active.nav-item:after {
  content: " ";
  position: relative;
  left: 46%;
  top: -20px;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}

.wizard .nav-tabs>li a {
  width: 40px;
  height: 40px;
  margin: 45px 0;
  border-radius: 100%;
  padding: 0;
  position: relative;
}

.wizard .nav-tabs>li:nth-child(2) a {
  float: right
}

.wizard .nav-tabs>li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6;
}

.steps-caption-left {
  display: inline-block;
  padding: 1px;
  position: absolute;
  bottom: 10px;
  left: -5%;
  color: #ccc;
  text-transform: uppercase;
  font-size: 14px;
  color: #757575
}

.steps-caption-right {
  display: inline-block;
  padding: 1px;
  position: absolute;
  bottom: 10px;
  right: -5%;
  color: #ccc;
  text-transform: uppercase;
  font-size: 14px;
  color: #757575
}

@media(max-width: 585px) {

  .wizard {
    width: 100%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 12px;
    width: 24px;
    height: 24px;
    line-height: 22px;
  }

  .wizard .nav-tabs>li a {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }

  .steps-caption-left img,
  .steps-caption-right img {
    display: none
  }
}
