<div class="page-wrapper" id="scheduler">
  <div class="page-title">
    <i class="fa fa-clock-o"></i>
    Scheduler
  </div>

  <div class="page-body">
    <div class="s-card">
      <header>
        <div class="s-info">Step 1</div>
        <div class="s-title s-title-center">
          <i class="fa fa-users"></i> &nbsp;Select Groups</div>
      </header>

      <div class="s-body">
        <div class="form-check">
          <label class="form-check-label" (click)="groupSelection.everyGroupClicked()">
            <input type="radio" class="form-check-input" name="group" [value]="groupSelection.everyGroup" [checked]="groupSelection.everyGroup">Send
            to everyone
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label" (click)="groupSelection.particularGroupClicked()">
            <input type="radio" class="form-check-input" name="group" [value]="groupSelection.particularGroup" [checked]="groupSelection.particularGroup">Send
            to particular groups
          </label>
        </div>
        <div class="group-selection-wrapper" *ngIf="groupSelection.particularGroup">
          <div class="main-group-selector">
            <div (click)="groupSelection.searchVisible = !groupSelection.searchVisible" [style.cursor]="'pointer'" id="groupList">
              <div class="group-icon">
                <i class="fa fa-pie-chart"></i>
              </div>
              <div class="group-data">{{groupsSelected.length >0 ? groupsSelected : 'All'}}</div>
              <div class="group-close">X</div>
            </div>

            <div class="group-list-popup" *ngIf="groupSelection.searchVisible">
              <div class="list-search">
                <div class="search-icon">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <input class="search-input" type="text" placeholder="Search" />
              </div>
              <div class="list-wrapper">
                <div class="list-item" *ngFor="let group of groups; let i = index" (click)="groupSelection.toggleListSelection(group.name)"
                  [ngClass]="{'selected': groupSelection.selectedGroups[group.name]}">
                  <div class="list-item-icon">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                  </div>
                  <div class="list-item-text">{{group.name}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="selected-groups-wrapper">
            <div class="title">List of selected groups</div>
            <div class="tags-list-wrapper" *ngFor="let selectedGroup of groupsSelected">
              <div class="tag-wrapper" *ngIf="groupSelection.selectedGroups[selectedGroup]">
                <div class="tag-text">{{selectedGroup}}</div>
                <div class="tag-remove" (click)="groupSelection.toggleListSelection(selectedGroup)">X</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="s-card">
      <header>
        <div class="s-info">Step 2</div>
        <div class="s-title s-title-left">Do you want to send notification for this content?</div>
      </header>

      <div class="s-body">
        <div class="form-check">
          <label class="form-check-label" (click)="notificationSelection.yesClicked()">
            <input type="radio" class="form-check-input" name="notification" [value]="notificationSelection.yes" [checked]="notificationSelection.yes">Yes
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label" (click)="notificationSelection.noClicked()">
            <input type="radio" class="form-check-input" name="notification" [value]="notificationSelection.no" [checked]="notificationSelection.no">No
          </label>
        </div>
      </div>
    </div>

    <div class="s-card" *ngIf="notificationSelection.step3Visible">
      <header>
        <div class="s-info">Step 3</div>
        <div class="s-title s-title-left">If yes, then message shows</div>
      </header>

      <div class="s-body">
        <div class="inner-card message-card">
          <header>
            <div class="s-i-info">ENGLISH</div>
            <div class="s-i-icon">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
          </header>

          <div class="s-i-body">
            <div class="form-group input-field-group">
              <label for="title-field">TITLE</label>
              <div class="input-field-wrapper">
                <input type="text" class="form-control" id="title" placeholder="Enter Title" [(ngModel)]="title" >
                <div class="input-field-icon">
                </div>
              </div>
            </div>
            <div class="form-group input-field-group">
              <label for="message-field">MESSAGE</label>
              <div class="input-field-wrapper">
                <textarea class="form-control" name="" id="messageContent" rows="3" placeholder="Enter Message" [(ngModel)]="messageContent"
                  ></textarea>
                <div class="input-field-icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="s-card">
      <header>
        <div class="s-info">Step 4</div>
        <div class="s-title s-title-center">
          <i class="fa fa-clock-o"></i>&nbsp; Schedule</div>
      </header>
      <div class="s-body">
        <div class="inner-card schedule-card">
          <div class="s-i-body">
            <div class="column-wrapper">
              <div class="column-title">
                <span>DELIVERY</span>
              </div>
              <div class="column-data">
                <div class="radio-selection-wrapper">
                  <div class="form-check">
                    <label class="form-check-label" (click)="scheduleSelection.nowClicked()">
                      <input type="radio" class="form-check-input" name="schedule" [value]="scheduleSelection.now" [checked]="scheduleSelection.now">Begin
                      sending immediately
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" (click)="scheduleSelection.laterClicked()">
                      <input type="radio" class="form-check-input" name="schedule" [value]="scheduleSelection.later" [checked]="scheduleSelection.later">Begin
                      sending at a particular time
                    </label>
                  </div>
                </div>
                <div *ngIf="scheduleSelection.laterScheduleVisible">
                  <div class="date-selection-wrapper form-inline">
                    <div class="form-group input-field-group">
                      <label for="title-field">SELECT DATE AND TIME</label>
                      <div class="input-field-wrapper">
                        <input type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" class="form-control mx-sm-3" id="date-field"
                          placeholder="Enter Title" [(ngModel)]="scheduleDate">
                      </div>
                    </div>
                  </div>
                  <div class="send-info">
                    <div class="info-icon">
                      <i class="fa fa-history"></i>
                    </div>
                    <div class="info-title">WILL BE SENT AT</div>
                    <div class="info-data">Starting at
                      <strong> {{ scheduleDate | date:'EEE MMM d y HH:mm:ss zzzz' }}
                        <!--Jan 09 2018 21:42:00 UTC-0800-->
                      </strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column-wrapper">
              <div class="column-title">
                <span>FREQUENCY</span>
              </div>
              <div class="column-data">
                <div class="radio-selection-wrapper">
                  <div class="form-check">
                    <label class="form-check-label" (click)="scheduleSelection.onceClicked()">
                      <input type="radio" class="form-check-input" name="scheduleFrequency" [value]="scheduleSelection.once" [checked]="scheduleSelection.once">Once
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" (click)="scheduleSelection.repeatClicked()">
                      <input type="radio" class="form-check-input" name="scheduleFrequency" [value]="scheduleSelection.repeat" [checked]="scheduleSelection.repeat">Repeated
                    </label>
                  </div>
                </div>
                <div *ngIf="scheduleSelection.repeatScheduleVisible">
                  <cron-editor [(cron)]="cronExpression" [options]="cronOptions" id="cron"></cron-editor>
                  <!--div class="date-selection-wrapper form-inline">
                                    <div class="form-group input-field-group">
                                      <label for="title-field">SELECT DATE AND TIME</label>
                                      <div class="input-field-wrapper">
                                        <input type="datetime-local" class="form-control mx-sm-3" id="date-field" placeholder="Enter Title" [(ngModel)]="scheduleDate">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="send-info">
                                    <div class="info-icon">
                                      <i class="fa fa-history"></i>
                                    </div>
                                    <div class="info-title">WHEN WILL IT SEND</div>
                                    <div class="info-data">Starting at
                                      <strong> {{ scheduleDate | date:'EEE MMM d y HH:mm:ss zzzz' }}
                                      </strong>
                                    </div>
                                  </div-->
                </div>



              </div>
            </div>
            <div class="column-wrapper">
              <div class="column-title">
                <span>Expiry</span>
              </div>
              <div class="column-data">
                <div class="input-wrapper with-icon" id="expiry">
                  <div class="input-body">
                    <div class="select-list-input clickable" [ngClass]="{'selected': scheduleSelection.selectedExpiry !== ''}" (click)="scheduleSelection.ExpiryPopupVisible = !scheduleSelection.ExpiryPopupVisible">
                      <div class="title ">Select Time To Complete</div>
                      <div class="content">{{ scheduleSelection.selectedExpiry }}</div>
                      <div class="down-arrow">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                      <div class="list-popup" *ngIf="scheduleSelection.ExpiryPopupVisible===true">
                        <div class="list-element" *ngFor="let type of Expiries" (click)="selectExpiry(type);">{{type}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="schedule-button-wrapper">
      <button class="schedule-button btn btn-success" type="button" (click)="publishContent()" >Schedule</button>
    </div>

  </div>