<div class="container-fluid mb-4">
  <div class="row">
    <div class="col-12">
      <div class="card rounded p-4">
        <div class="row">
          <div class="col-md-4 sm-mtb">
            <div class="card rounded total-upload-card p-3">
              <div class="row sm-text-center">
                <div class="col-md-5 col-sm-12 col-xs-12">
                  <img src="../../assets/uploaded.svg" class="upload-card-width">
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-12">
                      <div class="count">
                        {{totalContact}}
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="secondry-line">Contacts Uploaded</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 sm-mtb">
            <div class="card rounded success-upload-card p-3">
              <div class="row sm-text-center">
                <div class="col-md-5 col-sm-12 col-xs-12">
                  <img src="../../assets/success-uploaded.svg" class="upload-card-width">
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-12">
                      <div class="count">
                        {{succeessContact}}
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="secondry-line">Successful Numbers</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 sm-mtb">
            <div class="card rounded failed-upload-card p-3">
              <div class="row sm-text-center">
                <div class="col-md-5 col-sm-12 col-xs-12">
                  <img src="../../assets/failed-uploaded.svg" class="upload-card-width">
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-12">
                      <div class="count">
                        {{failedContact}}
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="secondry-line">Incorrect Numbers</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
