.total-upload-card {
  background-image: linear-gradient(to right, #464ef3, #1a82f7);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(right, #464ef3, #1a82f7);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(right, #464ef3, #1a82f7);

  /* IE 10 */
  background: -ms-linear-gradient(right, #464ef3, #1a82f7);

  /* Opera 11.10+ */
  background: -o-linear-gradient(right, #464ef3, #1a82f7);
}

.success-upload-card {
  background-image: linear-gradient(to right, #119153, #1eab72);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(right, #119153, #1eab72);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(right, #119153, #1eab72);

  /* IE 10 */
  background: -ms-linear-gradient(right, #119153, #1eab72);

  /* Opera 11.10+ */
  background: -o-linear-gradient(right, #119153, #1eab72);
}

.failed-upload-card {
  background-image: linear-gradient(to right, #cd2a2a, #f04c4c);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(right, #cd2a2a, #f04c4c);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(right, #cd2a2a, #f04c4c);

  /* IE 10 */
  background: -ms-linear-gradient(right, #cd2a2a, #f04c4c);

  /* Opera 11.10+ */
  background: -o-linear-gradient(right, #cd2a2a, #f04c4c);
}


.card.rounded.p-4 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.count {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  line-height: 70px;
}

.secondry-line {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.upload-card-width {
  width: 100px
}

@media(max-width: 900px) {

  .upload-card-width {
    width: 70px
  }

  .count {
    font-size: 40px;
    line-height: 50px;
  }

  .secondry-line {
    font-size: 14px;
    line-height: 18px;
  }
}

@media(max-width: 768px) {}
