<div class="container-fluid mb-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">

            <span class="badge header-badge-bg badge-primary">Step 1</span>

            <div class="col-12 text-center text-white sm-mtb">
              <img src="../../assets/create-sms.svg" width="30" class="img-space-right">
              Create SMS
            </div>
            <!-- <div class="col-md-4 hidden-sm hidden-xs"></div> -->
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <!-- <label for="exampleInputEmail1">Email address</label> -->
              <select class="form-control" name="templateName" id="templateName" placeholder="Select SMS Template" [(ngModel)]="templateName" (change)="changeTemplate()">
                <option *ngFor="let template of templates;" value="{{template.message}}">{{template.name}}</option>
               </select>
            </div>

            <div class="form-group">
              <label for="comment" class="text-left">Message:</label>
              <textarea class="form-control" rows="5" id="comment" name="comment" [(ngModel)]="message" (change)="IsMessageReady()" (keyup)="IsMessageReady()">{{message}}</textarea>
            </div>


            <div class="form-group">
              <label for="validationServer03">Name of the Template</label>
              <input type="text" class="form-control" id="validationServer03" name="nameOfTemplate" [(ngModel)]="nameOfTemplate" required>
            </div>

            <div class="form-group">
              <app-next-btn [myText]="'Save'" (click)="sendMsg()" [fileTarget]="!(nameOfTemplate && message)"></app-next-btn>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
