<!--Footer Starts-->
<footer>
    <div class="container-fluid">
        <p class="copyright text-center">
               Version 1.0 Copyright  &copy;  {{currentDate | date: 'yyyy'}} Sthaapak, All rights reserved.          
        </p>
        
    </div>
</footer>
<!--Footer Ends-->