<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row text-left justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-card-center">App Config</h4>
                    <p class="mb-0">App Config</p>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form">
                            <div class="form-body">

                                <!--  Name  -->




                <!--  State  -->









        <div class="form-group">
            <label> Enter path</label>
            <input type="file" class="form-control-file" id=" Enter path">
        </div>


                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="Sub category">Enter Sub Category </label>
                                    <div class="position-relative has-icon-left">
                                    <input type="text" id="Sub category" class="form-control"  name="Sub category" placeholder="enter Sub category" >
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>




                <!--  State  -->











                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="name">Enter the Name </label>
                                    <div class="position-relative has-icon-left">
                                    <input type="text" id="name" class="form-control"  name="name" placeholder="enter name" >
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>




                <!--  State  -->











                                <!--  Name  -->




                <!--  State  -->









        <div class="form-group">
            <label> enter Organization's logo</label>
            <input type="file" class="form-control-file" id=" enter Organization's logo">
        </div>


                                <!--  Name  -->




                <!--  State  -->

            <!--  text large  -->
            <div class="form-group">
                <label for="description">description</label>
            <div class="position-relative has-icon-left">
                <textarea id="description" rows="5" class="form-control" name="description" placeholder="Organization Description" ></textarea>
                <div class="form-control-position">
                    <i class="ft-file"></i>
                </div>
            </div>

            </div>










                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="category">Enter Category </label>
                                    <div class="position-relative has-icon-left">
                                    <input type="text" id="category" class="form-control"  name="category" placeholder="enter category" >
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>




                <!--  State  -->











                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="value">Enter Config value </label>
                                    <div class="position-relative has-icon-left">
                                    <input type="text" id="value" class="form-control"  name="value" placeholder="enter value" >
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>




                <!--  State  -->











                                <!--  Name  -->
                                <div class="form-group">
                                    <label for="tags">Enter Tags </label>
                                    <div class="position-relative has-icon-left">
                                    <input type="text" id="tags" class="form-control"  name="tags" placeholder="enter tags" >
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </div>
                                </div>




                <!--  State  -->
















                            </div>

                            <div class="form-actions center">
                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






</section>