.upload-csv-btn {
  width: 90% !important;
  display: inline-block !important;
  margin: 20px auto !important;
  padding: 5px 25px;
  border-color: #526d89;
}

.upload-csv-btn:hover {
  background-color: #526d89;
  color: #fff !important;
}
