<section id="filter" class="mb-3 pt-3">
  <div class="row text-left">
    <div class="col-md-4 justify-content-center align-self-center">
      <span class="panel-icon-circle">
        <img src="../../../assets/img/dashboard.png" class="panel-head-icon"></span>&nbsp;&nbsp;
      <span class="panel-head-text">
        Users in {{obj.name}} Group
      </span>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <div class="search-cont">
            <span class="search-icon">
              <i class="fa fa-search"></i>
              <!-- <fa name="cog" animation="spin"></fa> -->
            </span>
            <input type='text' class="search-input" placeholder='What are you looking for?' (keyup)='updateFilter($event)' />
          </div>
        </div>
        <div class="col-md-8">
          <ul class="filter-n-sort-ul custom-radios">
            <li class="font-weight-bold">Filter By: </li>
            <li> <input type="radio" id="color-1" class="color" name="color" value="1" (click)="changeFilter($event)">
              <label for="color-1">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Created By</li>
            <li><input type="radio" id="color-2" name="color" class="color" value="2" (click)="changeFilter($event)">
              <label for="color-2">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Type</li>
            <li><input type="radio" id="color-3" name="color" class="color" value="3" (click)="changeFilter($event)">
              <label for="color-3">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Status</li>
            <li>
              <select name="filterDate" id="filterDate" *ngIf="filterOption==='1'" class="selectUserDrop" (change)="filterListByAuthor($event)">
                <option *ngFor="let author of authors">{{author}}</option>
              </select>
              <select name="filterDate" id="filterDate" *ngIf="filterOption==='2'" class="selectUserDrop" (change)="filterListByType($event)">
                <option *ngFor="let author of types">{{author}}</option>
              </select>
              <select name="filterDate" id="filterDate" *ngIf="filterOption==='3'" class="selectUserDrop" (change)="filterListByStatus($event)">
                <option *ngFor="let author of status">{{author}}</option>
              </select> </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12">
      <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
        <ngx-datatable-column name="Name" sortable="true" prop="name">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p (click)="openDetails(row)">{{value}}</p>
          </ng-template>
        </ngx-datatable-column>
        <!--  <ngx-datatable-column name="Number of Tags" sortable="true" prop="number">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        -->
        <ngx-datatable-column name="Gender" sortable="true" prop="gender">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
             <p (click)="openDetails(row)">{{value}}</p>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Image" sortable="true" prop="profileImage">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <img src="{{value}}" width="50px" height="50px" alt="No Image Available">
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="160">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button *ngIf="CGroupId.selectQuery===row.registeredNumber || CGroupId.selectQuery===row.email " md-icon-button class="dt-icon edit-icon"  placement="bottom" ngbTooltip="Expert">
                            <i class="fa fa-user-graduate"></i>
                        </button>
                        <button *ngIf="CGroupId.selectQuery && (CGroupId.selectQuery.split('/')[1]===row.registeredNumber || CGroupId.selectQuery.split('/')[1]===row.email )" md-icon-button class="dt-icon edit-icon"  placement="bottom" ngbTooltip="Admin">
                            <i class="fa fa-user-shield"></i>
                        </button>

                         <button *ngIf="CGroupId.selectQuery!=='Removed' && (CGroupId.selectQuery==='Deleted' || (CGroupId.selectQuery && CGroupId.selectQuery.split('/')[0]!=='Broadcast')) && CGroupId.selectQuery!==row.registeredNumber && CGroupId.selectQuery!==row.email" md-icon-button class="dt-icon edit-icon" (click)="makeExpert(row)" placement="bottom" ngbTooltip="Make Expert">
                            <i class="fa fa-user-plus"></i>
                        </button>
                        <button *ngIf="CGroupId.selectQuery!=='Deleted' && CGroupId.selectQuery==='Removed' || (CGroupId.selectQuery && (CGroupId.selectQuery.split('/')[1]!==row.registeredNumber && CGroupId.selectQuery.split('/')[0]==='Broadcast')) " md-icon-button class="dt-icon edit-icon" (click)="makeAdmin(row)"  placement="bottom" ngbTooltip="Make Admin">
                            <i class="fa fa-user-plus"></i>
                        </button>
            <button md-icon-button *ngIf="!CGroupId.selectQuery || !(CGroupId.selectQuery.split('/')[1]===row.registeredNumber || CGroupId.selectQuery.split('/')[1]===row.email) && (CGroupId.selectQuery!==row.registeredNumber && CGroupId.selectQuery!==row.email)" class="dt-icon delete-icon" (click)="deleteContent(row)" [disabled]="row['status']==='BLOCKED'" placement="bottom" ngbTooltip="Remove User">
              <i class="fa fa-trash"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>

</section>