<!--Coming soon starts-->
<section id="coming-soon">
  <div class="container-fluid gradient-flickr white">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card card-transparent box-shadow-0 no-border">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-text pb-2">WE ARE LAUNCHING SOON.</h5>
              <img alt="avtar" class="img-fluid mb-2" src="assets/img/logos/logo-big-white.png" width="100">
              <h1>dnky</h1>
              <div id="clockFlat" class="card-text getting-started pt-1 mt-2 display-inline-block">
                <div class="clockCard px-3 py-3 mr-3 mb-3 bg-pink bg-darken-2 box-shadow-2"> <span>57</span> <br>
                  <p class="lead mt-2 mb-0"> Weeks </p>
                </div>
                <div class="clockCard px-3 py-3 mr-3 mb-3 bg-pink bg-darken-2 box-shadow-2"> <span>05</span> <br>
                  <p class="lead mt-2 mb-0"> Days </p>
                </div>
                <div class="clockCard px-3 py-3 mr-3 mb-3 bg-pink bg-darken-2 box-shadow-2"> <span>11</span> <br>
                  <p class="lead mt-2 mb-0"> Hours </p>
                </div>
                <div class="clockCard px-2 py-3 mr-3 mb-3 bg-pink bg-darken-2 box-shadow-2"> <span>12</span> <br>
                  <p class="lead mt-2 mb-0"> Minutes </p>
                </div>
                <div class="clockCard px-2 py-3 mr-3 mb-3 bg-pink bg-darken-2 box-shadow-2"> <span>34</span> <br>
                  <p class="lead mt-2 mb-0"> Seconds </p>
                </div>
              </div>
              <div class="col-12 pt-1">
                <p class="card-text lead">Our website is under construction.</p>
              </div>
              <div class="col-12 text-center pt-2">
                <p class="socialIcon card-text">
                  <a class="white"><i class="fa fa-facebook-square"></i></a>
                  <a class="white"><i class="fa fa-twitter-square"></i></a>
                  <a class="white"><i class="fa fa-google-plus-square"></i></a>
                  <a class="white"><i class="fa fa-linkedin-square"></i></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Coming soon ends-->