
//new css


.s-card{
    margin-top: 10px;
    margin-bottom: 20px;

    header {
        background-color: rgb(129,150,171);
        height: 50px;
        color: #fff;
        padding: 0px 10px;

        position: relative;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;

        .s-info{
            position: absolute;
            left: 10px;
            top: 15px;
            height: 22px;
            line-height: 20px;
            padding: 0px 7px;
            font-size: 13px;
            background-color: #526d8a;
            border-radius: 4px;
        }

        .s-title{
            font-size: 15px;
            font-weight: 600;
            line-height: 50px;

            &.s-title-center{
                text-align: center;
            }

            &.s-title-left{
                text-align: left;
                margin-left: 60px;
            }
            
        }
    }

    .s-body{
        background-color: #fff;
        padding: 15px;
        font-weight: 600;
        font-size: 14px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border: 1px solid rgba(0,0,0,0.18);
        box-sizing: border-box;

        .form-group{
                    input, textarea{
                        background-color: rgb(245,250,255);
                        border: 2px solid rgb(207,216,223);
                        color: #000;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    label{
                        color: rgb(168,168,168);
                    }

                    .image-uploader{
                        height: 90px;
                        background-color: rgb(245,250,255);
                        border: 2px solid rgb(207,216,223);
                        border-radius: 10px;
                        color: rgb(168,168,168);
                        text-align: center;
                        padding: 10px;

                        .upload-button-wrapper{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            margin-top: 10px;
                            button{
                                background-color: rgb(255,130,1);
                                color: #fff!important;
                                margin-right: 10px;
                            }
                            .image-name{
                                margin-left: 160px;
                                margin-top: 4px;
                                color: #1e91ec;
                                font-weight: 500;
                                position: absolute;
                                text-align: left;
                                width: 200px;
                            }
                        }
                    }
                }
    }
}

.s-card .inner-card{
    margin: 10px;
    header {
        background-color: rgb(225,232,238);
        height: 50px;
        line-height: 50px;
        color: #fff;
        padding: 0px 10px;

        position: relative;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;

        .s-i-info{
            position: absolute;
            left: 10px;
            top: 15px;
            height: 22px;
            line-height: 20px;
            padding: 0px 7px;
            font-size: 13px;
            background-color: rgb(129,150,171);
            border-radius: 4px;
        }
        .s-i-icon{
            position: absolute;
            right: 0;
            width: 50px;
            height: inherit;
            line-height: inherit;
            text-align: center;
            color: #8196ab;
            font-size: 15px;
        }
    }

    .s-i-body{
        padding: 15px;
        font-weight: 600;
        font-size: 14px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border: 2px solid rgb(225,232,238);
        box-sizing: border-box;
        color: rgb(129,150,171);
        background-color: rgb(244,245,247);

        label{
            font-weight: bold;
            font-size: 13px;
        }
        .input-field-wrapper{
            position: relative;
            
            input, textarea{
                font-weight: bold;
                font-size: 13px;
                color: #8196ab;
                border: 2px solid rgb(225,232,238);
                
                padding-right: 34px;
            }
            .input-field-icon{
                position: absolute;
                width: 34px;
                height: 34px;
                line-height: 34px;
                text-align: center;
                top: 0;
                right: 0;
                font-size: 18px;
            }
        }

        .column-wrapper{
            position: relative;
            .column-title{
                width: 90px;
                font-weight: bold;
                font-size: 13px;
                position: absolute;
            }
    
            .column-data{
                padding-left: 90px;
                .radio-selection-wrapper{
                    
                    margin-left: 40px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid rgb(225,232,238);

                    label{
                        font-weight: 600;
                        font-size: 14px;
                    }
                }

                .date-selection-wrapper{
                    input, textarea{
                        font-weight: bold;
                        font-size: 13px;
                        color: #8196ab;
                        border: 2px solid rgb(225,232,238);
                    }
                }

                .send-info{
                    position: relative;
                    height: 56px;
                    background-color: #fff;
                    margin-top: 10px;
                    padding-left: 50px;
                    padding-top: 5px;

                    .info-icon{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50px;
                        height: inherit;
                        line-height: 56px;
                        text-align: center;
                        font-size: 24px;
                    }

                    .info-title{
                        font-weight: bold;
                    }

                    .info-data{
                        color: #000;
                        font-size: 15px;
                    }
                }
            }
        }

        
    }

    &.message-card{
        width: 40%;
    }

    &.schedule-card{
        width: 70%;
    }
}


.group-selection-wrapper{
    margin-top: 8px;
    margin-left: 20px;

    .main-group-selector{
        position: relative;
        height: 40px;
        width: 370px;
        line-height: 40px;
        background-color: rgb(244, 245,247);
        color: rgb(119,134,153);
        border-bottom: 0 none;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
        margin-bottom: 10px;

        .group-icon{
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: inherit;
            line-height: inherit;
            text-align: center;
            background-color: rgb(227, 232,238);
            
        }

        .group-data{
            padding-left: 40px;
            padding-right: 40px;
            line-height: inherit
        }

        .group-close{
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: inherit;
            line-height: inherit;
            text-align: center;
        }

        .group-list-popup{
            position: absolute;
            z-index: 100;
            left: 10px;
            right: 10px;
            top: 30px;
            padding: 10px;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.18);
            
            .list-search{
                width: 100%;
                position: relative;
                height: 40px;
                background-color: rgb(241,239,240);
                border-radius: 10px;
                color: rgb(197,197,197);
                margin-bottom: 10px;

                .search-icon{
                    position: absolute;
                    width: 40px;
                    left: 0;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    z-index: 100;
                }

                .search-input{
                    width: 100%;
                    position: absolute;
                    right: 0;
                    padding-left: 40px;
                    height: 40px;
                    border: none;
                    background-color: inherit;
                    color: #778699;
                    border-radius: 10px;
                }
            }

            .list-wrapper{
                background-color: rgb(247,248,252);
                max-height: 240px;
                overflow-y: auto;

                .list-item{
                    position: relative;
                    color: rgb(87,92,98);
                    font-size: 14px;

                    .list-item-icon{
                        position: absolute;
                        left: 0;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                    }
                    .list-item-text{
                        padding-left: 40px;
                        font-weight: 700;
                        font-size: 12px;
                    }
                }

                .list-item:hover, .list-item.selected{
                    background-color: rgb(221,228,234);
                    cursor: pointer;
                }
            }
        }
    }
}

.selected-groups-wrapper{
    color: rgb(119,134,153);

    .tag-wrapper{
        position: relative;
        margin-top: 8px;
        margin-right: 8px;
        display: inline-block;
        border: 1px solid #778699;
        height: 24px;
        min-width: 24px;
        padding-left: 8px;
        padding-right: 30px;
        border-radius: 5px;
        
        .tag-remove{
            position: absolute;
            right: 3px;
            height: 18px;
            width: 18px;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            top: 2px;
            border: 1px solid rgb(119,134,153);
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.schedule-button-wrapper{
    padding: 20px;
    .schedule-button{
        margin: 0 auto;
        display: block;
        color: #fff !important;
    }
}


#create-content.page-wrapper{
    padding: 15px;
    font-size: 14px;
    width:100%;
    .page-card{
        background-color: #fff;
        border-radius: 7px;
        padding: 25px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        .phone-wrapper{
            border: 2px solid rgb(147, 147, 147);
            height: 550px;
            border-radius: 15px;

            position: relative;
            padding: 40px 15px;
            .phone-header{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40px;

                .mobile-icons{
                    width: 150px;
                    height: 40px;
                    margin: 0 auto;

                    .small-circle-wrapper, .big-circle-wrapper, .horizontal-line-wrapper{
                        height: inherit;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        float: left;
                    }

                    .small-circle-wrapper{
                        width: 12px;
                        .small-circle{
                            margin: 0 auto;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: rgb(147, 147, 147);
                        }
                    }
                    .big-circle-wrapper{
                        width: 20px;
                        .big-circle{
                            margin: 0 auto;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            background-color: rgb(147, 147, 147);
                        }
                    }
                    .horizontal-line-wrapper{
                        width: 118px;
                        .horizontal-line{
                            margin: 0 auto;
                            width: 104px;
                            height: 4px;
                            border-radius: 2px;
                            background-color: rgb(147, 147, 147);
                        }
                    }
                }
            }
            .phone-footer{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 40px;

                .phone-selector-wrapper{
                    width: 150px;
                    height: 40px;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .phone-selector{
                        height: 24px;
                        line-height: 24px;
                        width: inherit;
                        border-radius: 5px;
                        border: 1px solid rgb(147, 147, 147);
                        color: rgb(147, 147, 147);
                        text-align: center;
                    }
                }
            }

            .phone-body{
                height: 100%;
                padding: 15px;

                &.light-blue{
                    background: -webkit-linear-gradient(left, rgb(42,120,182), rgb(54,180,159));
                }
    
                &.blue{
                    background: -webkit-linear-gradient(left, #224ead, #224ead);
                }
    
                &.green{
                    background: -webkit-linear-gradient(left, rgb(1,137,139), rgb(1,190,162));
                }
    
                &.purple{
                    background: -webkit-linear-gradient(left, rgb(117,58,136), rgb(211,79,140));
                }

                

                .notification-wrapper{
                    position: relative;
                    background-color: white;
                    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                    padding: 10px;
                    padding-left: 80px;
                    min-height: 80px;

                    .content-wrapper{
                        overflow: hidden;

                        .n-content-name{
                            font-weight: 600;
                            width: 100%;
                        }

                        .n-content-desc{
                            width: 100%;
                        }
                    }
                    
                    img{
                        position: absolute;
                        width: 60px;
                        height: 60px;
                        left: 10px;
                        top: 10px;
                    }
                }   
            }

        }

        .form-card{
            border-radius: 7px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);

            header{
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                background-color:rgb(0, 80, 113);
                color: #fff;
                text-align: center;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                i{
                    font-size: 20px;
                }

                span{
                    font-weight: 600;
                    margin-left: 15px;
                }
            }

            .form-body{
                padding: 20px;

                .input-wrapper{
                    border: 2px solid rgb(226, 226, 226);
                    border-radius: 10px;
                    margin-bottom: 20px;

                    .input-text{
                        padding-left: 10px;
                        padding-right: 10px;
                        height: 40px;
                        line-height: 40px;
                    }

                    &.with-icon{
                        .input-text{
                            padding-right: 40px;
                        }
                        
                        position: relative;

                        .input-icon{
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            font-size: 18px;
                        }
                        .microlearning{
                            position: absolute;
                            top: 0;
                            right: 40px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 16px;
                            font-weight: 600;
                            color: rgb(30,145,236);
                        }
                    }

                    .input-body{
                        background-color: rgb(244, 248, 251);
                        padding: 10px;

                        .select-list-input{
                            color: rgb(163, 163, 163);
                            border-bottom: 2px solid rgb(163, 163, 163);
                            height: 50px;
                            line-height: 70px;
                            margin-bottom: 10px;
                            cursor: pointer;
                            position: relative;

                            .down-arrow{
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                text-align: center;
                                height: inherit;
                                line-height: inherit;
                            }

                            .list-popup{
                                position: absolute;
                                top: 50px;
                                right: 0;
                                left: 0;
                                background-color: #fff;
                                z-index: 100;
                                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                                .list-element{
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    border-bottom: 1px solid #e2e2e2;
                                    cursor: pointer;
                                    line-height: 40px;
                                }
                                .list-element:hover{
                                    background-color: #e2e2e2;
                                }
                            }

                            &.selected{
                                .title{
                                    position: absolute;
                                    top: -20px;
                                }
                                .content{
                                    color: #000;
                                    font-weight: 600;
                                }
                            }

                        }

                        .radio-input-wrapper{
                            margin-top: 10px;
                            margin-bottom: 10px;
                            .input-item{
                                
                                .radio-input{
                                    width: 27px;
                                    height: 60px;
                                    line-height: 60px;
                                    float: left;
                                    font-size: 20px;
                                    margin-left: 10px;
                                    color: rgb(147, 147, 147);
                                }

                                .color-square{
                                    width: 60px;
                                    height: 60px;
                                    float: left;
                                    margin-right: 5px;
                                }
                                .light-blue{
                                    background-color: rgb(48, 148, 172);
                                }
                                .blue{
                                    background-color: rgb(34, 78, 173);
                                }
                                .green{
                                    background-color: rgb(1, 144, 142);
                                }
                                .purple{
                                    background-color: rgb(132, 61, 137);
                                }
                            }

                            .done-button-wrapper{
                                float: right;
                                height: 60px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                button{
                                    width: 70px;
                                    background-color: rgb(255,130,1);
                                    color: #fff;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }

                .form-group{
                    input{
                        background-color: rgb(245,250,255);
                        border: 2px solid rgb(207,216,223);
                        color: #000;
                        font-weight: 600;
                        font-size: 14px;
                    }

                    label{
                        color: rgb(168,168,168);
                    }

                    .image-uploader{
                        height: 90px;
                        background-color: rgb(245,250,255);
                        border: 2px solid rgb(207,216,223);
                        border-radius: 10px;
                        color: rgb(168,168,168);
                        text-align: center;
                        padding: 10px;

                        .upload-button-wrapper{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            margin-top: 10px;
                            button{
                                background-color: rgb(255,130,1);
                                color: #fff;
                                margin-right: 10px;
                            }
                            .image-name{
                                margin-left: 160px;
                                margin-top: 4px;
                                color: #1e91ec;
                                font-weight: 600;
                                position: absolute;
                                text-align: left;
                                width: 200px;
                            }
                        }
                    }
                }
                
            }


            footer{
                padding: 20px;
                button{
                    width: 140px;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
}

.clear-both{
    clear: both;
}
.clickable{
    cursor: pointer;
}

.image-uploader{
    position: relative;

    #filePhoto{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        opacity: 0;
    }

    button{
        position: absolute;
        z-index: 3;
    }
}

.error{
    border: 2px solid red !important;
}
.error-text{
    color:red !important;
}