<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3 pt-3">
    <div class="row text-left">
        <div class="col-md-2 justify-content-center align-self-center">
            <span class="panel-icon-circle">
                <img src="../../assets/img/bell.svg" class="panel-head-icon"></span>&nbsp;&nbsp;
            <span class="panel-head-text">
                Notifications List
            </span>
        </div>
        <div class="col-md-4">
            <div class="search-cont">
                
                
            </div>
        </div>
        <div class="col-md-6">
            <ul class="filter-n-sort-ul custom-radios">
                <li class="font-weight-bold">Filter By: </li>
                <li> <input type="radio" id="color-1" class="color" name="color" value="1" (click)="changeFilter($event)">
              <label for="color-1">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Published Date</li>
            <li><input type="radio" id="color-2" name="color" class="color" value="2" (click)="changeFilter($event)">
              <label for="color-2">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Type</li>
            <li><input type="radio" id="color-3" name="color" class="color" value="3" (click)="changeFilterLater($event)">
              <label for="color-3">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>&nbsp;Status</li>
            <li>
                            <input type="date" name="filterDate" id="filterDate" *ngIf="filterOption==='1'" class="selectUserDrop" (change)="filterListByCreatedDate($event)"/>
               
              <select name="filterDate" id="filterDate" *ngIf="filterOption==='2'" class="selectUserDrop" (change)="filterListByType($event)">
                <option *ngFor="let author of types">{{author}}</option>
              </select>
              <select name="filterDate" id="filterDate" *ngIf="filterOption==='3'" class="selectUserDrop" (change)="filterListByStatus($event)">
                <option *ngFor="let author of status">{{author}}</option>
              </select>
                            <button class="btn btn-sm refreshButton" placement="bottom" ngbTooltip="Reset" (click)="reset()" *ngIf="filterOption"><img src="/assets/img/refresh-ccw.svg" height="80%" width="80%"></button>
 </li>
                <!-- <li>
                    <select>
                        <option>Option 1</option>
                        <option>option 2</option>
                        <option>Option 3</option>
                    </select>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
                <ngx-datatable-column name="Title" sortable="true" prop="name">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Type" sortable="true" prop="description">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Published Date" sortable="true" prop="sound">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | date: 'dd/MM/yyyy hh:mm a'}}
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Spotted audience(%)" sortable="true" prop="sound">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        100%(dummy)
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Message" sortable="true" prop="body">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
    </ng-template>
</ngx-datatable-column>
             <ngx-datatable-column name="Actions" sortable="false" prop="id" [width]="160">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button md-icon-button class="dt-icon delete-icon" (click)="deleteContent(row)" [disabled]="row['status']==='BLOCKED'" placement="bottom" ngbTooltip="Delete">
              <i class="fa fa-trash"></i>
            </button>
            <button md-icon-button class="dt-icon delete-icon" (click)="disableContent(row)" [disabled]="row['enabled']===true" placement="bottom" ngbTooltip="Disable">
              <i class="fa fa-eye-slash"></i>
            </button>
            <button md-icon-button class="dt-icon edit-icon" (click)="enableContent(row)" [disabled]="row['enabled']===false" placement="bottom" ngbTooltip="Enable">
              <i class="fa fa-eye"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->