<!--new component -->
<div class="page-wrapper" id="scheduler"  >


    <div class="page-body" >
      <div class="s-card">
        <header>
          <div class="s-info">Step 1</div>
          <div class="s-title s-title-center">
            <i class="fas fa-bell"></i> &nbsp;Create a new Notification</div>
        </header>
  
        <div class="s-body">
          <div class="form-group">
            <label for="title">Enter Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="title" >
          </div>
          <div class="form-group">
            <label for="messageContent">Enter Message Content</label>
            <input type="text" class="form-control" id="messageContent" [(ngModel)]="messageContent" >
          </div>
  
          <div class="form-group">
            <div class="input-body">
              <label>Choose Notification Type</label>
              <div class="radio-input-wrapper">
                  <form>
                      <input type="radio" name="radio" (click)="selectTheme('Info')" id="Info">Info<br>
                      <input type="radio" name="radio" (click)="selectTheme('Deadline')" id="Deadline">Deadline<br>
                      <input type="radio" name="radio" (click)="selectTheme('Todo')" id="Todo">Todo
                 </form>
                    
              
  
                <div class="clear-both"></div>
              </div>
            </div>
            <!--div class="uploader" (click)="browseImageClicked()">
                                click here or drag here your images for preview and set userprofile_picture data
                                <img src=""/>
                                <input #imageFileInput (click)="clicked()" type="file" name="userprofile_picture"  id="filePhoto" />
                              </div-->
            <!--div class="uploader" onclick="$('#filePhoto').click()">
                                click here or drag here your images for preview and set userprofile_picture data
                                <img src=""/>
                                <input type="file" name="userprofile_picture"  id="filePhoto" />
                              </div-->
          </div>
        </div>
      </div>
  
  
      <div class="s-card" (click)="groupSelection.searchVisible = !groupSelection.searchVisible">
        <header>
          <div class="s-info">Step 2</div>
          <div class="s-title s-title-center">
            <i class="fa fa-users"></i> &nbsp;Select Groups</div>
        </header>
  
        <div class="s-body">
          <div class="form-check">
            <label class="form-check-label" (click)="groupSelection.everyGroupClicked()">
              <input type="radio" class="form-check-input" name="group" [value]="groupSelection.everyGroup" [checked]="groupSelection.everyGroup">Send
              to everyone
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" (click)="groupSelection.particularGroupClicked()">
              <input type="radio" class="form-check-input" name="group" [value]="groupSelection.particularGroup" [checked]="groupSelection.particularGroup">Send
              to particular groups
            </label>
          </div>
          <div class="group-selection-wrapper" *ngIf="groupSelection.particularGroup" >
            <div class="main-group-selector">
              <div  [style.cursor]="'pointer'" id="groupList">
                <div class="group-icon">
                  <i class="fa fa-pie-chart"></i>
                </div>
                <div class="group-data">All</div>
                <div class="group-close">X</div>
              </div>
  
              <div class="group-list-popup" *ngIf="groupSelection.searchVisible">
                <div class="list-search">
                  <div class="search-icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </div>
                  <input class="search-input" type="text" placeholder="Search" />
                </div>
                <div class="list-wrapper">
                  <div class="list-item" *ngFor="let group of groups; let i = index" (click)="groupSelection.toggleListSelection(group.name)"
                    [ngClass]="{'selected': groupSelection.selectedGroups[group.name]}">
                    <div class="list-item-icon">
                      <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </div>
                    <div class="list-item-text">{{group.name}}</div>
                  </div>
                  <!--     <div class="list-item" (click)="groupSelection.toggleListSelection('last_session')" [ngClass]="{'selected': groupSelection.selectedGroups.last_session}">
                                <div class="list-item-icon">
                                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                                </div>
                                <div class="list-item-text">LAST SESSION</div>
                              </div>
                              <div class="list-item" (click)="groupSelection.toggleListSelection('session_count')" [ngClass]="{'selected': groupSelection.selectedGroups.session_count}">
                                <div class="list-item-icon">
                                  <i class="fa fa-list-ol" aria-hidden="true"></i>
                                </div>
                                <div class="list-item-text">SESSION COUNT</div>
                              </div>
                              <div class="list-item" (click)="groupSelection.toggleListSelection('total_duration')" [ngClass]="{'selected': groupSelection.selectedGroups.total_duration}">
                                <div class="list-item-icon">
                                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </div>
                                <div class="list-item-text">TOTAL DURATION</div>
                              </div>
                              <div class="list-item" (click)="groupSelection.toggleListSelection('amount_spent')" [ngClass]="{'selected': groupSelection.selectedGroups.amount_spent}">
                                <div class="list-item-icon">
                                  <i class="fa fa-usd" aria-hidden="true"></i>
                                </div>
                                <div class="list-item-text">AMOUNT SPENT</div>
                              </div>
                              <div class="list-item" (click)="groupSelection.toggleListSelection('purchased_item')" [ngClass]="{'selected': groupSelection.selectedGroups.purchased_item}">
                                <div class="list-item-icon">
                                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </div>
                                <div class="list-item-text">PURCHASED ITEM</div>
                              </div>
                              <div class="list-item" (click)="groupSelection.toggleListSelection('language')" [ngClass]="{'selected': groupSelection.selectedGroups.language}">
                                <div class="list-item-icon">
                                  <i class="fa fa-language" aria-hidden="true"></i>
                                </div>
                                <div class="list-item-text">LANGUAGE</div>
                              </div> -->
                </div>
              </div>
            </div>
  
            <div class="selected-groups-wrapper">
              <div class="title">List of selected groups</div>
              <div class="tags-list-wrapper" *ngFor="let selectedGroup of groupsSelected">
                <div class="tag-wrapper" *ngIf="groupSelection.selectedGroups[selectedGroup]">
                  <div class="tag-text">{{selectedGroup}}</div>
                  <div class="tag-remove" (click)="groupSelection.toggleListSelection(selectedGroup)">X</div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  
  
  
      <div class="s-card">
        <header>
          <div class="s-info">Step 3</div>
          <div class="s-title s-title-center">
            <i class="fa fa-clock-o"></i>&nbsp; Schedule</div>
        </header>
        <div class="s-body">
          <div class="inner-card schedule-card">
            <div class="s-i-body">
              <div class="column-wrapper">
                <div class="column-title">
                  <span>DELIVERY</span>
                </div>
                <div class="column-data">
                  <div class="radio-selection-wrapper">
                    <div class="form-check">
                      <label class="form-check-label" (click)="scheduleSelection.nowClicked()">
                        <input type="radio" class="form-check-input" name="schedule" [value]="scheduleSelection.now" [checked]="scheduleSelection.now">Begin
                        sending immediately
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label" (click)="scheduleSelection.laterClicked()">
                        <input type="radio" class="form-check-input" name="schedule" [value]="scheduleSelection.later" [checked]="scheduleSelection.later">Begin
                        sending at a particular time
                      </label>
                    </div>
                  </div>
                  <div *ngIf="scheduleSelection.laterScheduleVisible">
                    <div class="date-selection-wrapper form-inline">
                      <div class="form-group input-field-group">
                        <label for="title-field">SELECT DATE AND TIME</label>
                        <div class="input-field-wrapper">
                        <input type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" min="{{scheduleSelection.min}}" max ="{{scheduleSelection.max}}" class="form-control mx-sm-3" id="date-field" placeholder="Enter Title" [(ngModel)]="scheduleDate" value="2018-06-12T19:30" min="{{scheduleSelection.min}}" max="{{scheduleSelection.max}}"/>
         
                         <!-- <input type="datetime-local" max="2020-01-01T22:57Z" min="2019-01-01T22:57Z" class="form-control mx-sm-3" id="date-field" placeholder="Enter Title" [(ngModel)]="scheduleDate"
                           >
                           -->
                        </div>
                      </div>
                    </div>
                    <div class="send-info">
                      <div class="info-icon">
                        <i class="fa fa-history"></i>
                      </div>
                      <div class="info-title">WILL BE SENT AT</div>
                      <div class="info-data">Starting at
                        <strong> {{ scheduleDate | date:'EEE MMM d y HH:mm:ss zzzz' }}
                          <!--Jan 09 2018 21:42:00 UTC-0800-->
                        </strong>
                      </div>
                    </div>
  
                  </div>
  
                </div>
              </div>
              <div class="column-wrapper">
                <div class="column-title">
                  <span>FREQUENCY</span>
                </div>
                <div class="column-data">
                  <div class="radio-selection-wrapper">
                    <div class="form-check">
                      <label class="form-check-label" (click)="scheduleSelection.onceClicked()">
                        <input type="radio" class="form-check-input" name="scheduleFrequency" [value]="scheduleSelection.once" [checked]="scheduleSelection.once">Once
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label" (click)="scheduleSelection.repeatClicked()">
                        <input type="radio" [disabled]="scheduleSelection.later" class="form-check-input" name="scheduleFrequency" [value]="scheduleSelection.repeat" [checked]="scheduleSelection.repeat">Repeated
                      </label>
                    </div>
                  </div>
                  <div *ngIf="scheduleSelection.repeatScheduleVisible && scheduleSelection.now">
                    <cron-editor id="cron" [(cron)]="cronExpression" [options]="cronOptions"></cron-editor>
                    <!--div class="date-selection-wrapper form-inline">
                                                  <div class="form-group input-field-group">
                                                    <label for="title-field">SELECT DATE AND TIME</label>
                                                    <div class="input-field-wrapper">
                                                      <input type="datetime-local" class="form-control mx-sm-3" id="date-field" placeholder="Enter Title" [(ngModel)]="scheduleDate">
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="send-info">
                                                  <div class="info-icon">
                                                    <i class="fa fa-history"></i>
                                                  </div>
                                                  <div class="info-title">WHEN WILL IT SEND</div>
                                                  <div class="info-data">Starting at
                                                    <strong> {{ scheduleDate | date:'EEE MMM d y HH:mm:ss zzzz' }}
                                                    </strong>
                                                  </div>
                                                </div-->
                  </div>
  
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="schedule-button-wrapper">
      <button class="schedule-button btn btn-success" type="button" (click)="sendNotifications()" >Schedule</button>
    </div>
  
  </div>